{% extends "crep/crepScl02/show.html.twig" %}

{% block boutons_actions %}
{% endblock boutons_actions %}

{% block iii3 %}
    {% include 'crep/crepScl02/_include/edit/iii/3.html.twig' %}
{% endblock iii3 %}

{% block content %}
    {{ block('alertErreurValidationFormulaireCrep') }}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
    {{ parent() }}
    {{ block('bouton_enregistrer') }}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock content %}

{% block alertRefusVisa %}{% endblock alertRefusVisa %}
{% block alertRefusNotification %}{% endblock alertRefusNotification %}

{# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            {%- for error in errors -%}
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError"><i
                                class="fa fa-times-circle"></i> {{ error.message }}</label>
                </div>
            {%- endfor -%}
        </div>

    {%- endif %}
{%- endblock form_errors %}

{# Redéfinition du bloc form_row pour supprimer les marges basses sur les champs en mettant en place la classe form-group-no-margin  #}
{% block form_row -%}
    {% spaceless %}
        {{ form_errors(form) }}
        {% if label != false %}
            <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
        {% else %}
            <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            <div class="{{ block('form_group_class') }}">
        {% endif %}

        {{ form_widget(form) }}

        {% if icone is defined %}
            <span class="{{ icone }} form-control-feedback left" aria-hidden="true"></span>
        {% endif %}

        </div>
        </div>
    {% endspaceless %}
{%- endblock form_row %}