{# {% form_theme form with ['crep/crepMindef/Form/App_form_crepMindef.html.twig', _self] %}#}
{% form_theme form with ['Form/App_bootstrap_3_layout.html.twig', _self] %}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                	<th style="width: 160px">De</th>
                    <th style="width: 160px">À</th>
                    <th style="width: 140px">Durée</th>
                    <th>Affectation</th>
                    <th style="width: 385px">Libéllé long du poste</th>
                    <th>Famille professionnelle</th>
                </tr>
            </thead>
            <tbody>
                {% for emploi in form.children.emplois.children %}
                    <tr>
                    	<td>{{ form_row(emploi.dateDebut, { 'label': false}) }}</td>
                        <td>{{ form_row(emploi.dateFin, { 'label': false}) }}</td>
                        <td>{{ form_row(emploi.nombreAnneesDomaine, { 'label': false}) }}</td>
                        <td>{{ form_row(emploi.affectation, { 'label': false}) }}</td>
                        <td>{{ form_row(emploi.poste, { 'label': false}) }}</td>
                        <td>{{ form_row(emploi.familleMorgane, { 'label': false}) }}</td>
                        
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>


{% block form_error_div1 -%}
{% endblock form_error_div1 -%}
