<br/>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom de famille </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nomNaissance | upper }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom marital </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nomMarital | upper }}
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.prenom | upper }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="col-md-5 col-sm-5 col-xs-12">Situation administrative </label>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.titulaire == 1 and crep.titulaire is not null %}checked="checked"{% endif %}
                >&nbsp;&nbsp;Titulaire
            </label>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.titulaire == 0 and crep.titulaire is not null %}checked="checked"{% endif %}
                >&nbsp;&nbsp;Non titulaire
            </label>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corps </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.corps }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.grade }}
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fonction </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{% if crep.posteOccupe %}{{ crep.posteOccupe }}{% endif %}</div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Occupée depuis (format en mois / années)</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{% if crep.dateEntreePosteOccupe %}{{ crep.dateEntreePosteOccupe | date('m/Y') }}{% endif %}</div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="col-md-5 col-sm-5 col-xs-12">Activité d’encadrement  </label>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.activiteEncadrement == 1 and crep.activiteEncadrement is not null %}checked="checked"{% endif %}
                >&nbsp;&nbsp;Oui
            </label>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.activiteEncadrement == 0 and crep.activiteEncadrement is not null %}checked="checked"{% endif %}
                >&nbsp;&nbsp;Non
            </label>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre total d’agents à encadrer</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nbAgentsEncadres }}
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">dont agents de catégorie A </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nbAgentsEncadresA }}
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">dont agents de catégorie B </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nbAgentsEncadresB }}
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">dont agents de catégorie C </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nbAgentsEncadresC }}
        </div>
    </div>
</div>


<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="text-right col-md-3 col-sm-3 col-xs-12">Affectation : </label>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="text-right col-md-3 col-sm-3 col-xs-12">DIR </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.direction }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="text-right col-md-3 col-sm-3 col-xs-12">DT </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.departement }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="text-right col-md-3 col-sm-3 col-xs-12">Service </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.service }}
        </div>
    </div>
</div>
<div>
</div>
<br><br>
