{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}

	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Nous vous informons que dans le cadre de la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }}, {{ agent | identite }} n'a pas visé son compte rendu d'évaluation professionnelle dans le délai imparti.
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Vous pouvez dès à présent reprendre la main sur le CREP pour continuer le processus. Pour cela, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('crep_show',{'id' : crep.id}) }}">Accéder au CREP</a>
        </td>
    </tr> 

{% endblock %}