{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}

	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
           Nous vous informons que dans le cadre de la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }}, le compte rendu de {{ agent | identite }} a été importé au statut final "{{ agent.crep.statut | statutCrepImpression }}".
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Vous pouvez dès à présent le consulter. Pour cela, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('accueil') }}">Accéder à l'application</a>
        </td>
    </tr> 

{% endblock %}