{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}

	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Nous vous informons que dans le cadre de la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }}, {{ shd | identite }} vient d'acter votre refus de signature de compte rendu d'évaluation professionnelle , le {{ crep.dateRefusVisa | date ('d/m/Y') }} à {{ crep.dateRefusVisa | date ('H:i') }}.
		</td>
    <tr>
        <td class="content-block">
        	Vous pouvez dès à présent le consulter. Pour cela, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    <tr>
        <td class="content-block" align="center">
{#             <a class="btn_mail_link" href="{{ url('crep_show',{'id' : crep.id}) }}">Consulter mon CREP</a>#}
			<a class="btn_mail_link" href="{{ url('accueil') }}">Accéder à l'application</a>
        </td>
    </tr> 

{% endblock %}