{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}
	
	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Nous vous informons que dans le cadre de la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }}, votre évaluateur {{ shd | identite }} a rédigé et signé votre compte rendu d'évaluation professionnelle, le {{ crep.dateVisaShd | date ('d/m/Y') }} à {{ crep.dateVisaShd | date ('H:i') }}.
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Vous pouvez dès à présent le consulter et y ajouter vos observations. Pour cela, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    
    <tr>
        <td class="content-block" align="center">
{#             <a class="btn_mail_link" href="{{ url('crep_show',{'id' : crep.id}) }}">Accéder à mon CREP</a>#}
            <a class="btn_mail_link" href="{{ url('accueil') }}">Accéder à l'application</a>
        </td>
    </tr> 
    
    {% if crep.agent.campagnePnc.ministere.delaiVisa > 0 %}
        <tr>
            <td class="content-block">
            	Vous disposez d'un délai de {{ crep.agent.campagnePnc.ministere.delaiVisa }} jours pour viser votre CREP. Au-delà de ce délai, votre évaluateur pourra reprendre la main sur le CREP pour continuer le processus d'évaluation.
    		</td>
        </tr>    
    {% endif %}

{% endblock %}