{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}

	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
           Nous vous informons que dans le cadre de la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }}, {{ agent | identite }} a pris connaissance et a signé son compte rendu d'évaluation professionnelle, le {{ crep.dateNotification | date ('d/m/Y') }} à {{ crep.dateNotification | date ('H:i') }}.
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Vous pouvez dès à présent le consulter. Pour cela, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('crep_show',{'id' : crep.id}) }}">Consulter le CREP</a>
        </td>
    </tr> 

{% endblock %}