{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_6.html.twig' %}

<div class="row">
	{{ form_row(form.nomUsage, { 'label': "Nom d'usage" }) }}
    {{ form_row(form.nomNaissance, { 'label': "Nom de naissance" }) }}
</div>

<div class="row">
	{{ form_row(form.prenom, { 'label': "Prénom" }) }}
	{{ form_row(form.dateNaissance, { 'label': "Date de naissance" }) }}
</div>

<div class="row">
	{{ form_row(form.posteOccupe, { 'label': "Intitulé de la fonction" }) }}
	{{ form_row(form.service, { 'label': "Service / Direction" }) }}
</div>

<div class="row">
	{{ form_row(form.affectation, { 'label': "Établissement / Juridiction / Bureau" }) }}
	{{ form_row(form.dateEntreePoste, { 'label': "Ancienneté dans le poste" }) }}
</div>

<div class="row">
	{{ form_row(form.corps, { 'label': "Corps" }) }}
</div>

<div class="row">
	{{ form_row(form.grade, { 'label': "Grade" }) }}
</div>

<div class="row">
	{{ form_row(form.echelon, { 'label': "Échelon" }) }}
</div>

<br>