{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_6.html.twig' %}

<div class="row">
	{{ form_row(form.nomUsageShd, { 'label': "Nom de l'évaluateur" }) }}
    {{ form_row(form.prenomShd, { 'label': "Prénom" }) }}
</div>

<div class="row">
	{{ form_row(form.posteOccupeShd, { 'label': "Intitulé de la fonction" }) }}
    {{ form_row(form.serviceShd, { 'label': "Service / Direction" }) }}
</div>

<div class="row">
	{{ form_row(form.affectationShd, { 'label': "Établissement / Juridiction / Bureau" }) }}
</div>

<br>