{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}

<div class="row">
	{{ form_row(form.observationsCompetencesProfessionnelles, { 'label': "1- Compétences professionnelles"}) }}
</div>

<div class="row">
	{{ form_row(form.observationsAptitudesesProfessionnelles, { 'label': "2- Aptitude professionnelle et efficacité dans l'emploi"}) }}
</div>

<div class="row">
	{{ form_row(form.observationsQualitesRelationnelles, { 'label': "3- Qualités relationnelles"}) }}
</div>

<div class="row">
	{{ form_row(form.observationsCapacitesEncadrement, { 'label': "4- Capacités d'encadrement"}) }}
</div>

<div class="row">
	{{ form_row(form.observationsGlobale, { 'label': "Appréciation globale"}) }}
</div>

