{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}
{% set listeNiveaux =  crep.competencesActions | allNiveauCompetenceCrepMcc02 %}
<br>
{# Competences Action #}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Compétences professionnelles <br><small>(grille à compléter en intégralité)</small></th>
                {% for key, niveau in listeNiveaux %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesActions %}
                <tr>
                    <td>
                        {{ crep.competencesActions[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations :</label>
        {{ form_row(form.observationsCompetencesActions, { 'label': false}) }}
    </div>
</div>
<br>
{# Competences Relation #}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l’action</th>
                {% for key, niveau in listeNiveaux %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesRelations %}
                <tr>
                    <td>
                        {{ crep.competencesRelations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations :</label>
        {{ form_row(form.observationsCompetencesRelations, { 'label': false}) }}
    </div>
</div>
<br>
{# Competences Situation #}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à la relation</th>
                {% for key, niveau in listeNiveaux %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesSituations %}
                <tr>
                    <td>
                        {{ crep.competencesSituations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations :</label>
        {{ form_row(form.observationsCompetencesSituations, { 'label': false}) }}
    </div>
</div>
<br>

<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>

<br>
