{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}
{% set listeNiveaux =  crep.competencesActions | allNiveauCompetenceActionCrepMcc02 %}

<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Compétences professionnelles <br><small>(grille à compléter en intégralité)</small></th>
                {% for key, niveau in listeNiveaux %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesActions %}
                <tr>
                    <td>
                        {{ crep.competencesActions[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations :</label>
        {{ form_row(form.observationsCompetencesActions, { 'label': false}) }}
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l’action</th>
                {% for key, niveau in listeNiveaux %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {#{% for competence in crep.competencesRelations.toArray() %}#}
                {#<tr>#}
                    {#<td>{{ competence.libelle | nl2br }}</td>#}
                    {#{{ form_widget(competence) }}#}
                {#</tr>#}
            {#{% endfor %}#}
            </tbody>
        </table>
    </div>
</div>
<br>
{#<div class="row">#}
    {#<div class="col-md-12 col-sm-12 col-xs-12">#}
        {#<table class="table table-bordered">#}
            {#<thead>#}
            {#<tr>#}
                {#<th class="text-center">Compétences liées à la relation</th>#}
                {#<th class="text-center">Exceptionnelle*</th>#}
                {#<th class="text-center">Forte</th>#}
                {#<th class="text-center">Assez forte</th>#}
                {#<th class="text-center">À développer</th>#}
                {#<th class="text-center">Non observée</th>#}
                {#<th class="text-center">Observations</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for competence in crep.competencesRelations.toArray() %}#}
                {#<tr>#}
                    {#<td>{{ competence.libelle | nl2br }}</td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}
{#</div>#}
{#<br>#}
{#<div class="row">#}
    {#<div class="col-md-12 col-sm-12 col-xs-12">#}
        {#<table class="table table-bordered">#}
            {#<thead>#}
            {#<tr>#}
                {#<th class="text-center">Compétences liées à l’intelligence des situations</th>#}
                {#<th class="text-center">Exceptionnelle*</th>#}
                {#<th class="text-center">Forte</th>#}
                {#<th class="text-center">Assez forte</th>#}
                {#<th class="text-center">À développer</th>#}
                {#<th class="text-center">Non observée</th>#}
                {#<th class="text-center">Observations</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for competence in crep.competencesSituations.toArray() %}#}
                {#<tr>#}
                    {#<td>{{ competence.libelle | nl2br }}</td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td></td>#}
                {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}
{#</div>#}
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>

<br>
