{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}

{% set exceptionnellesCompetences = form.competencesActions | length %}
<br>
{# Competences Action #}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l'action</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesActions %}
                <tr>
                    <td>
                        {{ crep.competencesActions[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations liées à l'action :</label>
        {{ form_row(form.observationsCompetencesActions, { 'label': false}) }}
    </div>
</div>
<br>
{# Competences Relation #}
{% set competencesRelactionsMcc02 = constant('COMPETENCE_RELATION_MCC02') %}
<div class="row" id="competencesRelationsCollection" data-prototype="{{ form_widget(form.competencesRelations.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à la relation</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>

            {% if errors is empty %}

                {% for competence in form.competencesRelations %}
                    <tr>
                        <td>
                            {% if loop.index0 in crep.competencesRelations|keys %}
                                {{ crep.competencesRelations[loop.index0].libelle }}
                            {% endif %}
                        </td>
                        {{ form_widget(competence) }}
                    </tr>
                {% endfor %}

            {% else %}

                {% for key, codeNiveau in competencesRelactionsMcc02  %}
                    <tr>
                        <td>
                            {{ key }}
                        </td>

                        {% for index in 0..4 %}

                            {% set idCR =  "crep_mcc02_competencesRelations_" ~ codeNiveau ~ "_niveauAcquis_" ~ index %}
                            {% set nameCR =  "crep_mcc02[competencesRelations][" ~ codeNiveau ~ "][niveauAcquis]" %}
                            <td class="text-center">
                                <div class="form-group">
                                    <div class="radio"><label class="required">
                                            <div class="iradio_flat-green" style="position: relative;"><input type="radio"
                                                                                                              id="{{ idCR }}"
                                                                                                              name="{{ nameCR }}"
                                                                                                              required="required"
                                                                                                              class="fieldCollection iCheckCollection flat"
                                                                                                              value="{{ index }}"
                                                                                                              style="position: absolute; opacity: 0;">
                                                <ins class="iCheck-helper"
                                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}

                    </tr>

                {% endfor %}

            {% endif %}

            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations liées à la relation :</label>
        {{ form_row(form.observationsCompetencesRelations, { 'label': false}) }}
    </div>
</div>
<br>
{# Competences Situation #}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l’intelligence des situations</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>
            {% for competence in form.competencesSituations %}
                <tr>
                    <td>
                        {{ crep.competencesSituations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>observations liées à l’intelligence des situations :</label>
        {{ form_row(form.observationsCompetencesSituations, { 'label': false}) }}
    </div>
</div>
<br>

<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>
<br>
