{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}

{% set competenceActionExceptionnelle = 'false' %}
{% for competence in form.competencesActions %}
    {% for rowCompetance in competence %}
        {% if rowCompetance.vars.value == '0' %}
            {% set competenceActionExceptionnelle = 'true' %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set competenceRelationExceptionnelle = 'false' %}
{% for competence in form.competencesRelations %}
    {% for rowCompetance in competence %}
        {% if rowCompetance.vars.value == '0' %}
            {% set competenceRelationExceptionnelle = 'true' %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set competenceSituationExceptionnelle = 'false' %}
{% for competence in form.competencesSituations %}
    {% for rowCompetance in competence %}
        {% if rowCompetance.vars.value == '0' %}
            {% set competenceSituationExceptionnelle = 'true' %}
        {% endif %}
    {% endfor %}
{% endfor %}

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l'action</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>

            {% for errorIndex, error in errors %}
                {% if 'true' == competenceActionExceptionnelle %}
                    {% if (error.messageParameters['cause'] is defined and error.messageParameters['cause'] == "nbCompetenceNiveauExceptionnelle" ) %}
                        <div class="has-error">
                            <div class="col-md-12">
                                <label class="control-label has-error" style="text-align: left;" for="inputError">
                                    <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                            </div>
                        </div>
                     {% endif %}
                {% endif %}
            {% endfor %}

            {% for competence in form.competencesActions %}
                <tr>
                    <td>
                        {{ crep.competencesActions[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    {% set libelleObservationCa = 'true' %}
    {% set classeCaExceptionnelle = 'col-md-12 col-sm-12 col-xs-12' %}
    {% for errorIndex, error in errors %}
        {% if (error.messageParameters['cause_observation_action'] is defined and error.messageParameters['cause_observation_action'] == "errorObservationsCompetencesActions" ) %}
            {% set classeCaExceptionnelle = 'col-md-12 col-sm-12 col-xs-12 has-error' %}
            {% set libelleObservationCa = 'false' %}
            <div class="has-error">
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError">
                        <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="{{ classeCaExceptionnelle }}">
        {% if  libelleObservationCa == 'true' %}
            <label>Observations liées à l'action :</label>
        {% endif %}
        {{ form_row(form.observationsCompetencesActions, { 'label': false}) }}
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à la relation</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>

            {% for errorIndex, error in errors %}
                {% if 'true' == competenceRelationExceptionnelle %}
                    {% if (error.messageParameters['cause'] is defined and error.messageParameters['cause'] == "nbCompetenceNiveauExceptionnelle" ) %}
                        <div class="has-error">
                            <div class="col-md-12">
                                <label class="control-label has-error" style="text-align: left;" for="inputError">
                                    <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for competence in form.competencesRelations %}
                <tr>
                    <td>
                        {{ crep.competencesRelations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% set libelleObservationCr = 'true' %}
    {% set classeCrExceptionnelle = 'col-md-12 col-sm-12 col-xs-12' %}
    {% for errorIndex, error in errors %}
        {% if (error.messageParameters['cause_observation_relation'] is defined and error.messageParameters['cause_observation_relation'] == "errorObservationsCompetencesRelation" ) %}
            {% set classeCrExceptionnelle = 'col-md-12 col-sm-12 col-xs-12 has-error' %}
            {% set libelleObservationCr = 'false' %}
            <div class="has-error">
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError">
                        <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="{{ classeCrExceptionnelle }}">
        {% if  libelleObservationCr == 'true' %}
            <label>Observations liées à la relation :</label>
        {% endif %}
        {{ form_row(form.observationsCompetencesRelations, { 'label': false}) }}
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l’intelligence des situations</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>

            {% for errorIndex, error in errors %}
                {% if 'true' == competenceSituationExceptionnelle %}
                    {% if (error.messageParameters['cause'] is defined and error.messageParameters['cause'] == "nbCompetenceNiveauExceptionnelle" ) %}
                        <div class="has-error">
                            <div class="col-md-12">
                                <label class="control-label has-error" style="text-align: left;" for="inputError">
                                    <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for competence in form.competencesSituations %}
                <tr>
                    <td>
                        {{ crep.competencesSituations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% set libelleObservationCs = 'true' %}
    {% set classeCsExceptionnelle = 'col-md-12 col-sm-12 col-xs-12' %}
    {% for errorIndex, error in errors %}
        {% if (error.messageParameters['cause_observation_situation'] is defined and error.messageParameters['cause_observation_situation'] == "errorObservationsCompetencesSituation" ) %}
            {% set classeCsExceptionnelle = 'col-md-12 col-sm-12 col-xs-12 has-error' %}
            {% set libelleObservationCs = 'false' %}
            <div class="has-error">
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError">
                        <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="{{ classeCsExceptionnelle }}">
        {% if  libelleObservationCs == 'true' %}
            <label>Observations liées à l’intelligence des situations :</label>
        {% endif %}
        {{ form_row(form.observationsCompetencesSituations, { 'label': false}) }}
    </div>
</div>
<br>

<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>
<br>
