{% use "Form/App_bootstrap_3_layout.html.twig" %}

{% block _crep_mj01_objectifsEvalues_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.indicateurs, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultatObtenu, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{% block _crep_mj01_competencesProfessionnelles_entry_widget %}
	{%  for child in form.niveau.children %}
       	<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}


{% block _crep_mj01_aptitudesProfessionnelles_entry_widget %}
	{%  for child in form.niveau.children %}
       	<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}


{% block _crep_mj01_qualitesProfessionnelles_entry_widget %}
	{%  for child in form.niveau.children %}
       	<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}


{% block _crep_mj01_capacitesEncadrements_entry_widget %}
	{%  for child in form.niveau.children %}
       	<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}


{% block _crep_mj01_objectifsFuturs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.indicateurs, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{% block _crep_mj01_crepMj01FormationsSuivies_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection formation-autocomplete'}}) }}</td>
        <td width="160px">{{ form_row(form.duree, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{% block _crep_mj01_formationsSollicitees_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection formation-autocomplete'}}) }}</td>
        <td width="280px">{{ form_row(form.origine, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{% block _crep_mj01_formationsEnvisagees_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection formation-autocomplete'}}) }}</td>
        <td width="280px">{{ form_row(form.origine, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{###################### Fin collecions ################################}


{# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
    <div class="has-error">
    	{%- for error in errors -%}
    		<div class="col-md-12">
				<label class="control-label has-error" style="text-align: left;" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
			</div>
        {%- endfor -%}
	</div>
    
    {%- endif %}    
{%- endblock form_errors %}

{# Redéfinition du bloc form_row pour supprimer les marges basses sur les champs en mettant en place la classe form-group-no-margin  #}
{% block form_row -%}
{% spaceless %}
    {{ form_errors(form) }}
	{% if label != false %}
	    <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
	     {{ form_label(form) }}
	     <div class="{{ block('form_group_class') }}">
	{% else %}
	 	 <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
	     <div class="{{ block('form_group_class') }}">
	{% endif %}
     
        {{ form_widget(form) }}
        	
        {% if icone is defined %}
        	<span class="{{ icone }} form-control-feedback left" aria-hidden="true"></span>
		{% endif %}
           
		</div>      
    </div>
{% endspaceless %}
{%- endblock form_row %}


