{% use "Form/App_bootstrap_3_layout.html.twig" %}

{% block _crep_mcc02_objectifsEvalues_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultatObtenu, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_autresObjectifs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.indicateurs, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_objectifsFuturs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.echeance, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.observationsEventuelles, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.indicateurs, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}</td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_formationsSuivies_entry_widget %}
    <tr>
        <td>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mcc02_annee">Année</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_row(form.annee, {'label': false}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mcc02_libelle2">Formation demandée <span style="color:red;">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mcc02_libelle2">Formation suivie <span style="color:red;">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_row(form.libelle2, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mcc02_duree">Duree</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_row(form.type, {'label': false, 'attr': {'style': 'width:30%'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mcc02_commentaires">Commentaires (appréciation, bilan, suites)</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {{ form_row(form.commentaires, {'label': false}) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-danger btn-xs remove-from-collection_mcc02"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endblock %}

{% block _crep_mcc02_competencesActions_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mcc02_competencesRelations_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mcc02_competencesSituations_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mcc02_competencesRequises_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}
        </td>
        {%  for child in form.niveauAcquis.children %}
            <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection '}}) }}</td>
        {% endfor %}

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_competencesDemontrees_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}
        </td>
        {%  for child in form.niveauAcquis.children %}
            <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection '}}) }}</td>
        {% endfor %}

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_formationsT1_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td class="text-center">
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.propositionAh, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.echeance, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_formationsT2_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td class="text-center">
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.propositionAh, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.echeance, { 'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_formationsT3_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td class="text-center">
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.propositionAh, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center">
            {{ form_row(form.echeance, {'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mcc02_potentielsEvolutions_entry_widget %}
        {%  for child in form.niveauAcquis.children %}
            <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection '}}) }}</td>
        {% endfor %}
{% endblock %}

{% block _crep_mcc02_autresPotentielsEvolutions_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'fieldCollection'}}) }}
        </td>
        {%  for child in form.niveauAcquis.children %}
            <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'fieldCollection iCheckCollection '}}) }}</td>
        {% endfor %}
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{###################### Fin collecions ################################}

{# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            {%- for error in errors -%}
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
                </div>
            {%- endfor -%}
        </div>

    {%- endif %}
{%- endblock form_errors %}
