
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>1- Compétences professionnelles</dt>
            <dd class="well well-xs">
                {{ crep.observationsCompetencesProfessionnelles|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>2- Aptitude professionnelle et efficacité dans l'emploi</dt>
            <dd class="well well-xs">
                {{ crep.observationsAptitudesesProfessionnelles|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>3- Qualités relationnelles</dt>
            <dd class="well well-xs">
                {{ crep.observationsQualitesRelationnelles|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>4- Capacités d'encadrement</dt>
            <dd class="well well-xs">
                {{ crep.observationsCapacitesEncadrement|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Appréciation globale</dt>
            <dd class="well well-xs">
                {{ crep.observationsGlobale|nl2br }}
            </dd>
        </dl>
    </div>
</div>