{% use "Form/App_bootstrap_3_layout.html.twig" %}

{% block _crep_mso5_objectifsEvaluesCollectifs_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label':false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}
        </td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td class="text-center">{{ form_row(form.resultatObtenu) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_objectifsEvaluesIndividuels_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}
        </td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td class="text-center">{{ form_row(form.resultatObtenu) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_autresObjectifsEvalues_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}
        </td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td class="text-center">{{ form_row(form.resultatObtenu) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_objectifsFutursCollectifs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label':false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}})}}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_objectifsFutursIndividuels_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_autresObjectifsFuturs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td>{{ form_row(form.resultat, {'label': false, 'attr': {'maxlength': '4090', 'class': 'fieldCollection'}}) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsSuivies_entry_widget %}
    <tr>
        <td>{{ form_row(form.annee, {'attr': {'class': 'fieldCollection'}}) }}</td>

        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.commentaires, {'label':false, 'attr': {'class': 'fieldCollection'}}) }}
        </td>

        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
        </td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsT1_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td style="background-color: #E9E9E9;" class="text-center"></td>

        <td>
            {{ form_row(form.echeance, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsT2_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.echeance, { 'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsT3_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.echeance, {'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsPreparationConcours_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.echeance, {'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mso5_formationsAutres_entry_widget %}
    <tr>
        <td>
            {{ form_row(form.libelle, {'attr': {'class': 'fieldCollection formation-autocomplete '}}) }}
        </td>

        <td>
            {{ form_row(form.demandeeAgent, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.avisShd, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.cpf, { 'label': false, 'attr': {'class': 'fieldCollection'} }) }}
        </td>

        <td>
            {{ form_row(form.echeance, {'label': false, 'class': 'fieldCollection' }) }}
        </td>

        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mso5_competencesTransverses_entry_widget %}
    {% for child in form.niveauAcquis.children %}
        <td style="vertical-align: middle;">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection '}}) }}</td>
    {% endfor %}
{% endblock %}

{% block form_group_class -%}
    {% if label == false %}
        col-md-12 col-sm-12 col-xs-12
    {% else %}
        col-md-9 col-sm-9 col-xs-12
    {% endif %}
{% endblock form_group_class %}

{###################### Fin collecions ################################}


{# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
    <div class="has-error">
    	{%- for error in errors -%}
    		<div class="col-md-12">
				<label class="control-label has-error" style="text-align: left;" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
			</div>
        {%- endfor -%}
	</div>
    
    {%- endif %}    
{%- endblock form_errors %}

{# Redéfinition du bloc form_row pour supprimer les marges basses sur les champs en mettant en place la classe form-group-no-margin  #}
{% block form_row -%}
{% spaceless %}
    {{ form_errors(form) }}
	{% if label != false %}
	    <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
	     {{ form_label(form) }}
	     <div class="{{ block('form_group_class') }}">
	{% else %}
	 	 <div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
	     <div class="{{ block('form_group_class') }}">
	{% endif %}
     
        {{ form_widget(form) }}
        	
        {% if icone is defined %}
        	<span class="{{ icone }} form-control-feedback left" aria-hidden="true"></span>
		{% endif %}
           
		</div>      
    </div>
{% endspaceless %}
{%- endblock form_row %}


