<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Appréciation générale sur la valeur professionnelle de l’agent-e (résultats – compétences – manière de servir)</dt>
            <dd class="well well-xs">
                {{ crep.appreciationgenerale | nl2br }}
            </dd>
        </dl>
    </div>
</div>

<label>Potentiel d’évolution de l’agent-e</label>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Type d’emploi</th>
                <th class="text-center">Oui immédiatement</th>
                <th class="text-center">Oui à moyen terme</th>
                <th class="text-center">À confirmer</th>
                <th class="text-center">Sans objet</th>
            </tr>
            </thead>
            <tbody>

            {% for key, potentiel in crep.potentielsEvolutions %}
                <tr>
                    <td>{{ potentiel.libelle | nl2br }}</td>
                    {% for index in 0..3 %}
                        <td class="text-center">{{ potentiel.niveauAcquis|iconCheckReverse(loop.revindex0, 3)|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% if crep.autresPotentielsEvolutions is not empty %}

                {% for key, potentiel in crep.autresPotentielsEvolutions %}
                    <tr>
                        <td>{{ potentiel.libelle | nl2br }}</td>
                        {% for index in 0..2 %}
                            <td class="text-center">{{ potentiel.niveauAcquis|iconCheckReverse(loop.revindex0, 2)|raw }}</td>
                        {% endfor %}
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <dl class="m-t-md">
                    <dt>Observations</dt>
                    <dd class="well well-xs">
                        {{ crep.observationsPotentielEvolutionAgent | nl2br }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

