<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Nom</dt>
            <dd>
                {% if crep.dateRefusNotification or crep.dateNotification %}
                    {{ crep.agent.civilite|capitalize }} {{ crep.prenom|title }} {{ crep.nomUsage|capitalize }}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Date</dt>
            <dd>
                {% if crep.dateRefusNotification %}
                    Refus de signature du CREP notifié acté le {{ crep.dateRefusNotification|date('d/m/Y à H:i') }}
                {% elseif crep.dateNotification %}
                    {{ crep.dateNotification|date('d/m/Y H:i') }}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>