{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<div class="row form-group">
    <div class="col-md-3 col-sm-3 col-xs-12">
        {{ form_row(form.souhaitMobilite, {'label': "Mobilité souhaitée par l’agent :", 'label_attr': {'class' : 'radio-inline', 'style':'text-align:rigth;'}}) }}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" id="demarrage-mobilite-souhaitee">
        {{ form_row(form.demarrageMobiliteSouhaitee, {'label': false}) }}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" id="mobilite-poste-01">
        {{ form_row(form.mobilitePoste.memeService) }}
        {{ form_row(form.mobilitePoste.horsInterRegion) }}
        {{ form_row(form.mobilitePoste.region) }}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12" id="mobilite-poste-02">
        {{ form_row(form.mobilitePoste.dansLeDepartement) }}
        {{ form_row(form.mobilitePoste.dansInterRegion) }}
        {{ form_row(form.mobilitePoste.international) }}
    </div>
</div>
