{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}

<div class="row">
    <label class="col-md-12 col-sm-12 col-xs-12 pull-left">Appréciation générale sur la valeur professionnelle de l’agent-e
        (résultats – compétences – manière de servir) : </label>
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
        {{ form_row(form.appreciationGenerale, { 'label': false}) }}
    </div>
</div>
<br><br>
<label>Potentiel d’évolution de l’agent-e</label>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Type d’emploi</th>
                    <th class="text-center">Oui immédiatement</th>
                    <th class="text-center">Oui à moyen terme</th>
                    <th class="text-center">À confirmer</th>
                    <th class="text-center">Sans objet</th>
                </tr>
            </thead>
            <tbody>
            {% for potentiel in form.potentielsEvolutions %}
                {% if potentiel.vars.value.libelle != 'Autre (préciser)' %}
                    <tr>
                        <td>
                            {{ crep.potentielsEvolutions[loop.index0].libelle }}
                        </td>

                        {{ form_widget(potentiel) }}
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            {{ crep.potentielsEvolutions[loop.index0].libelle }}
                        </td>
                        <td class="text-left" colspan="4">
                            {{ form_widget(potentiel.children['appreciation']) }}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

