{% form_theme form 'crep/crepMcc02/Form/App_form_crepMcc02_12.html.twig' %}
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Souhaitez-vous que l’agent-e fasse l’objet de l’attribution d’un complément indemnitaire annuel (CIA) ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ form_row(form.attributionCia, { 'label': false, 'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'} }) }}
                    <br>
                    <br>
                    <br>
                    <label>&nbsp;&nbsp;&nbsp;Avis circonstancié :</label>
                    {{ form_row(form.explicationAttributionCia, {'label': false,'attr': {'maxlength': '4096', 'class':'champMisEnEvidence'}}) }}
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="3" class="text-center">Proposition d’inscription au prochain tableau d’avancement de grade ? </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center" style="width: 33%">
                    {{ form_widget(form.propositionAvancement[0], {'label': 'Oui'}) }}
                </td>

                <td class="text-center" style="width: 33%">
                    {{ form_widget(form.propositionAvancement[1], {'label': 'Non'}) }}
                </td>

                <td class="text-center" style="width: 33%">
                    {{ form_widget(form.propositionAvancement[2], {'label': 'Sans objet'}) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
