<div class="row form-group">
	<label>Contributions prévues</label>
	<p class="well well-xs">{{ crep.contributionsCompPrevues|nl2br }}</p>
</div>	
<div class="row form-group">
	<label>Perspectives d'évolution professionnelle :<br><u>Avis du supérieur hiérarchique </u></label>
	<p class="well well-xs">{{ crep.observationShdEvolution|nl2br }}</p>
</div>
<div class="row form-group">
	<label><u>Souhait de l'agent </u></label>
	<p class="well well-xs">{{ crep.typeEvolutionCarriere|nl2br }}</p><br>
</div>
<div class="row form-group">
	<label>Mobilité professionnelle et/ou géographique :</label>
	<p class="well well-xs">{{ crep.mobilite|nl2br }}</p>
</div>
<div class="row form-group">
	<label>Aptitude constatée à exercer des responsabilités supérieures :</label>
	<p class="well well-xs">{{ crep.priseDeResponsabilites|nl2br }}</p>
</div>
<br>
