<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Contributions prévues</label>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p class="well well-xs">{{ crep.contributionsCompPrevues|nl2br }}</p><br>
	</div>
</div>	
<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Perspectives d'évolution professionnelle :<br><u>Avis du supérieur hiérarchique </u></label>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p class="well well-xs">{{ crep.observationShdEvolution|nl2br }}</p>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label><u>Souhait de l'agent </u></label>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p class="well well-xs">{{ crep.typeEvolutionCarriere|nl2br }}</p><br><br>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Mobilité professionnelle et/ou géographique :</label>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p class="well well-xs">{{ crep.mobilite|nl2br }}</p>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Aptitude constatée à exercer des responsabilités supérieures :</label>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p class="well well-xs">{{ crep.priseDeResponsabilites|nl2br }}</p><br>
	</div>
</div>
