<style>

    .text-center {
        text-align: center;
    }

    .bordered {
        border: 1px #000000 solid;
    }

    .bg-full {
        background-color: #E9E9E9;
    }

    .strong-th {
        font-weight: bold;
    }

    body {
        font-size: 12px;
    }

    .cl-italic {
        font-style: italic;
    }

    table.padding-mcc002 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    td.padding-mcc002 {
        padding-bottom: 30px;
    }
    .bordered-left-rigth {
        border-left: 1px #000000 solid;
        border-right: 1px #000000 solid;
    }
    .bordered-left {
        border-left: 1px #000000 solid;
    }
    .bordered-top {
        border-top: 1px #000000 solid;
    }
    .bordered-bottom {
        border-bottom: 1px #000000 solid;
    }

</style>
<!-- début -->

<body>

<table>
    <tr>
        <td width="34%">
            <img src="{{ asset('images/logo_mcc02.jpg') }}" alt="MCC02" width="80" height="148">
        </td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center" style="font-size: 14px;">
                <strong>ENCADREMENT SUPÉRIEUR</strong>
                   <br><br>
                <strong>Compte rendu de l’entretien professionnel</strong>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<!-- page 1 -->

<div style="page-break-before:always;"></div>
<table>
    <tr>
        <td>
            <span style="font-size: large; font-family: 'Times New Roman',serif">MINISTÈRE DE LA CULTURE</span>
        </td>
    </tr>
</table>
<table class="height-title">
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="text-center">
                <h3>COMPTE RENDU</h3>
                <h3>DE L’ENTRETIEN PROFESSIONNEL</h3>
                <br>réalisé le : {% if crep.dateVIsaShd is not empty %} {{ crep.dateEntretien | date('d/m/Y') }} {% endif %}
                <h4>au titre de l’année : {% if crep.dateVIsaShd is not empty %} {{ anneeEvaluee }} {% endif %}</h4>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <table class="padding-mcc002">
                <tr>
                    <td colspan="3"><u>entre l’agent-e</u> :</td>
                </tr>
                <tr>
                    <td width="17%">Prénom - Nom :</td>
                    <td width="40%">{{ crep.prenom | title  ~ ' ' ~ crep.nomUsage | upper }}</td>
                    <td width="42%">Date de naissance : {% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}</td>
                </tr>
                <tr>
                    <td width="17%">Corps : </td>
                    <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
                </tr>
                <tr>
                    <td width="17%">Grade : </td>
                    <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
                </tr>
                <tr>
                    <td width="17%">Échelon :</td>
                    <td colspan="3" width="83%">{{ crep.echelon }}</td>
                </tr>
                <tr>
                    <td colspan="2" width="50%" >Nommé sur un emploi fonctionnel :
                       {% if crep.emploiFonctionnel == true %}
                           &#9745;
                       {% else %}
                           &#9744;
                       {% endif %}
                        Oui
                    </td>
                    <td width="50%">
                       {% if crep.emploiFonctionnel is not null and crep.emploiFonctionnel == false %}
                           &#9745;
                       {% else %}
                            &#9744;
                       {% endif %}
                        Non
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 7%">
                    </td>
                    <td style="width: 55%">
                        Si oui, préciser lequel et, le cas échéant, son
                        groupe :
                    </td>
                    <td width="38%">{{ crep.libelleEmploiFonctionnel }} {% if crep.libelleEmploiFonctionnel is not empty and crep.groupeEmploiFonctionnel is not empty %} - <br><br> {% endif %} {{ crep.groupeEmploiFonctionnel }} <br><br></td>
                </tr>
                <tr>
                    <td colspan="3"><u>et son supérieur hiérarchique direct</u> :</td>
                </tr>
                <tr>
                    <td colspan="1" width="17%">Prénom - Nom : </td>
                    <td colspan="2" width="83%">{{ crep.prenomShd | title ~ ' ' ~ crep.nomUsageShd | upper }}  </td>
                </tr>
                <tr>
                    <td width="17%">Corps : </td>
                    <td colspan="3" width="83%">{{ crep.corpsShd | capitalize }}</td>
                </tr>
                <tr>
                    <td width="17%">Grade : </td>
                    <td colspan="3" width="83%">{{ crep.gradeShd | capitalize }}</td>
                </tr>

                <tr>
                    <td style="width: 17%">Poste occupé :</td>
                    <td style="width: 40%">{{ crep.posteOccupeShd }}</td>
                    <td style="width: 43%">Depuis le : {% if crep.dateVIsaShd is not empty %}{{ crep.dateEntreePosteOccupeShd |  date('d/m/Y') }}{% endif %} </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<br><br><br>
<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>I – DESCRIPTION DU POSTE ET DES FONCTIONS EXERCÉES</strong></div>
        </td>
    </tr>
</table>
<br>
<br>
<table class="padding-mcc002">
    <tr>
        <td width="20%">Affectation :</td>
        <td colspan="2" width="80%">{{ crep.affectation }}</td>
    </tr>
    <tr>
        <td width="20%">Poste occupé : </td>
        <td colspan="2" width="40%">{{ crep.posteOccupe  }}</td>
        <td width="43%">Depuis le :  {% if crep.dateEntreePoste %}{{ crep.dateEntreePoste | date('d/m/Y') }}{% endif %}</td>
    </tr>
    <tr>
        <td colspan="1" width="20%">GROUPE RIFSEEP : </td>
        <td colspan="2" width="80%">{{ crep.groupeRifseep }}</td>
    </tr>
    {% if  crep.groupeRifseep is empty %}
        <tr>
            <td colspan="3"><br></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3"><br></td>
        </tr>
    {% endif %}
    <tr>
        <td class="padding-mcc002" colspan="3" width="100%">Fonctions exercées : {% if  crep.fonctionsExercees is not empty %} {{ crep.fonctionsExercees }} {% else %} <br><br>{% endif %} </td>
    </tr>
    <tr>
        <td colspan="3" width="100%">Environnement professionnel dans lequel s’exercent les fonctions : {% if  crep.groupeFonctions is not empty %} {{ crep.groupeFonctions }} {% else %} <br><br>{% endif %}</td>
    </tr>
    <tr>
        <td width="45%">La fiche de poste est-elle adaptée ?</td>
        <td width="15%">
            {% if crep.fichePosteAdaptee == true %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Oui
        </td>
        <td width="40%  ">
            {% if crep.fichePosteAdaptee is not null and crep.fichePosteAdaptee == false %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Non
        </td>
    </tr>
    <tr>
        <td width="10%"></td>
        <td width="90%">
            -  si non, sur quels points doit-elle être actualisée ?
        </td>
    </tr>
    <tr>
        <td width="10%"></td>
        <td width="90%">{{ crep.pointsActualisesFichePoste }}</td>
    </tr>
</table>


<!-- page 2 -->
<div style="page-break-before:always;"></div>
<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>II – BILAN DE L’ANNÉE ÉCOULÉE</strong></div>
        </td>
    </tr>
</table>
<br>
<br>
<table class="padding-mcc002" style="font-size: 11px;">
    <tr>
        <td width="80%">- <u>Renvoi à un document annexe (lettre de mission ou d’objectifs)</u> :
            {% if crep.docAnnexeBilan == true %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Oui
        </td>
        <td width="20%">

            {% if crep.docAnnexeBilan is not null and crep.docAnnexeBilan == false %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Non
        </td>
    </tr>
    <tr>
        <td colspan="2">- <u>Contexte de l’année écoulée (organisation et fonctionnement du service)</u> :</td>
    </tr>

    {% if  crep.contexteAnneeEcoulee is empty %}
        <tr>
            <td></td>
        </tr>
      {% else %}
        <tr>
            <td colspan="2">{{ crep.contexteAnneeEcoulee }}</td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2">- <u>Bilan et réalisation des objectifs de l’année écoulée</u> :</td>
    </tr>
</table>
<br>
<br>
<table cellpadding="5" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="31%">Objectifs</th>
        <th colspan="2" class="bordered bg-full strong-th" width="34%">Réalisation</th>
        <th class="bordered bg-full strong-th" width="35%">Commentaires</th>
    </tr>

    {% if crep.objectifsEvalues | length > 0 %}

        {% for key, objectif in crep.objectifsEvalues %}
            <tr>
                <td class="bordered" width="31%">{{ objectif.libelle | nl2br }}</td>
                <td class="bordered" width="34%">
                    <table class="text-center">
                        <tr>
                            <td width="80%" >Atteint</td>
                            <td class="bordered-left" width="20%">
                                {% if objectif.resultatObtenu == 0 %}
                                    &#9745;
                                {% else %}
                                    &#9744;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td width="80%">Partiellement atteint</td>
                            <td class="bordered-left" width="20%">
                                {% if objectif.resultatObtenu == 1 %}
                                    &#9745;
                                {% else %}
                                    &#9744;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td width="80%">Non atteint</td>
                            <td class="bordered-left" width="20%">
                                {% if objectif.resultatObtenu == 2 %}
                                    &#9745;
                                {% else %}
                                    &#9744;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td width="80%">Partiellement atteint</td>
                            <td class="bordered-left" width="20%">
                                {% if objectif.resultatObtenu == 3 %}
                                    &#9745;
                                {% else %}
                                    &#9744;
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>

                <td class="bordered" width="35%">{{ objectif.resultat | nl2br }}</td>
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered"></td>
                <td  width="29%" class="bordered">
                    <table class="text-center">
                        <tr><td width="85%">Atteint</td></tr>
                        <tr><td width="85%">Partiellement atteint</td></tr>
                        <tr><td width="85%">Non atteint</td></tr>
                        <tr><td width="85%">Partiellement atteint</td></tr>
                    </table>
                </td>

                <td width="5%" class="bordered">
                    <table>
                        <tr><td>&#9744;</td></tr>
                        <tr><td>&#9744;</td></tr>
                        <tr><td>&#9744;</td></tr>
                        <tr><td>&#9744;</td></tr>
                    </table>
                </td>
                <td class="bordered"></td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>
<table>
    <tr>
        <td>- <u>Autres dossiers ou travaux sur lesquels l’agent-e s’est investi-e en cours d’année </u>:</td>
    </tr>
</table>
<br>
<br>
<table cellpadding="5" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="34%" style="font-size: 10px;">Nature des dossiers ou travaux</th>
        <th class="bordered bg-full strong-th" width="32%" style="font-size: 10px;">Résultats obtenus par l’agent-e</th>
        <th class="bordered bg-full strong-th" width="34%" style="font-size: 10px;">Commentaires</th>
    </tr>
    {% if crep.autresObjectifs | length > 0 %}

        {% for objectif in crep.autresObjectifs %}
            <tr>
                <td class="bordered">{{ objectif.libelle | nl2br }}</td>
                <td class="bordered">{{ objectif.resultat | nl2br }}</td>
                <td class="bordered">{{ objectif.indicateurs | nl2br }}</td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>
<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>III – OBJECTIFS DE L’AGENT-E POUR L’ANNÉE : {% if crep.dateVIsaShd is not empty %} {{ crep.agent.campagnePnc.anneeEvaluee + 1 }} {% endif %}</strong></div>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td>
            <table class="padding-mcc002">
                <tr>
                    <td width="80%">- <u>Renvoi à un document annexe (lettre de mission ou d’objectifs)</u> :
                        {% if crep.docAnnexeObjectifsAvenir== true %}
                            &#9745;
                        {% else %}
                            &#9744;
                        {% endif %}
                        Oui
                    </td>
                    <td width="20%">

                        {% if crep.docAnnexeObjectifsAvenir is not null and crep.docAnnexeObjectifsAvenir == false %}
                            &#9745;
                        {% else %}
                            &#9744;
                        {% endif %}
                        Non
                    </td>
                </tr>
                <tr>
                    <td colspan="2">- <u>Contexte prévisible de l’année à venir (organisation et fonctionnement du service)</u> :</td>
                </tr>

                {% if  crep.contexteObjectifsAvenir is empty %}
                    <tr>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">{{ crep.contexteObjectifsAvenir | nl2br }}</td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </tr>
</table>

<br>
<br>
<table>
    <tr>
        <td>- <u>Objectifs assignés à l’agent-e</u> :</td>
    </tr>
</table>
<br>
<br>
<table cellpadding="5" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="35%"><div style="font-size: 5pt">&nbsp;</div>Objectifs</th>
        <th class="bordered bg-full strong-th " width="25%"><div style="font-size: 5pt">&nbsp;</div>Échéance</th>
        <th class="bordered bg-full strong-th " width="20%">Conditions de reussite</th>
        <th class="bordered bg-full strong-th " width="20%"><div style="font-size: 5pt">&nbsp;</div>Indicateurs</th>
    </tr>
    {% if crep.objectifsFuturs | length > 0 %}

        {% for objectif in crep.objectifsFuturs %}
            <tr>
                <td class="bordered">{{ objectif.libelle | nl2br }}</td>
                <td class="bordered">{{ objectif.echeance | nl2br }}</td>
                <td class="bordered">{{ objectif.observationsEventuelles | nl2br }}</td>
                <td class="bordered">{{ objectif.indicateurs | nl2br }}</td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered">
                    <br>
                </td>
                <td class="bordered">
                    <br>
                </td>
                <td class="bordered">
                    <br>
                </td>
                <td class="bordered">
                    <br>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

<!-- page 3 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>IV – EXPÉRIENCE PROFESSIONNELLE : ÉVALUATION DES ACQUIS</strong></div>
        </td>
    </tr>
</table>
<br>

<table>
    <tr>
        <td>- <u>Les compétences managériales démontrées par l’agent-e dans ses fonctions</u> </td>
    </tr>
</table>
<br>
<br>
<table cellpadding="3" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="24%" >COMPÉTENCES<br>LIÉES A L’ACTION</th>
        <th class="bordered bg-full" width="10%">exceptionnelle*</th>
        <th class="bordered bg-full text-center" width="8%">forte</th>
        <th class="bordered bg-full" width="9%">assez forte</th>
        <th class="bordered bg-full" width="15%">à développer</th>
        <th class="bordered bg-full" width="11%">non observée</th>
        <th class="bordered bg-full" width="23%">observations</th>
    </tr>
    {% for key, competence in crep.competencesActions %}
        <tr class="text-center">
            <td class="bordered">{{ competence.libelle }}</td>
            {% for index in 0..4 %}
                {% set niveauAcquis = competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw %}
                {% if niveauAcquis is not empty %}
                    <td class="bordered">X</td>
                {% else %}
                    <td class="bordered"><br></td>
                {% endif %}
            {% endfor %}
            {% if key == 0 %}
                <td class="bordered" rowspan="{{ crep.competencesActions | length }}">{{ crep.observationsCompetencesActions | nl2br }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<br>
<br>
<table cellpadding="3" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="24%">COMPÉTENCES<br>LIÉES A LA<br>RELATION</th>
        <th class="bordered bg-full" width="10%"><br><br>exceptionnelle*</th>
        <th class="bordered bg-full" width="8%"><br><br>forte</th>
        <th class="bordered bg-full" width="9%"><br><br>assez forte</th>
        <th class="bordered bg-full" width="15%"><br><br>à développer</th>
        <th class="bordered bg-full" width="11%"><br><br>non observée</th>
        <th class="bordered bg-full" width="23%"><br><br>observations</th>
    </tr>
    {% for key, competence in crep.competencesRelations %}
        <tr class="text-center">
            <td class="bordered">{{ competence.libelle }}</td>
            {% for index in 0..4 %}
                {% set niveauAcquis = competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw %}
                {% if niveauAcquis is not empty %}
                    <td class="bordered">X</td>
                {% else %}
                    <td class="bordered"><br></td>
                {% endif %}
            {% endfor %}
            {% if key == 0 %}
                <td class="bordered" rowspan="{{ crep.competencesRelations | length }}">{{ crep.observationsCompetencesRelations | nl2br }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<br>
<br>
<table cellpadding="1" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="24%">COMPÉTENCES<br>LIÉES A<br>L’INTELLIGENCE<br>DES SITUATIONS</th>
        <th class="bordered bg-full" width="10%"><br><br>exceptionnelle*</th>
        <th class="bordered bg-full" width="8%"><br><br>forte</th>
        <th class="bordered bg-full" width="9%"><br><br>assez forte</th>
        <th class="bordered bg-full" width="15%"><br><br>à développer</th>
        <th class="bordered bg-full" width="11%"><br><br>non observée</th>
        <th class="bordered bg-full" width="23%"><br><br>observations</th>
    </tr>
    {% for key, competence in crep.competencesSituations %}
        <tr class="text-center">
            <td class="bordered">{{ competence.libelle }}</td>
            {% for index in 0..4 %}
                {% set niveauAcquis = competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw %}
                {% if niveauAcquis is not empty %}
                    <td class="bordered">X</td>
                {% else %}
                    <td class="bordered"><br></td>
                {% endif %}
            {% endfor %}
            {% if key == 0 %}
                <td class="bordered" rowspan="{{ crep.competencesSituations | length }}">{{ crep.observationsCompetencesSituations | nl2br }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<br>
<table cellpadding="5">
    <tr>
        <td>
            <small style="font-size:9px;">
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences <br>
                managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations ».
            </small>
            <br><br>
            - <u>Les compétences autres que managériales démontrées par l’agent-e dans ses fonctions</u> :
        </td>
    </tr>
</table>
<br>
<table cellpadding="1" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="24%">COMPÉTENCES</th>
        <th class="bordered bg-full" width="11%">exceptionnelle*</th>
        <th class="bordered bg-full" width="8%">forte</th>
        <th class="bordered bg-full" width="9%">assez forte</th>
        <th class="bordered bg-full" width="15%">à développer</th>
        <th class="bordered bg-full" width="11%">non observée</th>
        <th class="bordered bg-full" width="22%">observations éventuelles</th>
    </tr>
    <tr>
        <td class="bordered bg-full" colspan="7">Requises dans les fonctions (à compléter à partir de la fiche de poste)</td>
    </tr>
    {% if crep.competencesRequises | length > 0 %}
        {% for key, competence in crep.competencesRequises %}
            <tr>
                <td class="bordered">{{ competence.libelle | nl2br }}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 0 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 1 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 2 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 3 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 4 %}X{% endif %}</td>
                {% if key == 0 %}
                    <td class="bordered text-center"
                        rowspan="{{ crep.competencesRequises | length }}">{{ crep.observationsCompetencesRequises | nl2br }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered" rowspan="2"></td>
            </tr>
    {% endif %}
    <tr>
        <td class="bordered bg-full" colspan="7">Autres compétences démontrées par l’agent-e</td>
    </tr>
    {% if crep.competencesDemontrees | length > 0 %}
        {% for key, competence in crep.competencesDemontrees %}
            <tr>
                <td class="bordered">{{ competence.libelle | nl2br }}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 0 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 1 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 2 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 3 %}X{% endif %}</td>
                <td class="bordered text-center">{% if competence.niveauAcquis == 4 %}X{% endif %}</td>
                {% if key == 0 %}
                    <td class="bordered text-center"
                        rowspan="{{ crep.competencesDemontrees | length  }}" style="font-size: 11px;"> {{ crep.observationsCompetencesDemontrees | nl2br }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td class="bordered"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered" rowspan="2"></td>
            </tr>
    {% endif %}

</table>

<!-- page 4 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>V – PERSPECTIVES D’ÉVOLUTION PROFESSIONNELLE DE L’AGENT-E</strong>
            </div>
        </td>
    </tr>
</table>
<br>
<br>
<div class="bordered">
    <table class="padding-mcc002">
        <tr>
            <td width="17%"><u>Prénom - Nom </u> : </td>
            <td width="40%">{{ crep.prenom | title  ~ ' ' ~ crep.nomUsage | upper }}</td>
            <td width="21%"><u>Date de naissance</u> : </td>
            <td width="21%">{% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}</td>
        </tr>
        <tr>
            <td width="17%"><u>Corps</u> : </td>
            <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Grade</u> : </td>
            <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Échelon</u> :</td>
            <td colspan="3" width="83%">{{ crep.echelon }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Affectation</u> :</td>
            <td width="40%">{{ crep.affectation }}</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td width="17%"><u>Poste occupé</u> :</td>
            <td width="40%">{{ crep.posteOccupe }}</td>
            <td width="21%"><u>Depuis le</u> :</td>
            <td width="21%">{{ crep.dateEntreePosteOccupe | date('d/m/Y') }}</td>
        </tr>
    </table>
</div>
<br>
<br>
<table cellpadding="6" style="font-size: 11px;">
    <tr>
        <td colspan="3"><strong>SOUHAITS D’ÉVOLUTION PROFESSIONNELLE DE L’AGENT-E :</strong></td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td colspan="2">
            {% if crep.souhaitEvolutionCarriere == true %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Evolution des fonctions dans le poste actuel {{ crep.souhaitEvolutionCarriere }}</td>
    </tr>
    <tr>
        <td width="5%">

        </td>
        <td colspan="2">
            {% if crep.mobilitePoste and (crep.mobilitePoste.memeService
                or crep.mobilitePoste.memeMinistere
                or crep.mobilitePoste.autreMinistere
                or crep.mobilitePoste.autreFonctionPublique
                or crep.mobilitePoste.autreProjet) %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Changement de poste
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%"></td>
        <td width="80%">
            {% if crep.mobilitePoste and crep.mobilitePoste.memeService %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            <span class="cl-italic" >Au sein du même service
                {% if crep.mobilitePoste and crep.mobilitePoste.memeService %}
                    {{ crep.mobilitePoste.memeService }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%"></td>
        <td width="90%">
            {% if crep.mobilitePoste and crep.mobilitePoste.memeMinistere %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            <span class="cl-italic" >Au sein du ministère
                {% if crep.mobilitePoste and crep.mobilitePoste.memeMinistere %}{{
                    crep.mobilitePoste.memeMinistere }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%"></td>
        <td width="90%">
            {% if crep.mobilitePoste and crep.mobilitePoste.autreMinistere %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            <span class="cl-italic" >Dans un autre ministère
                {% if crep.mobilitePoste and crep.mobilitePoste.autreMinistere %}
                    {{ crep.mobilitePoste.autreMinistere }}
                {% endif %}
             </span>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%"></td>
        <td width="90%">
            {% if crep.mobilitePoste and crep.mobilitePoste.autreFonctionPublique %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            <span class="cl-italic" >Dans une autre fonction publique
                {% if crep.mobilitePoste and crep.mobilitePoste.autreFonctionPublique %}
                    {{ crep.mobilitePoste.autreFonctionPublique }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%"></td>
        <td width="90%">
            {% if crep.mobilitePoste and crep.mobilitePoste.autreProjet %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            <span class="cl-italic" >Autre projet
                {% if crep.mobilitePoste and crep.mobilitePoste.autreProjet %}
                    {{ crep.mobilitePoste.autreProjet }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td colspan="2">
            {% if crep.mobiliteGeographique and crep.mobiliteGeographique.choix %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
            Mobilité géographique
            {% if crep.mobilitePoste and crep.mobiliteGeographique.choix %}
                {{ crep.mobiliteGeographique.choix }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="3">Description du projet (préciser les
            échéances) :{% if crep.evolutionProfessionnelleEnvisagee is not empty %}{{ crep.evolutionProfessionnelleEnvisagee | nl2br }}<br><br>{% else %}<br><br><br><br>{% endif %}</td>
    </tr>
    <tr>
        <td style="width:78%">L’agent-e souhaite-il bénéficier d’un entretien avec un conseiller mobilité – carrière ?</td>
        <td style="width:10%">{% if crep.souhaitEntretienCarriere %}&#9745;{% else %}&#9744;{% endif %} oui</td>
        <td style="width:12%">{% if crep.souhaitEntretienCarriere is not null and not crep.souhaitEntretienCarriere %}&#9745;{% else %}&#9744;{% endif %} non</td>

    </tr>
</table>
<br>
<br>
<table border="1" width="100%">
    <tr class="text-center">
        <th class="bordered bg-full strong-th">
            OBSERVATIONS ÉVENTUELLES DU-DE LA SUPÉRIEUR HIÉRARCHIQUE DIRECT
            SUR CES PERSPECTIVES D’ÉVOLUTION PROFESSIONNELLE
        </th>
    </tr>
    <tr>
        <td>{% if crep.observationsShdProjetProfessionnel is empty %}<br><br><br><br><br><br>{% else %}{{ crep.observationsShdProjetProfessionnel | nl2br }}{% endif %}</td>
    </tr>
</table>
<br>
<br>
<table border="1">
    <tr class="text-center">
        <th class="bordered bg-full strong-th">COMMENTAIRES ÉVENTUELS DE L’AGENT-E</th>
    </tr>
    <tr>
        <td>
            {% if crep.observationsAgentProjetProfessionnel is empty %}
                <br><br><br><br><br><br>
            {% else %}
                {{ crep.observationsAgentProjetProfessionnel }}
            {% endif %}
        </td>
    </tr>
</table>

<!-- page 5 -->
<div style="page-break-before:always;"></div>
<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>VI – BESOINS DE FORMATION</strong></div>
        </td>
    </tr>
</table>
<br>
<br>
<div class="bordered">
    <table class="padding-mcc002">
        <tr>
            <td width="17%"><u>Prénom - Nom </u> : </td>
            <td width="40%">{{ crep.prenom | title  ~ ' ' ~ crep.nomUsage | upper }}</td>
            <td width="21%"><u>Date de naissance</u> : </td>
            <td width="21%">{% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}</td>
        </tr>
        <tr>
            <td width="17%"><u>Corps</u> : </td>
            <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Grade</u> : </td>
            <td colspan="3" width="83%">{{ crep.corps | capitalize }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Échelon</u> :</td>
            <td colspan="3" width="83%">{{ crep.echelon }}</td>
        </tr>
        <tr>
            <td width="17%"><u>Affectation</u> :</td>
            <td width="40%">{{ crep.affectation }}</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td width="17%"><u>Poste occupé</u> :</td>
            <td width="40%">{{ crep.posteOccupe }}</td>
            <td width="21%"><u>Depuis le</u> :</td>
            <td width="21%">{{ crep.dateEntreePosteOccupe }}</td>
        </tr>
    </table>
</div>
<br>
<br>
<table>
    <tr>
        <td>
            <strong>FORMATIONS SUIVIES (ANNEES N-1 ET N-2) </strong>:
        </td>
    </tr>
</table>
<br>
<br>
<table cellpadding="1" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="8%"><div style="font-size: 5pt">&nbsp;</div>Année</th>
        <th class="bordered bg-full strong-th " width="25%"><div style="font-size: 5pt">&nbsp;</div>Formation demandée</th>
        <th class="bordered bg-full strong-th " width="25%"><div style="font-size: 5pt">&nbsp;</div>Formation suivie</th>
        <th class="bordered bg-full strong-th " width="12%"><div style="font-size: 5pt">&nbsp;</div>Durée</th>
        <th class="bordered bg-full strong-th " width="30%">Commentaires (appréciation, bilan, suites)</th>
    </tr>
    {% if crep.formationsSuivies | length > 0 %}

        {% for formation in crep.formationsSuivies %}
            <tr>
                <td class="bordered text-center">{{ formation.annee | nl2br }}</td>
                <td class="bordered">{{ formation.libelle | nl2br }}</td>
                <td class="bordered">{{ formation.libelle2 | nl2br }}</td>
                <td class="bordered text-center">{{ formation.type | nl2br }}</td>
                <td class="bordered">{{ formation.commentaires | nl2br }}</td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered"><br></td>
                <td class="bordered"><br></td>
                <td class="bordered"><br></td>
                <td class="bordered"><br></td>
                <td class="bordered"><br></td>
            </tr>
        {% endfor %}

    {% endif %}
</table>
<br>
<br>
<table>
    <tr>
        <td>
            <strong>RECUEIL DES BESOINS DE FORMATION (ANNÉES N ET N+1) </strong>:
        </td>
    </tr>
</table>
<br><br>
<table cellpadding="1" style="font-size: 11px;">
    <tr class="text-center">
        <th class="bordered bg-full" width="32%"></th>
        <th class="bordered bg-full" width="11%">Sur<br>demande de<br>l’agent-e<sup>1</sup></th>
        <th class="bordered bg-full" width="17%">Avis favorable<br>du responsable<br>hiérarchique<sup>1</sup></th>
        <th class="bordered bg-full" width="18%">Sur demande du <br>responsable <br>hiérarchique<sup>1</sup></th>
        <th class="bordered bg-full" width="11%"><div style="font-size: 5pt">&nbsp;</div>Recours au CPF<sup>2</sup></th>
        <th class="bordered bg-full" width="11%"><div style="font-size: 10pt">&nbsp;</div>Echéance</th>
    </tr>
    <tr>
        <th class="bordered bg-full text-center">Formations liées à l’adaptation immédiate au poste de travail (T1)</th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT1 | length > 0 %}
        {% for key, formation in crep.FormationsT1 %}
            <tr>
                <td class="bordered">{{ formation.libelle }}</td>
                <td class="bordered text-center">{% if formation.demandeeAgent %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.avisShd %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.propositionAh %}X{% endif %}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center">{% if formation.echeance %}{{ formation.echeance }}{% endif %}</td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"><br><br></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}

    <tr>
        <th class="bordered bg-full text-center">Formations liées à l’évolution des métiers (T2)</th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT2 | length > 0 %}
        {% for key, formation in crep.FormationsT2 %}
            <tr>
                <td class="bordered">{{ formation.libelle }}</td>
                <td class="bordered text-center">{% if formation.demandeeAgent %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.avisShd %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.propositionAh %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.cpf %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.echeance %} {{ formation.echeance }} {% endif %}</td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"><br><br></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}

    <tr>
        <th class="bordered bg-full text-center">Formations liées au développement des qualifications ou à l’acquisition de
            nouvelles qualifications (T3)
        </th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT3 | length > 0 %}
        {% for key, formation in crep.FormationsT3 %}
            <tr>
                <td class="bordered">{{ formation.libelle }}</td>
                <td class="bordered text-center">{% if formation.demandeeAgent %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.avisShd %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.propositionAh %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.cpf %}X{% endif %}</td>
                <td class="bordered text-center">{% if formation.echeance %} {{ formation.echeance }} {% endif %}</td>

            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"><br><br></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}
</table>
<br>
<table style="font-size: 9px;">
    <tr>
        <td>
            <p><sup>1</sup>Porter une coche en cas de réponse positive.<br><sup>2</sup>L’agent peut indiquer s’il souhaite utiliser son compte personnel de formation (CPF) pour la formation envisagée. Les formations liées à une adaptation au poste de travail (T1) ne peuvent être imputées sur le CPF.</p>
        </td>
    </tr>
</table>

<!-- page 6 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>VII – APPRÉCIATIONS GÉNÉRALES</strong></div>
        </td>
    </tr>
</table>

<table style="font-size: 11px;">
    <tr>
        <td>
            <div class="bordered">
                <div class="text-center">
                    <strong>APPRÉCIATION GÉNÉRALE SUR LA VALEUR PROFESSIONNELLE DE L’AGENT-E
                        <br>(RÉSULTATS – COMPÉTENCES – MANIÈRE DE SERVIR)</strong>
                </div>
                <br><br>
                {% if crep.appreciationgenerale is not empty %}{{ crep.appreciationgenerale | nl2br }}<br><br><br><br>{% else %}<br><br><br><br><br><br><br><br><br><br>{% endif %}
            </div>
        </td>
    </tr>
</table>
<br><br>

<table cellpadding="3" style="font-size: 10px;">
    <tr>
        <th class="bordered bg-full text-center" colspan="6"><strong>Potentiel d’évolution de l’agent-e</strong></th>
    </tr>
    <tr class="text-center">
        <th class="bordered bg-full" width="14%"><strong>Type d’emploi</strong></th>
        <th class="bordered bg-full" width="19%"><strong>Oui <br>immédiatement</strong></th>
        <th class="bordered bg-full" width="11%"><strong>Oui à <br> moyen <br> terme</strong></th>
        <th class="bordered bg-full" width="13%"><div style="font-size: 5pt">&nbsp;</div><strong>À <br> confirmer</strong></th>
        <th class="bordered bg-full" width="14%"><div style="font-size: 10pt">&nbsp;</div><strong>Sans objet</strong></th>
        <th class="bordered bg-full" width="29%"><div style="font-size: 10pt">&nbsp;</div><strong>Observations</strong></th>
    </tr>

    {% set rowspanObservation = crep.potentielsEvolutions | length + crep.autresPotentielsEvolutions | length + 1 %}
    {% set rowspanAutre = crep.autresPotentielsEvolutions | length + 1%}
    {% if crep.potentielsEvolutions | length > 0 %}

        {% for key, potentiel in crep.potentielsEvolutions %}
            <tr>
                <td class="bordered text-center">{{ potentiel.libelle }}</td>
                {% for index in 0..3 %}
                    <td class="bordered text-center">
                        {% if potentiel.niveauAcquis is not empty %}
                            {% if potentiel.niveauAcquis == index %}X{% endif %}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ rowspanObservation }}">{{ crep.observationsPotentielEvolutionAgent | nl2br }}</td>
                {% endif %}
            </tr>
         {% endfor %}


        {% if crep.autresPotentielsEvolutions is not empty %}
            {% for key, potentiel in crep.autresPotentielsEvolutions %}
                <tr>
                    <td class="bordered text-center">{{ potentiel.libelle }}</td>
                    {% for index in 0..2 %}
                        <td class="bordered text-center">
                            {% if potentiel.niveauAcquis is not empty %}
                                {% if potentiel.niveauAcquis == index %}X{% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="bordered"></td>
                </tr>
            {% endfor %}
        {% else  %}
            <tr>
                <td class="bordered text-center">Autre <br> (préciser)</td><td class="bordered"><br></td><td class="bordered"></td><td class="bordered"></td><td class="bordered"></td>
            </tr>
        {% endif %}
    {% endif %}
</table>
<br><br><br><br>

<table cellpadding="5" style="font-size: 10px;">
    <tr>
        <th class="bordered bg-full text-center">
            <strong>Souhaitez-vous que l’agent-e fasse l’objet de l’attribution d’un complément indemnitaire
                annuel (CIA) ?</strong>
        </th>
    </tr>
</table>
<table cellpadding="5">
    <tr>
        <td style="width: 30%; border-left: 1px #000000 solid;"></td>
        <td style="width: 20%;">
            Oui
            {% if crep.agent and crep.agent.ah and crep.attributionCia %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
        </td>

        <td style="width: 50%;border-right: 1px #000000 solid;" >
            Non
            {% if crep.agent and crep.agent.ah and not crep.attributionCia and crep.attributionCia is not null %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
        </td>
    </tr>
</table>
<table cellpadding="5" style="font-size: 10px">
    <tr>
        <th class="bordered-left-rigth bordered-top">
            <strong>Avis circonstancié</strong> :
        </th>
    </tr>
    <tr>
        <td class="bordered-left-rigth bordered-bottom">{% if crep.explicationAttributionCia is not empty %}{{ crep.explicationAttributionCia | nl2br }}<br><br>{% else %}<br><br><br><br>{% endif %}</td>
    </tr>
</table>
<br><br><br><br>

<table class="text-center bordered-bottom bordered-left-rigth bordered-top">
    <tr class="text-center">
        <th class="bg-full" colspan="3" style="border-bottom: 1px #000000 solid">
            <strong>Proposition d’inscription au prochain tableau d’avancement de grade</strong>
        </th>
    </tr>
    <tr>
        <td>
            Oui
            {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 0 and crep.propositionAvancement is not null %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
        </td>
        <td>
            Non
            {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 1 and crep.propositionAvancement is not null %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
        </td>
        <td>
            Sans objet
            {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 2 and crep.propositionAvancement is not null %}
                &#9745;
            {% else %}
                &#9744;
            {% endif %}
        </td>

    </tr>
</table>
<br><br><br><br>

<table style="font-size: 11px" class="bordered-left-rigth bordered-top bordered-bottom" cellpadding="3">
    <tr>
        <td class="text-center">
                <strong>SIGNATURE DU SUPÉRIEUR HIÉRARCHIQUE DIRECT AYANT CONDUIT L’ENTRETIEN</strong>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="3">
                <tr>
                    <td width="12%">Nom :</td>
                    <td width="88%">
                        {% if crep.shdSignataire %}
                        {{ crep.shdSignataire | identite }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="12%">Date :</td>
                    <td width="88%">{% if crep.dateVIsaShd %}{%  set dateVisaShd = crep.dateVIsaShd | date('d/m/Y H:i') %}{{ dateVisaShd  }}{% endif %}                        </td>
                </tr>
                <tr>
                    <td width="12%">Signature :</td>
                    <td width="88%">{% if crep.dateVisaShd %}CREP signé de manière dématérialisée{% endif %}<br><br></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- page 7 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td>
            <div class="bordered text-center"><strong>VIII – NOTIFICATION DU COMPTE RENDU DE L’ENTRETIEN PROFESSIONNEL</strong></div>
        </td>
    </tr>
</table>
<br><br>
<table style="font-size: 11px;" class="bordered-left-rigth bordered-bottom bordered-top" cellpadding="3">
    <tr class="text-center">
        <td>
            <strong>OBSERVATIONS ÉVENTUELLES DE L’AGENT-E</strong>
        </td>
    </tr>
    <tr>
        <td>{% if crep.observationsVisaAgent is not empty %}{{ crep.observationsVisaAgent | nl2br  }}<br><br><br><br>{% else %}<br><br><br><br><br><br><br><br>{% endif %}</td>
    </tr>
</table>

<br><br>
<table>
    <tr>
        <td>
            <div class="text-left">
                <strong>VISA ET OBSERVATIONS ÉVENTUELLES DE L’AUTORITÉ HIÉRARCHIQUE (N+2) :</strong>
            </div>
        </td>
    </tr>
</table>
<br><br>
<div class="bordered">
    <table cellpadding="6" style="font-size: 11px;">
        <tr>
            <td colspan="2" style="width: 50%">
                <strong>Nom</strong> : {% if crep.dateVisaAh %}{{ crep.ahSignataire | identite}} {% endif %}
            </td>
            <td style="width: 50%">
                <strong>Observations éventuelles</strong>  :<br> {% if crep.dateVisaAh %}{{ crep.observationsAh | nl2br }}{% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Fonction exercée</strong> : {% if crep.dateVisaAh %}{{ crep.posteOccupe }}{% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 50%">
                <strong>Date</strong> : {% if crep.dateVisaAh %}{{ crep.dateVisaAh | date('d/m/Y H:i') }} {% endif %}
            </td>
            <td style="width: 50%">
                <strong>Visa</strong> :
                {% if crep.agent and crep.agent.sansAh %}
                    <span style="color: red">L'agent est déclaré comme étant <strong>"sans N+2"</strong>. L'étape de la signature du N+2 est donc <strong>supprimée</strong>.</span>
                {% elseif crep.dateVisaAh %}
                    CREP signé de manière dématérialisée<br>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<table>
    <tr>
        <td>
            <div class="text-left">
                <strong>SIGNATURE DE L’AGENT-E :</strong>
            </div>
        </td>
    </tr>
</table>

<div class="bordered">

    <table cellpadding="10" style="font-size: 11px;">
        <tr>
            <td>
                <span style="width:300px"><strong>Date</strong> :
                    {% if crep.dateNotification is not empty %}
                        {{ crep.dateNotification |date('d/m/Y H:i') }}
                    {% elseif crep.dateRefusNotification is not empty %}
                        {{ crep.dateRefusNotification |date('d/m/Y H:i') }}
                    {% endif %}
                </span>
            </td>
            <td>
                <strong>Signature</strong>  :<br>
                {% if crep.dateNotification is not empty %}
                    CREP visé de manière dématérialisée<br>
                    {{ crep.agent.civilite | title }} {{ crep.prenom | title }} {{ crep.nomUsage | upper }}
                {% elseif crep.dateRefusNotification is not empty %}
                    <span style="color: red">L'agent a refusé de viser son CREP.</span>
                {% elseif crep.agent and crep.agent.sansAh and crep.dateVisaShd %}
                    <span style="color: red">L'agent est déclaré comme étant <strong>"sans N+2"</strong>. L'étape de visa de l'agent est donc <strong>supprimée</strong>.</span>
                {% endif %}
            </td>
        </tr>
    </table>

    <br><br> <br><br>
</div>
<br><br>
<table>
    <tr>
        <td style="font-size: 11px;" >La signature de l’agent-e vaut notification du présent document (et non approbation de son contenu).
            <br><br><u>Destinataire</u>  : dossier individuel de l’agent-e.
            <br><br><u>Copies</u> : agent-e, supérieur hiérarchique direct et chef de service.
            <br><br><br><br><strong>RECOURS ÉVENTUELS DE L’AGENT-E :</strong>
            <br><br>
            <table>
                <tr>
                    <td style="width: 2%"></td>
                    <td style="width: 96%" class="cl-italic">L’agent-e peut saisir l’autorité hiérarchique d’une demande de révision de tout ou partie du compte rendu
                        de l’entretien professionnel, dans un délai de 15 jours francs suivant la notification du présent document.
                        <br><br>L’autorité hiérarchique dispose d’un délai de 15 jours à compter de la saisine pour lui répondre.
                        L’exercice de ce recours est un préalable obligatoire à la saisine de la CAP compétente, dans un délai
                        d’un mois à compter de la réponse de l’autorité hiérarchique. L’agent-e dispose également des voies et
                        délais de recours de droit commun pour contester le compte rendu de son entretien professionnel.
                    </td>
                    <td style="width: 2%"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
