<style>


    .text-center {
        text-align: center;
    }

    .bordered {
        border: 1px #000000 solid;
    }

    .bg-full {
        background-color: #E9E9E9;
    }

    .strong-th {
        font-weight: bold;
    }

    td.h2 {
        font-family: "Times New Roman", Times, serif;
    }

    body {
        font-family: "Times New Roman", Times, serif;
    }

    .cl-italic {
        font-style: italic;
    }

    table.padding-mcc002 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    td.padding-mcc002 {
        padding-bottom: 30px;
    }
    /*.bottom-crep {*/
    /*font-family: "Arial", Times, sans-serif;*/
    /*font-size: 14px;*/
    /*font-style: italic;*/
    /*}*/

    /*pre {*/
    /*font-family: "Arial", sans-serif;*/
    /*font-size: 12px;*/
    /*}*/
    /*.text-center {*/
    /*text-align: center;*/
    /*}*/

    /*.bordered {*/
    /*border:1px #000000 solid;*/
    /*}*/

    /*.bg-full {*/
    /*background-color: #E9E9E9;*/
    /*}*/

    /*ul.recours {*/
    /*list-style-type:none;*/
    /*margin-left: 0px;*/
    /*}*/
    /*li {*/
    /*margin-bottom:15px;*/
    /*!*left: -100px;*!*/
    /*font-style: italic;*/
    /*}*/

    /*.hauteur-30  td {*/
    /*height: 30px;*/
    /*}*/

    /*td.width-3 {*/
    /*width: 3%;*/
    /*}*/
    /*td.width-97 {*/
    /*width: 97%;*/
    /*}*/
    /*td.width-50 {*/
    /*width: 50%;*/
    /*}*/
</style>
<!-- page 1 -->

<table>
    <tr>
        <td width="34%">
            <img src="{{ asset('bundles/framework/images/logo_mcc02.jpg') }}" alt="MCC02" width="80" height="148">
        </td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div style="border: 2px solid black;" class="text-center">
                <table style="border: 1px solid white;">
                    <tr>
                        <td>
                            <h2>ENCADREMENT SUPÉRIEUR</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <h2><br><br>Compte rendu de l’entretien professionnel</h2>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<!-- page 1 -->
<div style="page-break-before:always;"></div>

<table class="height-title">
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="text-center">
                <h3>COMPTE RENDU<br>DE L’ENTRETIEN PROFESSIONNEL</h3>
                <h5>réalisé le :</h5>
                <h4>au titre de l’année : {{ anneeEvaluee }}</h4>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">

            <table class="padding-mcc002">
                <tr>
                    <td colspan="2"><u>entre l’agent-e</u> :</td>
                </tr>
                <tr>
                    <td>Prénom - Nom : {{ crep.prenom | title  ~ ' - ' ~ crep.nomUsage | upper }}</td>
                    <td>Date de naissance : {% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}</td>
                </tr>
                <tr>
                    <td>Corps - Grade  : {{ crep.corps | capitalize }} - <br> {{ crep.grade | capitalize }}</td>
                    <td>Échelon : {{ crep.echelon }}</td>
                </tr>
                <tr>
                    <td colspan="2">Nommé sur un emploi fonctionnel :
                       {% if crep.emploiFonctionnel == true %}
                           &#9745;
                       {% else %}
                           &#9744;
                       {% endif %}
                        Oui
                       {% if crep.emploiFonctionnel is not null and crep.emploiFonctionnel == false %}
                           &#9745;
                       {% else %}
                            &#9744;
                       {% endif %}
                        Non
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 7%">
                    </td>
                    <td style="width: 93%">
                        Si oui, préciser lequel et, le cas échéant, son
                        groupe : <br>
                        <span class="text-center">{{ crep.libelleEmploiFonctionnel }}</span>
                        <span class="text-center">{{ crep.groupeEmploiFonctionnel }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><u>et son supérieur hiérarchique direct</u> :</td>
                </tr>
                <tr>
                    <td colspan="2">Prénom - Nom : {{ crep.prenomShd | title ~ ' - ' ~ crep.nomUsageShd | upper }}  </td>
                </tr>
                <tr>
                    <td colspan="2">Corps - Grade  : {{ crep.corpsShd | capitalize }} - {{ crep.gradeShd | capitalize }}</td>
                </tr>
                <tr>
                    <td style="width: 50%">Poste occupé : {{ crep.posteOccupeShd }}</td>
                    <td style="width: 50%">Depuis le : {{ crep.dateEntreePosteOccupeShd }} </td>
                </tr>
            </table>

        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<br><br><br>
<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>I – DESCRIPTION DU POSTE ET DES FONCTIONS EXERCÉES</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">

            <table class="padding-mcc002">
                <tr>
                    <td colspan="2">Affectation : {{ crep.affectation }}</td>
                </tr>
                <tr>
                    <td>Poste occupé : {{ crep.posteOccupe  }}</td>
                    <td>Depuis le :  {% if crep.dateEntreePoste %}{{ crep.dateEntreePoste | date('d/m/Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <td colspan="2">GROUPE RIFSEEP : {{ crep.groupeRifseep }}</td>
                </tr>
                {% if  crep.groupeRifseep is empty %}
                    {% for i in 0..1 %}
                        <tr>
                            <td><br></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="padding-mcc002" colspan="2">Fonctions exercées :</td>
                </tr>
                {% if  crep.fonctionsExercees is empty %}
                    {% for i in 0..1 %}
                        <tr>
                            <td><br></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="padding-mcc002" colspan="2"> {{ crep.fonctionsExercees }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">Environnement professionnel dans lequel s’exercent les fonctions :</td>
                </tr>
                {% if  crep.groupeFonctions is empty %}
                    {% for i in 0..1 %}
                        <tr>
                            <td><br></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">{{ crep.groupeFonctions }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>La fiche de poste est-elle adaptée ?</td>
                    <td>
                        {% if crep.fichePosteAdaptee == true %}
                            &#9745;
                        {% else %}
                            &#9744;
                        {% endif %}
                        Oui
                        {% if crep.fichePosteAdaptee is not null and crep.fichePosteAdaptee == false %}
                            &#9745;
                        {% else %}
                            &#9744;
                        {% endif %}
                        Non
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td width="90%">
                        -  si non, sur quels points doit-elle être actualisée ?
                    </td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td width="90%">
                        {{ crep.pointsActualisesFichePoste }}
                    </td>
                </tr>
            </table>

        </td>
        <td style="width: 2%"></td>
    </tr>
</table>

<!-- page 2 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>II – BILAN DE L’ANNÉE ÉCOULÉE</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>

<table>
<tr>
    <td style="width: 2%"></td>
    <td style="width: 96%">
        <table class="padding-mcc002">
            <tr>
                <td width="80%">- <u>Renvoi à un document annexe (lettre de mission ou d’objectifs)</u> :</td>
                <td width="20%">
                    {% if crep.docAnnexeBilan == true %}
                        &#9745;
                    {% else %}
                        &#9744;
                    {% endif %}
                    Oui
                    {% if crep.docAnnexeBilan is not null and crep.docAnnexeBilan == false %}
                        &#9745;
                    {% else %}
                        &#9744;
                    {% endif %}
                    Non
                </td>
            </tr>
            <tr>
                <td colspan="2">- <u>Contexte de l’année écoulée (organisation et fonctionnement du service)</u> :</td>
            </tr>

            {% if  crep.contexteAnneeEcoulee is empty %}
                {% for i in 0..1 %}
                    <tr>
                        <td><br></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">{{ crep.contexteAnneeEcoulee }}</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">- <u>Bilan et réalisation des objectifs de l’année écoulée</u> :</td>
            </tr>
        </table>
    </td>
    <td style="width: 2%"></td>
</tr>
</table>

<br>
<br>
<table cellpadding="5">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="31%">Objectifs</th>
        <th colspan="2" class="bordered bg-full strong-th" width="34%">Réalisation</th>
        <th class="bordered bg-full strong-th" width="35%">Commentaires</th>
    </tr>
    {% if crep.objectifsEvalues | length > 0 %}

        {% for key, objectif in crep.objectifsEvalues %}
            {% set echelleEvaluation = ['&#9744;', '&#9744;', '&#9744;', '&#9744;'] %}
            {% set echelleEvaluation = setElementArray(echelleEvaluation, objectif.resultatObtenu, '&#9745;') %}
            <tr>
                <td class="bordered">
                    {{ objectif.libelle | nl2br }}
                </td>

                <td  width="29%" class="bordered">
                    <table class="text-center">
                        <tr>
                            <td width="85%">Atteint</td>
                        </tr>
                        <tr>
                            <td width="85%">Partiellement atteint</td>
                        </tr>
                        <tr>
                            <td width="85%">Non atteint</td>
                        </tr>
                        <tr>
                            <td width="85%">Partiellement atteint</td>
                        </tr>
                    </table>
                </td>

                <td width="5%" class="bordered">
                    <table>
                        <tr>
                            <td>{{ echelleEvaluation[0] | raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ echelleEvaluation[1] | raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ echelleEvaluation[2] | raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ echelleEvaluation[3] | raw }}</td>
                        </tr>
                    </table>
                </td>
                <td class="bordered">
                    {{ objectif.resultat | nl2br }}
                </td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">

                    <table>
                        <tr>
                            <td style="border-right:1px solid #00CC00" class="text-center" width="90%">Atteint</td>
                            <td width="10%">&#9744;</td>
                        </tr>
                        <tr>
                            <td class="text-center" width="90%">Partiellement atteint</td>
                            <td width="10%">&#9744;</td>
                        </tr>
                        <tr>
                            <td class="text-center" width="90%"> Non atteint</td>
                            <td width="10%">&#9744;</td>
                        </tr>
                        <tr>
                            <td class="text-center" width="90%">Devenu sans objet</td>
                            <td width="10%">&#9744;</td>
                        </tr>
                    </table>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

<br/><br/>
- <u>Autres dossiers ou travaux sur lesquels l’agent-e s’est investi-e en cours d’année </u>:<br>
<br>
<table cellpadding="5">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="35%"><h5>Nature des dossiers ou travaux</h5></th>
        <th class="bordered bg-full strong-th" width="30%"><h5>Résultats obtenus par l’agent-e</h5></th>
        <th class="bordered bg-full strong-th" width="35%"><h5>Commentaires</h5></th>
    </tr>
    {# Afficher des lignes vides si la collection d'objectifs est vide (pour l'export d'un crep vierge) #}
    {% if crep.autresObjectifs | length > 0 %}

        {% for objectif in crep.autresObjectifs %}
            {#{% set echelleEvaluation = ['&#9744;', '&#9744;', '&#9744;', '&#9744;'] %}#}
            {#{% set echelleEvaluation = setElementArray(echelleEvaluation, objectif.resultat, '&#9745;')  %} #}{# <==> echelleEvaluation[objectif.resultatObtenu] = '&#9745;' #}
            <tr>
                <td class="bordered">
                    {{ objectif.libelle | nl2br }}
                </td>
                <td class="bordered">
                    {{ objectif.resultat }}
                </td>
                <td class="bordered">
                    {{ objectif.indicateurs | nl2br }}
                </td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>
<br>
<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>III – Objectifs de l’agent-e pour l’année : 2018</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>
<br>
- <u>Renvoi à un document annexe (lettre de mission ou
    d’objectifs)</u> : □ oui        □ non {{ crep.docAnnexeObjectifsAvenir }} <br>

- <u>Contexte prévisible de l’année à venir (organisation et fonctionnement du
    service)</u> : {{ crep.contexteObjectifsAvenir }} <br>
<br>
<br>
- <u>Objectifs assignés à l’agent-e</u> :
<br>
<table cellpadding="5">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" width="30%">
            <div style="font-size: 5pt">&nbsp;</div>
            OBJECTIFS
        </th>
        <th class="bordered bg-full strong-th" width="20%">
            <div style="font-size: 5pt">&nbsp;</div>
            OECHEANCE
        </th>
        <th class="bordered bg-full strong-th" width="20%">CONDITIONS DE REUSSITE</th>
        <th class="bordered bg-full strong-th" width="30%">
            <div style="font-size: 5pt">&nbsp;</div>
            OINDICATEURS
        </th>
    </tr>
    {# Afficher des lignes vides si la collection d'objectifs est vide (pour l'export d'un crep vierge) #}
    {% if crep.objectifsFuturs | length > 0 %}

        {% for objectif in crep.objectifsFuturs %}
            <tr>
                <td class="bordered">
                    {{ objectif.libelle | nl2br }}
                </td>
                <td class="bordered">
                    {{ objectif.echeance | nl2br }}
                </td>
                <td class="bordered">
                    {{ objectif.observationsEventuelles | nl2br }}
                </td>
                <td class="bordered">
                    {{ objectif.indicateurs | nl2br }}
                </td>
            </tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
            <tr>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
                <td class="bordered">
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

<!-- page 3 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>IV – EXPÉRIENCE PROFESSIONNELLE : ÉVALUATION DES ACQUIS</strong>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>
- <u>Les compétences managériales démontrées par l’agent-e dans ses fonctions</u> :<br>
<br>
<table cellpadding="2">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="26%">COMPÉTENCES<br>LIÉES A L’ACTION</th>
        <th class="bordered bg-full" width="11%">exceptionnelle*</th>
        <th class="bordered bg-full" width="8%">
            <div style="font-size: 5pt">&nbsp;</div>
            forte
        </th>
        <th class="bordered bg-full" width="9%">assez forte</th>
        <th class="bordered bg-full" width="15%">
            <div style="font-size: 5pt">&nbsp;</div>
            à développer
        </th>
        <th class="bordered bg-full" width="11%">non observée</th>
        <th class="bordered bg-full" width="20%">
            <div style="font-size: 5pt">&nbsp;</div>
            observations
        </th>
    </tr>

    {% if crep.competencesActions | length > 0 %}
        {% for key, competence in crep.competencesActions %}
            <tr>
                <td class="bordered text-center">{{ competence.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ crep.competencesActions | length }}">{{ crep.observationsCompetencesActions }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if i == 0 %}
                    <td class="bordered" rowspan="2"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>
<table cellpadding="2">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="26%">COMPÉTENCES<br>LIÉES A LA<br>RELATION</th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            exceptionnelle*
        </th>
        <th class="bordered bg-full" width="8%">
            <div style="font-size: 10pt">&nbsp;</div>
            forte
        </th>
        <th class="bordered bg-full" width="9%">
            <div style="font-size: 5pt">&nbsp;</div>
            assez forte
        </th>
        <th class="bordered bg-full" width="15%">
            <div style="font-size: 10pt">&nbsp;</div>
            à développer
        </th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            non observée
        </th>
        <th class="bordered bg-full" width="20%">
            <div style="font-size: 10pt">&nbsp;</div>
            observations
        </th>
    </tr>

    {% if crep.competencesRelations | length > 0 %}
        {% for key, competence in crep.competencesRelations %}
            <tr>
                <td class="bordered text-center">{{ competence.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ crep.competencesRelations | length }}">{{ crep.observationsCompetencesRelations }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if i == 0 %}
                    <td class="bordered" rowspan="2"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<table cellpadding="2">
    <tr class="text-center">
        <th class="bordered bg-full strong-th " width="26%">COMPÉTENCES<br>LIÉES A<br>L’INTELLIGENCE<br>DES SITUATIONS
        </th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            exceptionnelle*
        </th>
        <th class="bordered bg-full" width="8%">
            <div style="font-size: 10pt">&nbsp;</div>
            forte
        </th>
        <th class="bordered bg-full" width="9%">
            <div style="font-size: 5pt">&nbsp;</div>
            assez forte
        </th>
        <th class="bordered bg-full" width="15%">
            <div style="font-size: 10pt">&nbsp;</div>
            à développer
        </th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            non observée
        </th>
        <th class="bordered bg-full" width="20%">
            <div style="font-size: 10pt">&nbsp;</div>
            observations
        </th>
    </tr>

    {% if crep.competencesSituations | length > 0 %}
        {% for key, competence in crep.competencesSituations %}
            <tr>
                <td class="bordered text-center">{{ competence.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ crep.competencesSituations | length }}">{{ crep.observationsCompetencesSituations }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if i == 0 %}
                    <td class="bordered" rowspan="2"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
</table>

<br>
* Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences <br>
managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
<br>
<br>
- Les compétences autres que managériales démontrées par l’agent-e dans ses fonctions :<br>
<br>

<table cellpadding="2">
    <tr class="text-center">

        <th class="bordered bg-full strong-th " width="26%">COMPÉTENCES</th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            exceptionnelle*
        </th>
        <th class="bordered bg-full" width="8%">
            <div style="font-size: 10pt">&nbsp;</div>
            forte
        </th>
        <th class="bordered bg-full" width="9%">
            <div style="font-size: 5pt">&nbsp;</div>
            assez forte
        </th>
        <th class="bordered bg-full" width="15%">
            <div style="font-size: 10pt">&nbsp;</div>
            à développer
        </th>
        <th class="bordered bg-full" width="11%">
            <div style="font-size: 5pt">&nbsp;</div>
            non observée
        </th>
        <th class="bordered bg-full" width="20%">
            <div style="font-size: 10pt">&nbsp;</div>
            observations éventuelles
        </th>
    </tr>
    <tr>
        <td class="bordered bg-full" colspan="7">Requises dans les fonctions (à compléter à partir de la fiche de
            poste)
        </td>
    </tr>
    {% if crep.competencesRequises | length > 0 %}
        {% for key, competence in crep.competencesRequises %}
            <tr>
                <td class="bordered text-center">{{ competence.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ crep.competencesRequises | length }}">{{ crep.observationsCompetencesRequises }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if i == 0 %}
                    <td class="bordered" rowspan="2"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}

    <tr>
        <td class="bordered bg-full" colspan="7">Autres compétences démontrées par l’agent-e</td>
    </tr>
    {% if crep.competencesDemontrees | length > 0 %}
        {% for key, competence in crep.competencesDemontrees %}
            <tr>
                <td class="bordered" width="20%">{{ competence.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if key == 0 %}
                    <td class="bordered"
                        rowspan="{{ crep.observationsCompetencesDemontrees | length }}">{{ crep.observationsCompetencesDemontrees }}</td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
            <tr>
                <td class="bordered"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                {% if i == 0 %}
                    <td class="bordered" rowspan="3"></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}

</table>

<!-- page 4 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>V – PERSPECTIVES D’ÉVOLUTION PROFESSIONNELLE DE L’AGENT-E</strong>
            </div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <table class="bordered">
                <tr>
                    <td>&nbsp;<u>Prénom - Nom </u>: {{ crep.prenom | title  ~ ' - ' ~ crep.nomUsage | upper }}</td>
                    <td>&nbsp;<u>Date de naissance</u>
                        : {% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}</td>
                </tr>
                <tr>
                    <td>&nbsp;<u>Corps - Grade</u> : {{ crep.corps }} - {{ crep.grade }}</td>
                    <td>&nbsp;<u>Échelon</u> : {{ crep.echelon }}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;<u>Affectation</u> : {{ crep.affectation }}</td>
                </tr>
                <tr>
                    <td>&nbsp;<u>Poste occupé</u> : {{ crep.posteOccupe }}</td>
                    <td>&nbsp;<u>Depuis le</u> : {{ crep.dateEntreePosteOccupe }}</td>
                </tr>
            </table>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>
<br>
<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <table>
                <tr>
                    <td colspan="3"><strong>SOUHAITS D’ÉVOLUTION PROFESSIONNELLE DE L’AGENT-E :</strong></td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td colspan="2">
                        <input type="checkbox" name="souhait-evolution" value="1"
                               {% if crep.souhaitEvolutionCarriere %}checked="checked"{% endif %}
                        >
                        Evolution des fonctions dans le poste actuel {{ crep.souhaitEvolutionCarriere }}</td>
                </tr>
                <br>
                <tr>
                    <td width="5%">

                    </td>
                    <td colspan="2">
                        <input type="checkbox" name="changement" value="1"
                                {% if crep.mobilitePoste and (crep.mobilitePoste.memeService
                                    or crep.mobilitePoste.memeMinistere
                                    or crep.mobilitePoste.autreMinistere
                                    or crep.mobilitePoste.autreFonctionPublique
                                    or crep.mobilitePoste.autreProjet) %}
                                    checked="checked"
                                {% endif %}
                        >
                        Changement de poste
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td class="cl-italic" width="80%">
                        <input type="checkbox" name="mobilite-poste" value="1"
                               {% if crep.mobilitePoste and crep.mobilitePoste.memeMinistere %}checked="checked"{% endif %}
                        >
                        Au sein du même service {{ crep.mobilitePoste.memeService }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td class="cl-italic" width="90%">
                        <input type="checkbox" name="meme-service" value="1"
                               {% if crep.mobilitePoste and crep.mobilitePoste.memeMinistere %}checked="checked"{% endif %}
                        >
                        Au sein du ministère {{ crep.mobilitePoste.memeMinistere }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td class="cl-italic" width="90%">
                        <input type="checkbox" name="autre-ministere" value="1"
                               {% if crep.mobilitePoste and crep.mobilitePoste.autreMinistere %}checked="checked"{% endif %}
                        >
                        Dans un autre ministère {{ crep.mobilitePoste.autreMinistere }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td class="cl-italic" width="90%">
                        <input type="checkbox" name="autre-fonction-publique" value="1"
                               {% if crep.mobilitePoste and crep.mobilitePoste.autreFonctionPublique %}checked="checked"{% endif %}
                        >
                        Dans une autre fonction publique {{ crep.mobilitePoste.autreFonctionPublique }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td class="cl-italic" width="90%">
                        <input type="checkbox" name="autre-projet" value="1"
                               {% if crep.mobilitePoste and crep.mobilitePoste.autreProjet %}checked="checked"{% endif %}
                        >
                        Autre projet {{ crep.mobilitePoste.autreProjet }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td width="5%"></td>
                    <td colspan="2">
                        <input type="checkbox" name="mobilite-geographique" value="1"
                               {% if crep.mobiliteGeographique and crep.mobiliteGeographique.choix %}checked="checked"{% endif %}
                        >
                        Mobilité géographique {{ crep.mobiliteGeographique.choix }}
                    </td>
                </tr>
                <br>
                <tr>
                    <td colspan="3">Description du projet (préciser les
                        échéances) : {{ crep.evolutionProfessionnelleEnvisagee }}</td>
                </tr>
                <br>
                <br>
                <br>
                <tr>
                    <td colspan="3">L’agent-e souhaite-il bénéficier d’un entretien avec un conseiller mobilité –
                        carrière ?
                        <input type="checkbox" name="autre-projet" value="1"
                               {% if crep.souhaitEntretienCarriere %}checked="checked"{% endif %}
                        >
                        oui
                        <input type="checkbox" name="autre-projet" value="1"
                               {% if crep.souhaitEntretienCarriere is not null and not crep.souhaitEntretienCarriere %}checked="checked"{% endif %}
                        >
                        non
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>


<br>
{#L’agent-e souhaite-il bénéficier d’un entretien avec un conseiller mobilité – carrière ?  □ oui     □ non   {{ crep.souhaitEntretienCarriere }}<br>#}
{#<br>#}
<table border="1" width="100%">
    <tr class="text-center">
        <th class="bordered bg-full strong-th">
            OBSERVATIONS ÉVENTUELLES DU-DE LA SUPÉRIEUR HIÉRARCHIQUE DIRECT
            SUR CES PERSPECTIVES D’ÉVOLUTION PROFESSIONNELLE
        </th>
    </tr>
    <tr>
        <td>
            {% if crep.observationsShdProjetProfessionnel is empty %}
                <br>
                <br>
            {% else %}
                {{ crep.observationsShdProjetProfessionnel }}
            {% endif %}
        </td>
    </tr>
</table>
<br>
<br>
<table border="1">
    <tr class="text-center">
        <th class="bordered bg-full strong-th">COMMENTAIRES ÉVENTUELS DE L’AGENT-E</th>
    </tr>
    <tr>
        <td>
            {% if crep.observationsAgentProjetProfessionnel is empty %}
                <br>
                <br>
            {% else %}
                {{ crep.observationsAgentProjetProfessionnel }}
            {% endif %}
        </td>
    </tr>
</table>

<!-- page 5 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>VI – BESOINS DE FORMATION</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>

<table>
    <tr>
        <td width="45%" style="line-height:25pt;">
            Prénom - Nom : {{ crep.prenom | title  ~ ' - ' ~ crep.nomUsage | upper }}<br>
            Date de naissance : {% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}<br>
            Corps - Grade  : {{ crep.corps }} - {{ crep.grade }}
            Échelon : {{ crep.echelon }}<br>
            Affectation : {{ crep.affectation }}<br>
            Poste occupé : {{ crep.posteOccupe }} Depuis le : {{ crep.dateEntreePosteOccupe }}
        </td>
    </tr>
</table>
<br>
<br>
FORMATIONS SUIVIES (ANNEES N-1 ET N-2) :<br>
<br>
<table border="1">
    <tr class="text-center">
        <th class="bordered bg-full strong-th" style="width: 12%">
            <div style="font-size: 5pt">&nbsp;</div>
            Année
        </th>
        <th class="bordered bg-full strong-th" style="width: 36%">
            <div style="font-size: 5pt">&nbsp;</div>
            Formation suivie
        </th>
        <th class="bordered bg-full strong-th" style="width: 12%">
            <div style="font-size: 5pt">&nbsp;</div>
            Durée
        </th>
        <th class="bordered bg-full strong-th" style="width: 40%">Commentaires (appréciation, bilan, suites)</th>
    </tr>
    {% if crep.formationsSuivies is empty %}
        {% for index in 0..2 %}
            <tr align="left" bgcolor="#FFFFFF">
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% else %}
        {% for formation in crep.formationsSuivies %}
            <tr>
                <td>{{ formation.annee | nl2br }}</td>
                <td>{{ formation.libelle | nl2br }}</td>
                <td>{{ formation.duree | nl2br }}</td>
                <td>{{ formation.commentaires | nl2br }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>
RECUEIL DES BESOINS DE FORMATION (ANNÉES N ET N+1) :<br><br>
<table cellpadding="2">
    <tr class="text-center">
        <th class="bordered bg-full" width="30%"></th>
        <th class="bordered bg-full" width="12%">Sur<br>demande de<br>l’agent-e<sup>1</sup></th>
        <th class="bordered bg-full" width="14%">Avis favorable<br>du responsable<br>hiérarchique<sup>1</sup></th>
        <th class="bordered bg-full" width="17%">Sur demande du <br>responsable <br>hiérarchique<sup>1</sup></th>
        <th class="bordered bg-full" width="15%">Recours au CREP<sup>2</sup></th>
        <th class="bordered bg-full" width="12%">Echéance</th>
    </tr>
    <tr>
        <th class="bordered bg-full">Formations liées à l’adaptation immédiate au poste de travail (T1)</th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT1 | length > 0 %}
        {% for key, formation in crep.FormationsT1 %}
            <tr>
                <td class="bordered" width="20%">{{ formation.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}

    <tr>
        <th class="bordered bg-full">Formations liées à l’évolution des métiers (T2)</th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT2 | length > 0 %}
        {% for key, formation in crep.FormationsT2 %}
            <tr>
                <td class="bordered" width="20%">{{ formation.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}

    <tr>
        <th class="bordered bg-full">Formations liées au développement des qualifications ou à l’acquisition de
            nouvelles qualifications (T3)
        </th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
        <th class="bordered bg-full"></th>
    </tr>
    {% if crep.FormationsT3 | length > 0 %}
        {% for key, formation in crep.FormationsT3 %}
            <tr>
                <td class="bordered" width="20%">{{ formation.libelle }}</td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
                <td class="bordered text-center"></td>
            </tr>
        {% endfor %}

    {% else %}
        <tr>
            <td class="bordered"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
            <td class="bordered text-center"></td>
        </tr>
    {% endif %}


</table>
<br>
<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
    <sup>1 </sup>Porter une coche en cas de réponse positive.<br>
    <sup>2 </sup>L’agent peut indiquer s’il souhaite utiliser son CPF pour la formation envisagée.
    Les formations liées à une adaptation immédiate au poste de travail ne peuvent être imputées sur le CPF.
</p>

<!-- page 6 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>VII – APPRÉCIATIONS GÉNÉRALES</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>

<br>
<p class="text-center">1)</p>
<br>
<table border="1">
    <tr class="text-center">
        <td style="border-bottom: none">
            APPRÉCIATION GÉNÉRALE SUR LA VALEUR PROFESSIONNELLE DE L’AGENT-E
            (RÉSULTATS – COMPÉTENCES – MANIÈRE DE SERVIR)
            <br>
            <br>
            {{ crep.appreciationgenerale }}
            <br>
            <br>
        </td>
    </tr>
</table>
<br>
<p class="text-center">2)</p>
<br>


<table cellpadding="2">
    <tr>
        <th class="bordered bg-full" text-center
        " colspan="6"><strong>Potentiel d’évolution de l’agent-e</strong></th>
    </tr>
    <tr class="text-center">
        <th class="bordered bg-full"><strong>Type d’emploi</strong></th>
        <th class="bordered bg-full"><strong>Oui <br>immédiatement</strong></th>
        <th class="bordered bg-full"><strong>Oui à <br> moyen <br> terme</strong></th>
        <th class="bordered bg-full"><strong>À <br> confirmer</strong></th>
        <th class="bordered bg-full"><strong>Sans objet</strong></th>
        <th class="bordered bg-full"><strong>Observations</strong></th>
    </tr>

    {% if crep.potentielsEvolutions | length > 0 %}
        {% for key, potentiel in crep.potentielsEvolutions %}

            <tr>
                <td class="bordered text-center">{{ potentiel.libelle | nl2br }}</td>
                {% for index in 0..3 %}
                    <td class="bordered text-center">{{ potentiel.niveauAcquis|iconCheckReverse(loop.revindex0, 3)|raw }}</td>
                {% endfor %}
                {% if key == 0 %}
                    <td rowspan="{{ crep.potentielsEvolutions | length }}"
                        class="bordered text-center">{{ crep.observationsPotentielEvolutionAgent | nl2br }}</td>
                {% endif %}
            </tr>

        {% endfor %}
    {% endif %}
</table>


<br>
<p class="text-center">3)</p>
<br>

<table border="1">
    <tr class="text-center">
        <th class="bordered bg-full" colspan="3">
            <strong>Souhaitez-vous que l’agent-e fasse l’objet de l’attribution d’un complément indemnitaire
                annuel (CIA) ?</strong>
        </th>
    </tr>
    <tr class="text-center">
        <td>
            Oui
        </td>
        <td>
            Non
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Avis circonstancié :
            <p class="text-center">
                {{ crep.explicationAttributionCia }}
            </p>
        </td>
    </tr>
</table>

<br>
<p class="text-center">4)</p>
<br>
<table border="1">
    <tr class="text-center">
        <th class="bordered bg-full" colspan="3">
            <strong>Proposition d’inscription au prochain tableau d’avancement de grade</strong>
        </th>
    </tr>
    <tr class="text-center">
        <td>
            Oui
        </td>
        <td>
            Non
        </td>
        <td>
            Sans objet
        </td>
    </tr>
</table>
<br>
<p class="text-center">5)</p>
<br>
<table border="1">
    <tr>
        <td>
            <h4 class="text-center">SIGNATURE DU SUPÉRIEUR HIÉRARCHIQUE DIRECT AYANT CONDUIT L’ENTRETIEN</h4>
            <br>
            Nom: {{ crep.shdSignataire }}
            <br>
            Date: {{ crep.dateVisaShd }}
            <br>
            Signature:
        </td>
    </tr>
</table>

<!-- page 7 -->
<div style="page-break-before:always;"></div>

<table>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 96%">
            <div class="bordered text-center"><strong>VIII – NOTIFICATION DU COMPTE RENDU DE L’ENTRETIEN
                    PROFESSIONNEL</strong></div>
        </td>
        <td style="width: 2%"></td>
    </tr>
</table>
<br>


<br>
<table border="1">
    <tr>
        <td>
            <h4 class="text-center">OBSERVATIONS ÉVENTUELLES DE L’AGENT-E</h4>
            <br>
            {{ crep.observationsVisaAgent }}
        </td>
    </tr>
</table>

<br><br>
<strong>VISA ET OBSERVATIONS ÉVENTUELLES DE L’AUTORITÉ HIÉRARCHIQUE (N+2) :</strong><br>
<table border="1">
    <tr>
        <td>
            Nom: {{ crep.ahSignataire }}
            <br>
            Fonction exercée : {{ crep.posteOccupe }}
            <br>
            Date: {{ crep.dateVisaAh }}
            <br>
            Visa:
        </td>
        <td>
            Observations éventuelles : {{ crep.observationsAh }}
        </td>
    </tr>
</table>

<br><br>
<strong>SIGNATURE DE L’AGENT-E :</strong><br>

<table border="1">
    <tr>
        <td>
            <p>
				<span style="width:300px">Date:
                    {% if crep.dateNotification is not empty %}
                        {{ crep.dateNotification }}
                    {% elseif crep.dateRefusNotification is not empty %}
                        {{ crep.dateRefusNotification }}
                    {% endif %}
				</span>
                Signature :
            </p>

            <br>
        </td>
    </tr>
</table>
<br><br>
La signature de l’agent-e vaut notification du présent document (et non approbation de son contenu).
<br><br>
<u>Destinataire</u> : dossier individuel de l’agent-e.
<br><br>
<u>Copies</u> : agent-e, supérieur hiérarchique direct et chef de service.
<br>
<br>
<strong>RECOURS ÉVENTUELS DE L’AGENT-E :</strong>
<ul class="recours">
    <li>
        L’agent-e peut saisir l’autorité hiérarchique d’une demande de révision de tout ou partie du compte rendu
        de l’entretien professionnel, dans un délai de 15 jours francs suivant la notification du présent document.
        <br><br>
        L’autorité hiérarchique dispose d’un délai de 15 jours à compter de la saisine pour lui répondre.
        L’exercice de ce recours est un préalable obligatoire à la saisine de la CAP compétente, dans un délai
        d’un mois à compter de la réponse de l’autorité hiérarchique. L’agent-e dispose également des voies et
        délais de recours de droit commun pour contester le compte rendu de son entretien professionnel.
    </li>
</ul>

