<style>
	.text-center {
		text-align: center;
	}

	.bordered {
		border:1px #000000 solid;
	}

	.bg-full {
		background-color: #E9E9E9;
	}

	ul.demo {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>
<!-- page 1 -->
<table>
	<tr>
		<td width="34%">
			<img src="{{ asset('bundles/framework/images/logo_mcc02.jpg') }}" alt="MCC02" width="100" height="126">
		</td>
	</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <table border="1">
        <tr>
            <td>
                <div align="center">
                    <h2>ENCADREMENT SUPÉRIEUR<br/>
                        <small>Compte rendu de l’entretien professionnel</small>
                    </h2>
                </div>
            </td>
        </tr>
    </table>
</div>


<!-- page 1 -->
<div style="page-break-before:always;"></div>
<p align="center">
	<h2>
		COMPTE RENDU DE L’ENTRETIEN PROFESSIONNEL<br/>
		Année : {{ anneeEvaluee }}
	</h2>
</p>

<br/><br/><br/>

<table>
	<tr>
		<td width="45%" style="line-height:25pt;">
			Prénom -  Nom :  {{ crep.prenom | title  ~ ' - ' ~ crep.nomUsage | upper }}<br>
			Date de naissance : {% if crep.dateNaissance %} {{ crep.dateNaissance | date('d/m/Y') }} {% endif %}<br>
			Corps -  Grade  :  {{ crep.corps }} - {{ crep.grade }}
			Échelon : {{ crep.echelon }}<br>

			Nommé sur un emploi fonctionnel :  {{ crep.emploiFonctionnel }}<br>

			Si oui, préciser lequel et, le cas échéant, son groupe : {{ crep.libelleEmploiFonctionnel ~ ' ' ~ crep.groupeEmploiFonctionnel }}<br>

			et son supérieur hiérarchique direct :<br>

			Prénom – Nom : {{ crep.prenomShd ~ ' - ' ~ crep.nomUsageShd }} <br>

			Corps -  Grade  :  {{ crep.corpsShd }} - {{ crep.gradeShd }}

			{#Poste occupé :	{{ crep.posteOccupeShd }}		Depuis le : {{ crep.dateEntreePosteOccupeShd }}#}

		</td>
	</tr>
</table>
<br>
<!-- page 2 -->
<div style="page-break-before:always;"></div>

{#<div class="bordered text-center"><strong>I – Description du poste et des fonctions exercées<</strong>#}

<table>
	<tr>
		<td>
			Affectation : {{ crep.affectation }}<br>
			{#Poste occupé :	{{ crep.posteOccupe }} 					Depuis le : {{ crep.dateEntreePoste }}<br>#}
			GROUPE RIFSEEP : {{ crep.groupeRifseep }} <br>
			<br>
			<br>
			Fonctions exercées : {{ crep.fonctionsExercees }}<br>
			<br>
			<br>
			Environnement professionnel dans lequel s’exercent les fonctions : {{ crep.groupeFonctions }}<br>
			La fiche de poste est-elle adaptée ?		□ oui		□ non   {{ crep.fichePosteAdaptee }}<br>
			si non, sur quels points doit-elle être actualisée ? {{ crep.pointsActualisesFichePoste }}<br>
		</td>
	</tr>
</table>
<!-- page 3 -->
<div style="page-break-before:always;"></div>
<div>II – Bilan de l’année écoulée</div>

- Renvoi à un document annexe (lettre de mission ou d’objectifs) : □ oui		□ non {{ crep.docAnnexeBilan }} <br>

- Contexte de l’année écoulée (organisation et fonctionnement du service) : {{ crep.contexteAnneeEcoulee }} <br>


- Bilan et réalisation des objectifs de l’année écoulée :
<br>
<table cellpadding="5">
	<tr class="text-center">
		<th class="bordered" width="38%">Objectifs</th>
		<th class="bordered" width="25%">Réalisation</th>
		<th class="bordered" width="37%">Commentaires</th>
	</tr>

    {# Afficher des lignes vides si la collection d'objectifs est vide (pour l'export d'un crep vierge) #}
    {% if crep.objectifsEvalues | length > 0 %}

        {% for objectif in crep.objectifsEvalues %}
            {% set echelleEvaluation = ['&#9744;', '&#9744;', '&#9744;', '&#9744;'] %}
            {% set echelleEvaluation = setElementArray(echelleEvaluation, objectif.resultatObtenu, '&#9745;')  %} {# <==> echelleEvaluation[objectif.resultatObtenu] = '&#9745;' #}
			<tr>
				<td class="bordered">
                    {{ objectif.libelle | nl2br}}
				</td>
				<td class="bordered">
                    {{ echelleEvaluation[3] | raw }} Atteint <br>
                    {{ echelleEvaluation[2] | raw }} Partiellement atteint <br>
                    {{ echelleEvaluation[1] | raw }} Non atteint <br>
                    {{ echelleEvaluation[0] | raw }} Devenu sans objet
				</td>
				<td class="bordered">
                    {{ objectif.indicateurs | nl2br }}
				</td>
			</tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
			<tr>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					&#9744; Atteint <br>
					&#9744; Partiellement atteint <br>
					&#9744; Non atteint <br>
					&#9744; Devenu sans objet
				</td>
				<td class="bordered">
					<br><br>
				</td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<br/><br/>
- Autres dossiers ou travaux sur lesquels l’agent-e s’est investi-e en cours d’année :<br>
<br>
<table cellpadding="5">
	<tr class="text-center">
		<th class="bordered" width="38%">Nature des dossiers ou travaux</th>
		<th class="bordered" width="25%">Résultats obtenus par l’agent-e</th>
		<th class="bordered" width="37%">Commentaires</th>
	</tr>

    {# Afficher des lignes vides si la collection d'objectifs est vide (pour l'export d'un crep vierge) #}
    {% if crep.autresObjectifs | length > 0 %}

        {% for objectif in crep.autresObjectifs %}
            {#{% set echelleEvaluation = ['&#9744;', '&#9744;', '&#9744;', '&#9744;'] %}#}
            {#{% set echelleEvaluation = setElementArray(echelleEvaluation, objectif.resultat, '&#9745;')  %} #}{# <==> echelleEvaluation[objectif.resultatObtenu] = '&#9745;' #}
			<tr>
				<td class="bordered">
                    {{ objectif.libelle | nl2br}}
				</td>
				<td class="bordered">
					{{ objectif.resultat }}
				</td>
				<td class="bordered">
                    {{ objectif.indicateurs | nl2br }}
				</td>
			</tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
			<tr>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					<br><br>
				</td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<div>III – Objectifs de l’agent-e pour l’année : 2018</div>

- Renvoi à un document annexe (lettre de mission ou d’objectifs) : □ oui		□ non {{ crep.docAnnexeObjectifsAvenir }} <br>

- Contexte prévisible de l’année à venir (organisation et fonctionnement du service) : {{ crep.contexteObjectifsAvenir }} <br>


- Objectifs assignés à l’agent-e :
<br>
<table cellpadding="5">
	<tr class="text-center">
		<th class="bordered">OBJECTIFS</th>
		<th class="bordered">ECHEANCE</th>
		<th class="bordered">CONDITIONS DE REUSSITE</th>
		<th class="bordered">INDICATEURS</th>
	</tr>

    {# Afficher des lignes vides si la collection d'objectifs est vide (pour l'export d'un crep vierge) #}
    {% if crep.objectifsFuturs | length > 0 %}

        {% for objectif in crep.objectifsFuturs %}
			<tr>
				<td class="bordered">
                    {{ objectif.libelle | nl2br}}
				</td>
				<td class="bordered">
                    {{ objectif.echeance | nl2br}}
				</td>
				<td class="bordered">
                    {{ objectif.observationsEventuelles | nl2br}}
				</td>
				<td class="bordered">
                    {{ objectif.indicateurs | nl2br}}
				</td>
			</tr>
        {% endfor %}

    {% else %}

        {% for i in 0..2 %}
			<tr>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					<br><br>
				</td>
				<td class="bordered">
					<br><br>
				</td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<br/><br/>

<!-- page 4 -->
<div style="page-break-before:always;"></div>

<div>IV – Expérience professionnelle : évaluation des acquis</div>

- Les compétences managériales démontrées par l’agent-e dans ses fonctions :<br>


<table cellpadding="2">
	<tr class="text-center">
		<th class="bordered" width="20%">COMPÉTENCES LIÉES A L’ACTION</th>
		<th class="bordered">exceptionnelle*</th>
		<th class="bordered">forte</th>
		<th class="bordered">assez forte</th>
		<th class="bordered">à développer</th>
		<th class="bordered">non observée</th>
		<th class="bordered">observations</th>
	</tr>

    {% if crep.competencesActions | length > 0 %}
            {% for key, competence in crep.competencesActions %}
				<tr>
					<td class="bordered" width="20%">{{ competence.libelle }}</td>
                    {#{% for index in 0..4 %}#}
                    {#<td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw }}</td>#}
                    {#{% endfor %}#}
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered">{{ crep.observationsCompetencesActions }}</td>
				</tr>
            {% endfor %}

    {% else %}
        {% for i in 0..2 %}
			<tr>
				<td class="bordered"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered"></td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<br><br>

<table cellpadding="2">
	<tr class="text-center">
		<th class="bordered" width="20%">COMPÉTENCES LIÉES A LA RELATION</th>
		<th class="bordered">exceptionnelle*</th>
		<th class="bordered">forte</th>
		<th class="bordered">assez forte</th>
		<th class="bordered">à développer</th>
		<th class="bordered">non observée</th>
		<th class="bordered">observations</th>
	</tr>

    {% if crep.competencesRelations | length > 0 %}
            {% for key, competence in crep.competencesRelations %}
				<tr>
					<td class="bordered" width="20%">{{ competence.libelle }}</td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered text-center"></td>
					<td class="bordered">{{ crep.observationsCompetencesRelations }}</td>
				</tr>
            {% endfor %}

    {% else %}
        {% for i in 0..2 %}
			<tr>
				<td class="bordered"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered"></td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<br><br>

<table cellpadding="2">
	<tr class="text-center">
		<th class="bordered" width="20%">COMPÉTENCES LIÉES A L’INTELLIGENCE DES SITUATIONS</th>
		<th class="bordered">exceptionnelle*</th>
		<th class="bordered">forte</th>
		<th class="bordered">assez forte</th>
		<th class="bordered">à développer</th>
		<th class="bordered">non observée</th>
		<th class="bordered">observations</th>
	</tr>

    {% if crep.competencesSituations | length > 0 %}
        {% for key, competence in crep.competencesSituations %}
			<tr>
				<td class="bordered" width="20%">{{ competence.libelle }}</td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered">{{ crep.observationsCompetencesSituations }}</td>
			</tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
			<tr>
				<td class="bordered"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered"></td>
			</tr>
        {% endfor %}
    {% endif %}
</table>

<br><br>
* Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences <br>
managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».<br>
<br>
- Les compétences autres que managériales démontrées par l’agent-e dans ses fonctions :<br>
<br><br>

<table cellpadding="2">
	<tr class="text-center">
		<th class="bordered" width="20%">COMPÉTENCES</th>
		<th class="bordered">exceptionnelle</th>
		<th class="bordered">forte</th>
		<th class="bordered">assez forte</th>
		<th class="bordered">à développer</th>
		<th class="bordered">non observée</th>
		<th class="bordered">observations éventuelles</th>
	</tr>
	<tr>
		<td class="bordered" colspan="7">Requises dans les fonctions (à compléter à partir de la fiche de poste)</td>
	</tr>
    {% if crep.competencesRequises | length > 0 %}
        {% for key, competence in crep.competencesRequises %}
			<tr>
				<td class="bordered" width="20%">{{ competence.libelle }}</td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				{% if key == 0 %}
					<td class="bordered" rowspan="{{ crep.competencesRequises | length }}">{{ crep.observationsCompetencesRequises }}</td>
				{% endif %}
			</tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
			<tr>
				<td class="bordered"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
                {% if i == 0 %}
					<td class="bordered" rowspan="3"></td>
                {% endif %}
			</tr>
        {% endfor %}
    {% endif %}

	<tr>
		<td class="bordered" colspan="7">Autres compétences démontrées par l’agent-e</td>
	</tr>
    {% if crep.competencesDemontrees | length > 0 %}
        {% for key, competence in crep.competencesDemontrees %}
			<tr>
				<td class="bordered" width="20%">{{ competence.libelle }}</td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
                {% if key == 0 %}
					<td class="bordered" rowspan="{{ crep.observationsCompetencesDemontrees | length }}">{{ crep.observationsCompetencesDemontrees }}</td>
                {% endif %}
			</tr>
        {% endfor %}

    {% else %}
        {% for i in 0..2 %}
			<tr>
				<td class="bordered"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
				<td class="bordered text-center"></td>
                {% if i == 0 %}
					<td class="bordered" rowspan="3"></td>
                {% endif %}
			</tr>
        {% endfor %}
    {% endif %}

</table>
<table>

</table>

<br><br>