{% extends "crep/crepMcc02/mcc02.base.html.twig" %}

{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}

{% block content %}
{% if errors| length > 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <strong>Le formulaire de CREP n'est pas valide.</strong><br>
	Veuillez rectifier votre saisie.
</div>
{% endif %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
    {{ parent() }}
    {{ block('bouton_enregistrer') }}
    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
{% endblock content %}

{% block i01 %}
    {% include 'crep/crepMcc02/_include/edit/0/1.html.twig' %}
{% endblock i01 %}

{% block i02 %}
	{% include 'crep/crepMcc02/_include/edit/0/2.html.twig' %}
{% endblock i02 %}

{% block i1 %}
    {% include 'crep/crepMcc02/_include/edit/i/1.html.twig' %}
{% endblock i1 %}

{% block i2 %}
    {% include 'crep/crepMcc02/_include/edit/i/2.html.twig' %}
{% endblock i2 %}

{% block i3 %}
    {% include 'crep/crepMcc02/_include/edit/i/3.html.twig' %}
{% endblock i3 %}

{% block ii1 %}
	{% include 'crep/crepMcc02/_include/edit/ii/1.html.twig' %}
{% endblock ii1 %}

{% block ii2 %}
    {% include 'crep/crepMcc02/_include/edit/ii/2.html.twig' %}
{% endblock ii2 %}

{% block ii3 %}
    {% include 'crep/crepMcc02/_include/edit/ii/3.html.twig' %}
{% endblock ii3 %}

{% block ii4 %}
    {% include 'crep/crepMcc02/_include/edit/ii/4.html.twig' %}
{% endblock ii4 %}

{% block iii1 %}
    {% include 'crep/crepMcc02/_include/edit/iii/1.html.twig' %}
{% endblock iii1 %}

{% block iii2 %}
    {% include 'crep/crepMcc02/_include/edit/iii/2.html.twig' %}
{% endblock iii2 %}

{% block iii3 %}
    {% include 'crep/crepMcc02/_include/edit/iii/3.html.twig' %}
{% endblock iii3 %}

{% block iv1 %}
    {% include 'crep/crepMcc02/_include/edit/iv/1.html.twig' %}
{% endblock iv1 %}

{% block iv2 %}
    {% include 'crep/crepMcc02/_include/edit/iv/2.html.twig' %}
{% endblock iv2 %}

{% block v1 %}
    {% include 'crep/crepMcc02/_include/edit/v/1.html.twig' %}
{% endblock v1 %}

{% block vi1 %}
    {% include 'crep/crepMcc02/_include/edit/vi/1.html.twig' %}
{% endblock vi1 %}

{% block vi2_1 %}
    {% include 'crep/crepMcc02/_include/edit/vi/2_1.html.twig' %}
{% endblock vi2_1 %}

{% block vi2_2 %}
    {% include 'crep/crepMcc02/_include/edit/vi/2_2.html.twig' %}
{% endblock vi2_2 %}

{% block vi2_3 %}
    {% include 'crep/crepMcc02/_include/edit/vi/2_3.html.twig' %}
{% endblock vi2_3 %}

{% block vii1 %}
    {% include 'crep/crepMcc02/_include/edit/vii/1.html.twig' %}
{% endblock vii1 %}

{% block vii2 %}
    {% include 'crep/crepMcc02/_include/edit/vii/2.html.twig' %}
{% endblock vii2 %}

{% block vii3 %}
    {% include 'crep/crepMcc02/_include/edit/vii/3.html.twig' %}
{% endblock vii3 %}

{% block viii1 %}
    {% include 'crep/crepMcc02/_include/edit/viii/1.html.twig' %}
{% endblock viii1 %}

{% block viii2 %}
    {% include 'crep/crepMcc02/_include/edit/viii/2.html.twig' %}
{% endblock viii2 %}

{% block viii3 %}
    {% include 'crep/crepMcc02/_include/edit/viii/3.html.twig' %}
{% endblock viii3 %}

{% block viii4 %}
    {% include 'crep/crepMcc02/_include/edit/viii/4.html.twig' %}
{% endblock viii4 %}

{% block javascripts %}
    {{ parent() }}
    <!-- chained -->
    <script src="{{ asset('bundles/framework/cisirh/js/chained.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function() {


            var crepCollections = new Crep.Collections();
            // 0 Emploi fonctionnel
            var libelleEmploiFonctionnel = $("#crep_mcc02_libelleEmploiFonctionnel");
            var groupeEmploiFonctionnel = $("#crep_mcc02_groupeEmploiFonctionnel");

            isCacheBloc(libelleEmploiFonctionnel, groupeEmploiFonctionnel);

            if ($("#crep_mcc02_emploiFonctionnel_0") && $("#crep_mcc02_emploiFonctionnel_1")) {
                if ($("#crep_mcc02_emploiFonctionnel_0").attr('checked')) {
                    isCacheBloc(libelleEmploiFonctionnel, groupeEmploiFonctionnel, false);
                }
            }

            $("#crep_mcc02_emploiFonctionnel_0").on('ifChanged', function(){
                isCacheBloc(libelleEmploiFonctionnel, groupeEmploiFonctionnel, false);
            });

            $("#crep_mcc02_emploiFonctionnel_1").on('ifChanged', function(){
                isCacheBloc(libelleEmploiFonctionnel, groupeEmploiFonctionnel);
            });

            // I Fiche de poste
            var pointsActualisesFichePoste = $("#crep_mcc02_pointsActualisesFichePoste");
            isCacheBloc(pointsActualisesFichePoste);

            if ($("#crep_mcc02_fichePosteAdaptee_0") && $("#crep_mcc02_fichePosteAdaptee_1")) {
                if ($("#crep_mcc02_fichePosteAdaptee_0").attr('checked')) {
                    isCacheBloc(pointsActualisesFichePoste);
                }
            }

            $("#crep_mcc02_fichePosteAdaptee_0").on('ifChanged', function(){
                isCacheBloc(pointsActualisesFichePoste);
            });

            $("#crep_mcc02_fichePosteAdaptee_1").on('ifChanged', function(){
                isCacheBloc(pointsActualisesFichePoste, false, false);
            });
        });

        //Fonction permettant de cacher ou non un bloc selon un choix de button radio
        function isCacheBloc(id1, id2 = false, isHide = true){
            var label1 = id1.parent().parent().find('label');
            if (id2) {
                var label2 = id2.parent().parent().find('label');
            }

            if (isHide) {
                label1.hide();
                id1.hide();
                if (id2) {
                    label2.hide();
                    id2.hide();
                }
            }else {
                label1.show();
                id1.show();
                if (id2) {
                    label2.show();
                    id2.show();
                }
            }
        }


        // checkbox parent
        jQuery('#crep_mcc02_changementPoste').on('ifChanged', function() {


            var allItems = jQuery('#crep_mcc02_mobilitePoste').find(':checkbox').first().siblings();
            var aItems = [];
            allItems.each(function()
            {
                listeCheckbox = allItems.find(':checkbox').first().siblings();
                aItems = listeCheckbox.prevObject.prevObject.prevObject.prevObject.prevObject;
            });

            if (jQuery(this).is(':checked')) {
                for (var i = 0; i < aItems.length; i++) {
                    jQuery(  '#' + aItems[i].id  ).parent().addClass('checked');

                }
            } else {
                for (var i = 0; i < aItems.length; i++) {
                    jQuery(  '#' + aItems[i].id  ).parent().removeClass('checked');
                }
            }
        });


        // memeService
        eventOnCheckbowChild("crep_mcc02_mobilitePoste_memeService",  'crep_mcc02_mobilitePoste', 'crep_mcc02_changementPoste');
        // memeMinistere
        eventOnCheckbowChild("crep_mcc02_mobilitePoste_memeMinistere",  'crep_mcc02_mobilitePoste', 'crep_mcc02_changementPoste');
        // autreMinistere
        eventOnCheckbowChild("crep_mcc02_mobilitePoste_autreMinistere",  'crep_mcc02_mobilitePoste', 'crep_mcc02_changementPoste');
        // autreFonctionPublique
        eventOnCheckbowChild("crep_mcc02_mobilitePoste_autreFonctionPublique",  'crep_mcc02_mobilitePoste', 'crep_mcc02_changementPoste');
        // autreProjet
        eventOnCheckbowChild("crep_mcc02_mobilitePoste_autreProjet",  'crep_mcc02_mobilitePoste', 'crep_mcc02_changementPoste');



        /**
         * Control si tout le groupe checkbox est false
         *
         * @param aItems
         * @returns {boolean}
         */
        function isCheckboxChecked(aItems) {
            var statutParentCheckbox = false;
            for (var i = 0; i < aItems.length; i++) {
                var htmlData = jQuery(  '#' + aItems[i].id  );
                var isChecked = htmlData.find('input');

                statusCheckbox = isChecked.prevObject[0].checked;
                if (statusCheckbox === true) {
                    statutParentCheckbox = true;
                }
            }

            return statutParentCheckbox;
        }

        /**
         * Evenement checked ou unchecked sur le checkbox enfant
         *
         * @param childID
         * @param divChildID
         * @param parentID
         */
        function eventOnCheckbowChild(childID,  divChildID, parentID) {
            jQuery('#'+childID).on('ifChanged', function() {
                var allItems = jQuery('#'+divChildID).find(':checkbox').first().siblings();
                var aItems = [];
                allItems.each(function() {
                    listeCheckbox = allItems.find(':checkbox').first().siblings();
                    aItems = listeCheckbox.prevObject.prevObject.prevObject.prevObject.prevObject;
                });
                // control statut sur tous les checkboxs
                var parentStatut = isCheckboxChecked(aItems);

                if (jQuery(this).is(':checked')) {
                    var isChecked = true;
                    for (var i = 0; i < aItems.length; i++) {
                        if (childID === aItems[i].id) {
                            jQuery(  '#' + aItems[i].id  ).parent().addClass('checked');
                            if (parentStatut) {
                                jQuery('#'+parentID).parent().addClass('checked');
                            }
                        }
                    }

                } else {
                    for (var i = 0; i < aItems.length; i++) {
                        if (childID === aItems[i].id) {
                            jQuery(  '#' + aItems[i].id  ).parent().removeClass('checked');
                            if (parentStatut === false) {
                                jQuery('#'+parentID).parent().removeClass('checked');
                            }
                        }
                    }
                }
            });
        }

    </script>
{% endblock javascripts %}
