{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Contribution prévues.</label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		{{ form_widget(form.contributionsCompPrevues,{'attr': {'maxlength': '4096'}}) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Perspectives d'évolution professionnelle :<br><u>Avis du supérieur hiérarchique </u></label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		{{ form_widget(form.observationShdEvolution,{'attr': {'maxlength': '4096'}}) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label><u>Souhait de l'agent </u></label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		{{ form_widget(form.typeEvolutionCarriere,{'attr': {'maxlength': '4096'}}) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Mobilité professionnelle et/ou géographique :</label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		{{ form_widget(form.mobilite,{'attr': {'maxlength': '4096'}}) }}
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Aptitude constatée à exercer des responsabilités supérieures :</label>
	</div>
</div>
<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			{{ form_widget(form.priseDeResponsabilites,{'attr': {'maxlength': '4096'}}) }}
		</div>
</div>
<br>
