<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nomUsage|upper }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.prenom|title }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.dateNaissance %}{{ crep.dateNaissance  | date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Catégorie</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.categorie %}{{ crep.categorie }}{% endif %}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corps</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.corps }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.grade }}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Échelon</label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.echelon }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Affectation : (direction, service, sous direction,
            bureau,…) </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.directionAffectation }}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de prise de fonctions </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.datePriseFonctions %}{{ crep.datePriseFonctions|date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>



