<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Contraintes</th>
                <th style="width: 10%" class="text-center">Faibles</th>
                <th style="width: 10%" class="text-center">Moyennes</th>
                <th style="width: 10%" class="text-center">Fortes</th>
                <th style="width: 10%" class="text-center">Très fortes</th>
                <th style="width: 10%" class="text-center">Non pertinent</th>
                <th style="width: 25%" class="text-center">Expliciter</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.contraintesPostes is not empty %}
                {% for contraintePoste in crep.contraintesPostes %}
                    <tr>
                        <td>
                            {{ contraintePoste.libelle }}
                        </td>
                        {% for index in 0..4 %}
                            <td class="text-center">{{ contraintePoste.niveauDifficulte|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                        <td>
                            {{ contraintePoste.observations|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for index in 0..1 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Autres contraintes</th>
                <th style="width: 10%" class="text-center">Faibles</th>
                <th style="width: 10%" class="text-center">Moyennes</th>
                <th style="width: 10%" class="text-center">Fortes</th>
                <th style="width: 10%" class="text-center">Très fortes</th>
                <th style="width: 10%" class="text-center">Non pertinent</th>
                <th style="width: 25%" class="text-center">Expliciter</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.autresContraintesPostes is not empty %}

                {% for autreContraintePoste in crep.autresContraintesPostes %}
                    <tr>
                        <td>
                            {{ autreContraintePoste.libelle }}
                        </td>
                        {% for index in 0..4 %}
                            <td class="text-center">{{ autreContraintePoste.niveauDifficulte|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                        <td>
                            {{ autreContraintePoste.observations|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for i in 0..1 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
