<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-9 col-md-offset-1 col-sm-12  col-xs-12 col-sm-offset-0 col-xs-offset-0">
            {{ form_widget(form.souhaitEvolutionCarriere, {'label': "Évolution des fonctions dans le poste actuel" }) }}
        </div>


            {{ form_widget(form.mobiliteGeographique) }}


        <div class="col-md-9 col-md-offset-1 col-sm-12  col-xs-12 col-sm-offset-0 col-xs-offset-0">
            <input type="checkbox" class="flat pull-right" disabled="disabled"
                   {% if crep.mobilitePoste and (crep.mobilitePoste.memeService
                       or crep.mobilitePoste.memeMinistere
                       or crep.mobilitePoste.autreMinistere
                       or crep.mobilitePoste.autreFonctionPublique
                       or crep.mobilitePoste.autreProjet) %}
                        checked="checked"
                    {% endif %}>
            <label class="control-label">Changement de poste</label>
            {{ form_widget(form.mobilitePoste) }}
        </div>


        <div class="">

        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-12">
        <label>Description du projet (préciser les échéances) : </label>
        {{ form_widget(form.evolutionProfessionnelleEnvisagee) }}
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label class="control-label col-md-6 col-sm-6 col-xs-12" style="text-align:left;">L’agent-e souhaite-il bénéficier d’un entretien avec un conseiller mobilité – carrière ?</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_row(form.souhaitEntretienCarriere, {'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'}}) }}
        </div>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="7">Observations éventuelles du-de la supérieur hiérarchique direct
                    sur ces perspectives d’évolution professionnelle</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if crep.observationsShdProjetProfessionnel  %}
                    <td>{{ crep.observationsShdProjetProfessionnel }}</td>
                    {% else %}
                        <td><br><br><br></td>
                    {% endif %}
                </tr>
            </tbody>

        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="7">Commentaires éventuels de l’agent-e</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><br><br><br></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<br>

