<br/>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Affectation </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.affectation|title }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Poste occupé </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.posteOccupe }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Depuis le </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.dateEntreePoste %}{{ crep.dateEntreePoste | date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Groupe rifseep </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.groupeRifseep }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Fonctions exercées </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.fonctionsExercees }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Environnement professionnel dans lequel s’exercent les fonctions </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.groupeFonctions }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">La fiche de poste est-elle adaptée ? </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.fichePosteAdaptee == true %}checked="checked"{% endif %}
                >
            </label> Oui<label class="control-label">&nbsp;</label>
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.fichePosteAdaptee == false %}checked="checked"{% endif %}
                >
            </label> Non
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">si non, sur quels points doit-elle être actualisée ? </label>
        <div class="col-md-8 col-sm-8 col-xs-12 well well-xs">
            {{ crep.pointsActualisesFichePoste }}
        </div>
    </div>
</div>

<br>
