{% extends "crep/crepMinefAbc/minef.base.html.twig" %}
{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}

{% block content %}
    {{ block('alertErreurValidationFormulaireCrep') }}
 	{{ block('alertAhNonIdentifie') }}
	{{ block('alertDebutEntretien') }}
    {{ block('alertRefusVisa') }}
    {{ block('alertRecours') }}
    {{ block('alertRefusNotification') }}
    {{ block('renvoyerAh') }}
    {{ block('renvoyerAgent') }}
    
	<div class="form-horizontal">
        {{ parent() }}
	</div>
	{{ block('boutons_actions') }}
{% endblock content %}

{% block i01 %}
	{% include 'crep/crepMinefAbc/_include/show/0/1.html.twig' %}
{% endblock i01 %}

{% block i02 %}
	{% include 'crep/crepMinefAbc/_include/show/0/2.html.twig' %}
{% endblock i02 %}

{% block i03 %}
	{% include 'crep/crepMinefAbc/_include/show/0/3.html.twig' %}
{% endblock i03 %}

{% block i1 %}
	{% include 'crep/crepMinefAbc/_include/show/i/1.html.twig' %}
{% endblock i1 %}

{% block i2 %}
	{% include 'crep/crepMinefAbc/_include/show/i/2.html.twig' %}
{% endblock i2 %}

{% block i3 %}
	{% include 'crep/crepMinefAbc/_include/show/i/3.html.twig' %}
{% endblock i3 %}

{% block ii1 %}
	{% include 'crep/crepMinefAbc/_include/show/ii/1.html.twig' %}
{% endblock ii1 %}

{% block iii1 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/1.html.twig' %}
{% endblock iii1 %}

{% block iii1_commentaireAgent %}
    {% include 'crep/crepMinefAbc/_include/show/iii/1_commentaireAgent.html.twig' %}
{% endblock iii1_commentaireAgent %}

{% block iii2 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/2.html.twig' %}
{% endblock iii2 %}

{% block iii3 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/3.html.twig' %}
{% endblock iii3 %}

{% block iii4 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/4.html.twig' %}
{% endblock iii4 %}

{% block iii5 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/5.html.twig' %}
{% endblock iii5 %}

{% block iii6 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/6.html.twig' %}
{% endblock iii6 %}

{% block iii7 %}
    {% include 'crep/crepMinefAbc/_include/show/iii/7.html.twig' %}
{% endblock iii7 %}

{% block iv1 %}
    {% include 'crep/crepMinefAbc/_include/show/iv/1.html.twig' %}
{% endblock iv1 %}

{% block iv2 %}
    {% include 'crep/crepMinefAbc/_include/show/iv/2.html.twig' %}
{% endblock iv2 %}

{% block iv3 %}
    {% include 'crep/crepMinefAbc/_include/show/iv/3.html.twig' %}
{% endblock iv3 %}

{% block iv4 %}
    {% include 'crep/crepMinefAbc/_include/show/iv/4.html.twig' %}
{% endblock iv4 %}

{% block javascripts %}
	{{ parent() }}
	<!-- chained -->
	<script src="{{ asset('js/chained.js') }}"></script>
    <script type="text/javascript">

    $(document).ready(function() {

        if($('#crep_minef_abc_agent_precisionsFonctionsAgent_0').attr('checked')) {
        	$("#commentaire_fonction_agent").parent().parent().show();
        } else {
        	$("#commentaire_fonction_agent").parent().parent().hide();
        }

        if($('#crep_minef_abc_agent_fonctionLienAptitudeAgent_1').attr('checked')) {
        	$("#comm_aptitudes_agent").parent().parent().show();
        } else {
        	$("#comm_aptitudes_agent").parent().parent().hide();
        }

        if($('#crep_minef_abc_agent_appreciationResultatsAgent_1').attr('checked')) {
        	$("#commentaire_resultats_agent").parent().parent().show();
        } else {
        	$("#commentaire_resultats_agent").parent().parent().hide();
        }

        if($('#crep_minef_abc_agent_alaiseDansServiceAgent_1').attr('checked')) {
        	$("#comm_service_agent").parent().parent().show();
        } else {
        	$("#comm_service_agent").parent().parent().hide();
        }

        if($('#crep_minef_abc_agent_souhaitAutreFonctionAgent_0').attr('checked')) {
        	$("#comm_souhait_fonction_agent").parent().parent().show();
        } else {
        	$("#comm_souhait_fonction_agent").parent().parent().hide();
        }
	});

  	$("#crep_minef_abc_agent_precisionsFonctionsAgent_0" ).on('ifChanged', function(){
		$("#commentaire_fonction_agent").parent().parent().show();
	});
	
	$("#crep_minef_abc_agent_precisionsFonctionsAgent_1" ).on('ifChanged', function(){
		$("#commentaire_fonction_agent").parent().parent().hide();
	});	

	$("#crep_minef_abc_agent_fonctionLienAptitudeAgent_0" ).on('ifChanged', function(){
		$("#comm_aptitudes_agent").parent().parent().hide();
	});
	
	$("#crep_minef_abc_agent_fonctionLienAptitudeAgent_1" ).on('ifChanged', function(){
		$("#comm_aptitudes_agent").parent().parent().show();
	});	

	$("#crep_minef_abc_agent_appreciationResultatsAgent_0" ).on('ifChanged', function(){
		$("#commentaire_resultats_agent").parent().parent().hide();
	});
	
	$("#crep_minef_abc_agent_appreciationResultatsAgent_1" ).on('ifChanged', function(){
		$("#commentaire_resultats_agent").parent().parent().show();
	});	

	$("#crep_minef_abc_agent_alaiseDansServiceAgent_0" ).on('ifChanged', function(){
		$("#comm_service_agent").parent().parent().hide();
	});
	
	$("#crep_minef_abc_agent_alaiseDansServiceAgent_1" ).on('ifChanged', function(){
		$("#comm_service_agent").parent().parent().show();
	});	

	$("#crep_minef_abc_agent_souhaitAutreFonctionAgent_0" ).on('ifChanged', function(){
		$("#comm_souhait_fonction_agent").parent().parent().show();
	});
	
	$("#crep_minef_abc_agent_souhaitAutreFonctionAgent_1" ).on('ifChanged', function(){
		$("#comm_souhait_fonction_agent").parent().parent().hide();
	});	
    	
    
    </script>
{% endblock javascripts %}