{% extends "crep/crepMcc/mcc.base.html.twig" %}
{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}

{% block content %}

    {{ block('alertErreurValidationFormulaireCrep') }}
 	{{ block('alertAhNonIdentifie') }}
	{{ block('alertDebutEntretien') }}
    {{ block('alertRefusVisa') }}
    {{ block('alertRecours') }}
    {{ block('alertRefusNotification') }}
    {{ block('renvoyerAh') }}
    {{ block('renvoyerAgent') }}
    
	<div class="form-horizontal">
        {{ parent() }}
	</div>
	{{ block('boutons_actions') }}
{% endblock content %}

{% block i1 %}
	{% include 'crep/crepMcc/_include/show/i/1.html.twig' %}
{% endblock i1 %}

{% block i2 %}
	{% include 'crep/crepMcc/_include/show/i/2.html.twig' %}
{% endblock i2 %}

{% block ii1 %}
	{% include 'crep/crepMcc/_include/show/ii/1.html.twig' %}
{% endblock ii1 %}

{% block ii2 %}
	{% include 'crep/crepMcc/_include/show/ii/2.html.twig' %}
{% endblock ii2 %}

{% block ii3 %}
	{% include 'crep/crepMcc/_include/show/ii/3.html.twig' %}
{% endblock ii3 %}

{% block ii4 %}
	{% include 'crep/crepMcc/_include/show/ii/4.html.twig' %}
{% endblock ii4 %}

{% block ii5 %}
	{% include 'crep/crepMcc/_include/show/ii/5.html.twig' %}
{% endblock ii5 %}

{% block iii1 %}
	{% include 'crep/crepMcc/_include/show/iii/1.html.twig' %}
{% endblock iii1 %}

{% block iii2 %}
	{% include 'crep/crepMcc/_include/show/iii/2.html.twig' %}
{% endblock iii2 %}

{% block iii3 %}
	{% include 'crep/crepMcc/_include/show/iii/3.html.twig' %}
{% endblock iii3 %}

{% block iv1 %}
	{% include 'crep/crepMcc/_include/show/iv/1.html.twig' %}
{% endblock iv1 %}

{% block v1 %}
	{% include 'crep/crepMcc/_include/show/v/1.html.twig' %}
{% endblock v1 %}

{% block v2 %}
	{% include 'crep/crepMcc/_include/show/v/2.html.twig' %}
{% endblock v2 %}

{% block vi1_agent_titulaire %}
	{% include 'crep/crepMcc/_include/show/vi/1_agent_titulaire.html.twig' %}
{% endblock vi1_agent_titulaire %}

{% block vi2_agent_titulaire %}
	{% include 'crep/crepMcc/_include/show/vi/2_agent_titulaire.html.twig' %}
{% endblock vi2_agent_titulaire %}

{% block vi3_agent_titulaire %}
	{% include 'crep/crepMcc/_include/show/vi/3_agent_titulaire.html.twig' %}
{% endblock vi3_agent_titulaire %}

{% block vi1_agent_non_titulaire %}
	{% include 'crep/crepMcc/_include/show/vi/1_agent_non_titulaire.html.twig' %}
{% endblock vi1_agent_non_titulaire %}

{% block vi2_agent_non_titulaire %}
	{% include 'crep/crepMcc/_include/show/vi/2_agent_non_titulaire.html.twig' %}
{% endblock vi2_agent_non_titulaire %}

{% block vii1 %}
	{% include 'crep/crepMcc/_include/show/vii/1.html.twig' %}
{% endblock vii1 %}

{% block vii2_1 %}
	{% include 'crep/crepMcc/_include/show/vii/2_1.html.twig' %}
{% endblock vii2_1 %}

{% block vii2_2 %}
	{% include 'crep/crepMcc/_include/show/vii/2_2.html.twig' %}
{% endblock vii2_2 %}

{% block vii2_3 %}
	{% include 'crep/crepMcc/_include/show/vii/2_3.html.twig' %}
{% endblock vii2_3 %}

{% block vii2_4 %}
	{% include 'crep/crepMcc/_include/show/vii/2_4.html.twig' %}
{% endblock vii2_4 %}

{% block vii2_5 %}
	{% include 'crep/crepMcc/_include/show/vii/2_5.html.twig' %}
{% endblock vii2_5 %} 

{% block viii1 %}
	{% include 'crep/crepMcc/_include/show/viii/1.html.twig' %}
{% endblock viii1 %} 

{% block viii2 %}
	{% include 'crep/crepMcc/_include/show/viii/2.html.twig' %}
{% endblock viii2 %} 

{% block viii3 %}
	{% include 'crep/crepMcc/_include/show/viii/3.html.twig' %}
{% endblock viii3 %} 

{% block viii4 %}
	{% include 'crep/crepMcc/_include/show/viii/4.html.twig' %}
{% endblock viii4 %} 

{% block viii5 %}
	{% include 'crep/crepMcc/_include/show/viii/5.html.twig' %}
{% endblock viii5 %} 
