{% extends "index.base.html.twig" %} 
{# {% trans_default_domain 'FOSUserBundle' %} #}
{% form_theme form with ['Form/App_bootstrap_3_layout.html.twig', _self] %} 

{% block frameTitle%}Modification de mot de passe{% endblock frameTitle %}
{% block pageTitle %}<i class="glyphicon glyphicon-lock"></i> Modifier votre mot de passe {% endblock pageTitle %} 

{% block content %}
<!-- page content -->
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel panel_green">
			<div class="x_title">
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="login-box" style="width: 360px; margin: 7% auto;">
					<div class="login-box-body">
						{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'novalidate': 'novalidate' } }) }}
						<div class="form-group has-feedback">
							{{ form_errors(form.current_password )}} 
							{{ form_widget(form.current_password, { 'attr': {'class':'form-control', 'placeholder': 'Mot de passe actuel','required':"required"}}) }}
						</div>

						<div class="form-group has-feedback">
							{{ form_errors(form.plainPassword.first) }} 
							{{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control', 'placeholder': 'Nouveau mot de passe','required':"required"}}) }}
						</div>

						<div class="form-group has-feedback">
							{{ form_errors(form.plainPassword.second) }} 
							{{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe','required':"required"}}) }}
						</div>

						<div class="row">
							<div class="col-xs-4"></div>
							<!-- /.col -->
							<div class="col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat">Modifier</button>
							</div>
							<!-- /.col -->
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock content %}

{% block form_error_div1 -%}{% endblock form_error_div1 -%}




