{% extends 'index.base.html.twig' %}

{% form_theme form 'Form/App_bootstrap_3_horizontal_layout.html.twig' %}

{% block frameTitle %}Périmètre BRHP{% endblock frameTitle %}
{% block pageIcon %}fa fa-share-alt{% endblock pageIcon %}
{% block pageTitle %}Périmètres{% endblock pageTitle %}


{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}})}}
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
        		<div class="x_panel panel_green">
        			<div class="x_title">
        				<h2>{% block formTitle %}Création d'un nouveau périmètre{% endblock formTitle %}<small></small></h2>
        				<div class="clearfix"></div>
        			</div>
        			<div class="x_content">
        					{{ form_row(form.libelle, { 'label': "Libellé" }) }}
        					{{ form_row(form.unitesOrganisationnelles, { 'label': "Unités organisationnelles",  'attr': { 'class': "select2_multiple" } }) }}
                            {{ form_row(form.perimetreRlc, { 'label': "Périmétre RLC" }) }}
        
        				<span style="color:red"><b>*</b></span><small> : Champ obligatoire</small>
        			</div>
        		</div>
        	</div>
        </div>
        
        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
        	    {% block bouton_submit %}
        			<button type="submit" class="btn btn-primary pull-right"> <i class="fa fa-check"></i> Valider</button>
        	    {% endblock bouton_submit %}	
        	</div>
        </div>
    {{form_end(form)}}
{% endblock content %}


{% block javascripts %}
    {{ parent() }}

    <!-- /Select2 -->
    <script>
        $(document).ready(function() {
            $(".select2_multiple").select2({
            	placeholder: "Veuillez sélectionner les UO qui dépendent de ce périmètre",
                allowClear: true,
                language: {
                    noResults: function (params) {
                      return "Aucune UO n'est disponible";
                    }
                  }
            });
        });
    </script>

{% endblock javascripts %}