{% extends "index.base.html.twig" %} 

{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'Form/App_bootstrap_3_layout.html.twig' %}

{% block pageIcon %}fa fa-life-ring{% endblock pageIcon %}
{% block pageTitle %}Activation et redéfinition du mot de passe{% endblock pageTitle %}

{% block frameTitle %}} Activation et redéfinition du mot de passe {% endblock frameTitle %}

{% block content %}

		 <!-- page content -->
			<div class="clearfix"></div>
			  <div class="row">
			    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel panel_green">
                  <div class="x_title">
                    <h2>Activer l'utilisateur "{{ utilisateur.nom }} {{ utilisateur.prenom }}" et redéfinir son mot de passe<small></small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="login-box" style="width:360px;margin:7% auto;">
				       <div class="login-box-body">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'fos_user_change_password'}})}}
							<div class="form-group has-feedback">
								{{ form_errors(form.password.first) }}
				    			{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe','required': "required"}}) }}
							</div>
							<div class="form-group has-feedback">
								{{ form_errors(form.password.second) }}
				    				{{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre nouveau mot de passe','required': "required"}}) }}
							</div>	    			
				    			
				    		<div class="row">
									<div class="col-xs-4"> </div><!-- /.col -->
								<div class="col-xs-4">
									<button type="submit" class="btn btn-primary btn-block btn-flat" >Valider</button>
								</div><!-- /.col -->
							</div>
					    	{{ form_end(form) }}
				    	</div>
    				</div>
                  </div>
                </div>
              </div>
			</div>
        <!-- /page content -->
{% endblock content %}