{% import "macro/app.html.twig" as macro %}

{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::VOIR'), utilisateur) %}
	<a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}" title="Détail"><i class="fa fa-search"></i></a>&nbsp; &nbsp;
{% endif %}

{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::MODIFIER'), utilisateur) %}
	<a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}" title="Modifier"><i class="fa fa-edit"></i></a>&nbsp; &nbsp;
{% endif %}

{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::ACTIVER_REDEFINIR_MDP'), utilisateur) %}
	<a href="{{ path('utilisateur_activerEtRedefinirPassword', { 'id': utilisateur.id }) }}" title="Activer et redéfinir le mot de passe"><i class="fa fa-life-ring"></i></a>&nbsp; &nbsp;
{% endif %}


{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::DESACTIVER'), utilisateur) %}
	<a href="" data-toggle="modal" data-target="#modal_desactiver_{{ utilisateur.id }}" title="Désactiver"><i class="fa fa-user-times"></i></a>&nbsp; &nbsp;
	{{ macro.modal('danger', 'modal_desactiver_'~ utilisateur.id, "Désactiver l'utlisateur", "Voulez-vous vraiment <strong>désactiver</strong> "~ utilisateur | identite | escape ~" ?", "fa-trash", disableForm)}} 
{% endif %}

{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::DEBLOQUER'), utilisateur) %}
	<a href="" data-toggle="modal" data-target="#modal_debloquer_{{ utilisateur.id }}" title="Débloquer"><i class="fa fa-unlock"></i></a>&nbsp; &nbsp;
	{{ macro.modal('danger', 'modal_debloquer_'~ utilisateur.id, "Débloquer l'utlisateur", "Voulez-vous vraiment <strong>débloquer</strong> "~ utilisateur | identite | escape ~" ?", "fa-trash", unlockForm)}} 
{% endif %}

{% if is_granted(constant('AppBundle\\Security\\UtilisateurVoter::RENVOYER_MAIL_CREATION_COMPTE'), utilisateur) %}
	<a href="" data-toggle="modal" data-target="#modal_renvoyer_mail_creation_compte_{{ utilisateur.id }}" title="Renvoyer le mail de création de compte"><i class="fa fa-envelope"></i></a>
	{{ macro.modal('warning', 'modal_renvoyer_mail_creation_compte_'~ utilisateur.id, "Renvoyer mail de création de compte", "Voulez-vous vraiment <strong>renvoyer</strong> le mail de création de compte de "~ utilisateur | identite | escape ~" ?", "fa-envelope", renvoiForm)}} 
{% endif %}
