{% extends "index.base.html.twig" %} 

{% form_theme form 'Form/App_bootstrap_3_horizontal_layout.html.twig' %}

{% block pageIcon %}fa fa-group{% endblock pageIcon %}
{% block pageTitle %}Utilisateurs{% endblock pageTitle %}

{% block content %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel panel_green">
			<div class="x_title">
				<h2>{% block formTitle %}Création d'un nouvel utilisateur{% endblock formTitle %}<small></small></h2>

				<div class="clearfix"></div>
			</div>
			<div class="x_content">
			
			    
				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}})}}

					{{ form_row(form.civilite, { 'label': "Civilité" }) }}
					{{ form_row(form.nom, { 'label': "Nom", 'icone': 'fa fa-user' }) }}
					{{ form_row(form.prenom, { 'label': "Prénom", 'icone': 'fa fa-user' }) }}
					{{ form_row(form.email, { 'label': "Email"}) }}
					{{ form_row(form.ministere, { 'label': "Ministère"}) }}
					{{ form_row(form.roles, { 'label': "Rôle"}) }}

				<span style="color:red"><b>*</b></span><small> : Champ obligatoire</small>

			</div>
		</div>
	</div>
</div>

<div class="row">
             <div class="col-md-12 col-sm-12 col-xs-12">
             {% block bouton_submit %}
                  <button type="submit" class="btn btn-primary pull-right">Valider</button>
             {% endblock bouton_submit %}
             </div>
</div>
{{form_end(form)}}


{% endblock content%}
