{% extends "crep/crepScl02/show.html.twig" %}

{% block iii2 %}
    {% include 'crep/crepScl02/_include/edit/iii/2.html.twig' %}
{% endblock iii2 %}

{% block boutons_actions %}{% endblock boutons_actions %}

{% block content %}
    {% if errors| length > 0 %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>Le formulaire de CREP n'est pas valide.</strong><br>
            Veuillez rectifier votre saisie.
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
    {{ parent() }}
    {{ block('bouton_enregistrer') }}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock content %}

