<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" width="25%">Intitulé ou thématique de la formation</th>
                <th class="text-center" width="15%">Objet de la formation</th>
                <th class="text-center" width="15%">Durée de la formation</th>
                <th class="text-center" width="15%">Mobilisation du DIF (Oui/Non)</th>
                <th class="text-center" width="15%">Cadre de la formation T1, T2 ou T3</th>
                <th class="text-center" width="15%">Suivies (oui/non) motifs</th>
            </tr>
            </thead>
            <tbody>
            
            {% if  crep.formationsAnneeAvenir is not empty%}
                {% for key, formation in crep.formationsAnneeAvenir %}
                    <tr>
                        <td>{{ formation.libelle }}</td>
                        <td>{{ formation.objectif }}</td>
                        <td>{{ formation.duree }}</td>
                        <td>
                            {% if 1 == formation.cpf %}
                                Oui
                            {% endif %}
                            {% if 0 == formation.cpf %}
                                Non
                            {% endif %}
                        </td>
                        <td>{{ formation.typologie }}</td>
                        {% if 0 == key %}
                            <td rowspan="3" width="15%">
                                {{ formation.suivie }}
                                {{ formation.motifNonSuivie }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for index in 0..2 %}
                    <tr>
                        <td width="25%"><br><br></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        <td width="15%"></td>
                        {% if 0 == index %}
                            <td rowspan="3" width="15%"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    
    </div>
</div>
<br>
