<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Evolutions professionnelles envisagées par l’agent (mobilité interne, mobilité externe,…)</dt>
            <dd class="well well-xs">
                {{ crep.evolutionsPro|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Échéance évolutions professionnelles</dt>
            <dd class="well well-xs">
                {{ crep.echeanceEvolutionsPro|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations et propositions d’évolution faites par l’évaluateur</dt>
            <dd class="well well-xs">
                {{ crep.observationsEvolutionsPro|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Échéance observations évolutions professionnelles</dt>
            <dd class="well well-xs">
                {{ crep.echeanceObservationsEvolutionsPro|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Avis circonstancié pour certains fonctionnaires éligibles à un avancement de grade <br><i> (Appréciation
                    particulière sur les perspectives d’accès au grade supérieur des agents concernés par
                    le décret n°2017-722 du 2 mai 2017)</i></dt>
            <dd class="well well-xs">
                {{ crep.avisShdAvancementGrade | nl2br }}
            </dd>
        </dl>
    </div>
</div>



