<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th style="width: 12%" class="text-center">Insuffisant</th>
                    <th style="width: 12%" class="text-center">Moyen</th>
                    <th style="width: 12%" class="text-center">Bon</th>
                    <th style="width: 12%" class="text-center">Très bon</th>
                    <th style="width: 12%" class="text-center">Excellent</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
            		<td colspan="6"><strong>Valeur professionnelle</strong></td>
            	</tr>
            	
                {% for competenceTransverse in crep.competencesTransverses %}
            		{% if competenceTransverse.competenceTransverse.typeCompetence == 'Valeur professionnelle' %}
                    <tr>
                        <td>
                            {{ competenceTransverse.competenceTransverse.libelle }}
                        </td>
                        {% for index in 0..4 %}
                        	<td class="text-center">{{ competenceTransverse.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
                
                <tr>
            		<td colspan="6"><strong>Maniere de servir</strong></td>
            	</tr>
            	
                {% for competenceTransverse in crep.competencesTransverses %}
            		{% if competenceTransverse.competenceTransverse.typeCompetence == 'Manière de servir' %}
                    <tr>
                        <td>
                            {{ competenceTransverse.competenceTransverse.libelle }}
                        </td>
                        {% for index in 0..4 %}
                        	<td class="text-center">{{ competenceTransverse.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            	
            </tbody>
        </table>
    </div>
</div>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Appréciation littérale du supérieur hiérarchique </p>
		<p class="well well-xs">{{ crep.appreciationLitteraleShd|nl2br }}</p>
    </div>
</div>

<br/>