{% extends "crep/crepEdd/edd.base.html.twig" %}
{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}

{% block organisation %} {%endblock %}

{% block frameTitle %}CREP{% endblock frameTitle %}

{% block pageIcon %}fa fa-file-text-o{% endblock pageIcon %}
{% block pageTitle %}CREP de {{crep.agent.civilite | title}} {{crep.prenom | title}} {{crep.nomUsage | upper}}{% endblock pageTitle %}

{% block content %}
    
 	{{ block('alertAhNonIdentifie') }}
	{{ block('alertDebutEntretien') }}
    {{ block('alertRefusVisa') }}
    {{ block('alertRecours') }}
    {{ block('alertRefusNotification') }}
    {{ block('renvoyerAh') }}
    {{ block('renvoyerAgent') }}
    
	<div class="form-horizontal">
        {{ parent() }}
	</div>
	{{ block('boutons_actions') }}
{% endblock content %}

{% block i01 %}
	{% include 'crep/crepEdd/_include/show/0/1.html.twig' %}
{% endblock i01 %}

{% block i02 %}
	{% include 'crep/crepEdd/_include/show/0/2.html.twig' %}
{% endblock i02 %}

{% block i1_1 %}
	{% include 'crep/crepEdd/_include/show/i/1_1.html.twig' %}
{% endblock i1_1 %}

{% block i1_2 %}
    {% include 'crep/crepEdd/_include/show/i/1_2.html.twig' %}
{% endblock i1_2 %}

{% block i2 %}
	{% include 'crep/crepEdd/_include/show/i/2.html.twig' %}
{% endblock i2 %}

{% block i3 %}
	{% include 'crep/crepEdd/_include/show/i/3.html.twig' %}
{% endblock i3 %}

{% block i4 %}
	{% include 'crep/crepEdd/_include/show/i/4.html.twig' %}
{% endblock i4 %}

{% block ii1_1 %}
	{% include 'crep/crepEdd/_include/show/ii/1.1.html.twig' %}
{% endblock ii1_1 %}

{% block ii1_2 %}
    {% include 'crep/crepEdd/_include/show/ii/1.2.html.twig' %}
{% endblock ii1_2 %}

{% block ii2 %}
	{% include 'crep/crepEdd/_include/show/ii/2.html.twig' %}
{% endblock ii2 %}

{% block ii3 %}
	{% include 'crep/crepEdd/_include/show/ii/3.html.twig' %}
{% endblock ii3 %}

{% block iii1 %}
    {% include 'crep/crepEdd/_include/show/iii/1.html.twig' %}
{% endblock iii1 %}

{% block iii2 %}
    {% include 'crep/crepEdd/_include/show/iii/2.html.twig' %}
{% endblock iii2 %}

{% block iv1_1_1 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.1.html.twig' %}
{% endblock iv1_1_1 %}

{% block iv1_1_2 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.2.html.twig' %}
{% endblock iv1_1_2 %}

{% block iv1_1_3 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.3.html.twig' %}
{% endblock iv1_1_3 %}

{% block iv1_1_4 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.4.html.twig' %}
{% endblock iv1_1_4 %}

{% block iv1_1_5 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.5.html.twig' %}
{% endblock iv1_1_5 %}

{% block iv1_1_6 %}
    {% include 'crep/crepEdd/_include/show/iv/1.1.6.html.twig' %}
{% endblock iv1_1_6 %}

{% block iv1_2_1 %}
    {% include 'crep/crepEdd/_include/show/iv/1.2.1.html.twig' %}
{% endblock iv1_2_1 %}

{% block iv1_2_2 %}
    {% include 'crep/crepEdd/_include/show/iv/1.2.2.html.twig' %}
{% endblock iv1_2_2 %}


{% block iv1_2_3 %}
    {% include 'crep/crepEdd/_include/show/iv/1.2.3.html.twig' %}
{% endblock iv1_2_3 %}

{% block iv1_2_4 %}
    {% include 'crep/crepEdd/_include/show/iv/1.2.4.html.twig' %}
{% endblock iv1_2_4 %}

{% block iv2 %}
    {% include 'crep/crepEdd/_include/show/iv/2.html.twig' %}
{% endblock iv2 %}

{% block v1_1 %}
    {% include 'crep/crepEdd/_include/show/v/1.1.html.twig' %}
{% endblock v1_1 %}

{% block v1_2 %}
    {% include 'crep/crepEdd/_include/show/v/1.2.html.twig' %}
{% endblock v1_2 %}

{% block v2 %}
    {% include 'crep/crepEdd/_include/show/v/2.html.twig' %}
{% endblock v2 %}

{% block vi1 %}
    {% include 'crep/crepEdd/_include/show/vi/1.html.twig' %}
{% endblock vi1 %}

{% block vi2 %}
    {% include 'crep/crepEdd/_include/show/vi/2.html.twig' %}
{% endblock vi2 %}

{% block vi3 %}
    {% include 'crep/crepEdd/_include/show/vi/3.html.twig' %}
{% endblock vi3 %}

{% block vii1 %}
    {% include 'crep/crepEdd/_include/show/vii/1.html.twig' %}
{% endblock vii1 %}

{% block vii2 %}
    {% include 'crep/crepEdd/_include/show/vii/2.html.twig' %}
{% endblock vii2 %}

{% block viii1 %}
    {% include 'crep/crepEdd/_include/show/viii/1.html.twig' %}
{% endblock viii1 %}

{% block viii2 %}
    {% include 'crep/crepEdd/_include/show/viii/2.html.twig' %}
{% endblock viii2 %}

{% block viii3 %}
    {% include 'crep/crepEdd/_include/show/viii/3.html.twig' %}
{% endblock viii3 %}

{% block viii4 %}
    {% include 'crep/crepEdd/_include/show/viii/4.html.twig' %}
{% endblock viii4 %}

{#{% block viii5 %}#}
    {#{% include 'crep/crepEdd/_include/show/viii/5.html.twig' %}#}
{#{% endblock viii5 %}#}

{% block alertRefusVisa %}
    {% if (crep.dateRefusVisa) and (crep.statut not in [constant('AppBundle\\EnumTypes\\EnumStatutCrep::SIGNE_SHD'),
                                                        constant('AppBundle\\EnumTypes\\EnumStatutCrep::VISE_AGENT'),
                                                        constant('AppBundle\\EnumTypes\\EnumStatutCrep::NOTIFIE_AGENT'),
                                                        constant('AppBundle\\EnumTypes\\EnumStatutCrep::REFUS_NOTIFICATION_AGENT')]) %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <strong>Refus de visa</strong> du CREP par l'agent acté le <strong>{{ crep.dateRefusVisa|date('d/m/Y à H:i') }}</strong>
        </div>
    {% endif %}
{% endblock alertRefusVisa %}

 {% block alertRefusNotification %}
     {% if crep.dateRefusNotification %}
         <div class="alert alert-danger alert-dismissible fade in" role="alert">
             <strong>Refus de l'agent de signer</strong> le CREP notifié acté le <strong>{{ crep.dateRefusNotification|date('d/m/Y à H:i') }}</strong>
         </div>
     {% endif %}
 {% endblock alertRefusNotification %}


