{% use "crep/crepMindef01/Form/App_form_crepMindef01.html.twig" %}

{% block form_row -%}
{% spaceless %}

    {{ form_errors(form) }}
	    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {% if label != false %}
            {{ form_label(form) }}
            {% endif %}
	     <div class="{{ block('form_group_class') }}">


        {{ form_widget(form) }}

        {% if icone is defined %}
        	<span class="{{ icone }} form-control-feedback left" aria-hidden="true"></span>
		{% endif %}

{% if label != false %}
		</div>
    </div>
{% endif %}
{% endspaceless %}
{%- endblock form_row %}


{% block form_errors -%}
{% spaceless %}
	{% if errors|length > 0 -%}
    <div class="has-error">
    	{%- for error in errors -%}
            {% if label != false %}
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
            {% else %}
            <div class="col-sm-12">
            {% endif %}
				<label class="control-label has-error" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
			</div>
        {%- endfor -%}

	</div>
    {%- endif -%}
{% endspaceless %}
{%- endblock form_errors %}

{% block form_group_class -%}
	col-md-12 col-sm-12 col-xs-12
{%- endblock form_group_class %}
