{% use "Form/App_bootstrap_3_layout.html.twig" %}

{% block _crep_dgac_composantesPostes_entry_widget %}
	{% for child in form.niveauRequis.children %}
		<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
	{% endfor %}
	<td>{{ form_row(form.appreciation, {'label': false, 'attr': {'class':'fieldCollection'}}) }}</td>
{% endblock %}

{% block _crep_dgac_autresComposantesPostes_entry_widget %}
	<tr>
		<td>{{ form_row(form.libelle, {'label':false}) }}</td>
		{% for child in form.niveauRequis.children %}
			<td class="text-center">{{ form_row(child, {'label': false, 'attr':
                    {'class': 'fieldCollection iCheckCollection'}}) }}</td>
		{% endfor %}
		<td>{{ form_row(form.appreciation, {'label':false}) }}</td>
		<td class="text-center">
			<button class="btn btn-danger btn-xs remove-from-collection">
				<i class="fa fa-close"></i>
			</button>
		</td>
	</tr>
{% endblock %}

{% block _crep_dgac_competencesProfessionnelles_entry_widget %}
	{% for child in form.niveauRequis.children %}
		<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
	{% endfor %}
	<td>{{ form_row(form.appreciation, {'label': false, 'attr': {'class':'fieldCollection'}}) }}</td>
{% endblock %}

{% block _crep_dgac_autresCompetencesProfessionnelles_entry_widget %}
	<tr>
		<td>{{ form_row(form.libelle, {'label':false}) }}</td>
        {% for child in form.niveauRequis.children %}
			<td class="text-center">{{ form_row(child, {'label': false, 'attr':
                    {'class': 'fieldCollection iCheckCollection'}}) }}</td>
        {% endfor %}
		<td>{{ form_row(form.appreciation, {'label':false}) }}</td>
		<td class="text-center">
			<button class="btn btn-danger btn-xs remove-from-collection">
				<i class="fa fa-close"></i>
			</button>
		</td>
	</tr>

{% endblock %}

{% block _crep_dgac_competencesManageriales_entry_widget %}
	{% for child in form.niveauRequis.children %}
		<td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
	{% endfor %}
	<td>{{ form_row(form.appreciation, {'label': false, 'attr': {'class':'fieldCollection'}}) }}</td>
{% endblock %}

{% block _crep_dgac_autresCompetencesManageriales_entry_widget %}
	<tr>
		<td>{{ form_row(form.libelle, {'label':false}) }}</td> {% for child in
		form.niveauRequis.children %}
		<td class="text-center">{{ form_row(child, {'label': false, 'attr':
			{'class': 'fieldCollection iCheckCollection'}}) }}</td> {% endfor %}
		<td>{{ form_row(form.appreciation, {'label':false}) }}</td>
		<td class="text-center">
			<button class="btn btn-danger btn-xs remove-from-collection">
				<i class="fa fa-close"></i>
			</button>
		</td>
	</tr>
{% endblock %}

{% block _crep_dgac_competencesSyntheses_entry_widget %}
	{% for child in form.niveauRequis.children %}
	<td class="text-center">{{ form_row(child, {'label': false, 'attr':
		{'class': 'iCheckCollection'}}) }}</td>
	{% endfor %}
	<td>{{ form_row(form.appreciation, {'label': false, 'attr':
		{'class':'fieldCollection'}}) }}</td>
{% endblock %}

{% block _crep_dgac_autresCompetencesSyntheses_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {'label':false}) }}</td>
        {% for child in form.niveauRequis.children %}
            <td class="text-center">{{ form_row(child, {'label': false, 'attr':
                    {'class': 'fieldCollection iCheckCollection'}}) }}</td>
        {% endfor %}
        <td>{{ form_row(form.appreciation, {'label':false}) }}</td>
        <td class="text-center">
            <button class="btn btn-danger btn-xs remove-from-collection">
                <i class="fa fa-close"></i>
            </button>
        </td>
    </tr>
{% endblock %}

{% block _crep_dgac_crepDgacFormationsSuivies_entry_widget %}
	<tr>
		<td>
			<div class="text-right">
				<button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
			</div>
			<div class="form-group">
                {% if errors|length == 0 -%}
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_dgac_libelle">Intitulé du stage<span style="color:red;"> *</span></label>
                    {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
                {% else %}
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_dgac_libelle">Intitulé du stage<span style="color:red;"> *</span></label>
                    {%- for error in errors -%}
						<div class="col-md-6 col-sm-6 col-xs-12">
							<label class="control-label has-error" style="text-align: left;" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
						</div>
                    {%- endfor -%}
                {% endif %}
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_dgac_satisfaction">Indice de
					satisfaction</label>(de 1 à 5*)
                {{ form_row(form.satisfaction, {'label': false}) }}
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_dgac_utilisationFormation">Avez-vous utilisé cette
					formation</label>(oui/non)
                {{ form_row(form.utilisationFormation, {'label': false}) }}
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_dgac_commentaireAgent">Commentaires de l’agent</label>
                {{ form_row(form.commentaireAgent, {'label': false}) }}
			</div>
			{#<div class="form-group">#}
				{#<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_cpf">Mobilisation du DIF (Oui/Non)</label>#}
                {#{{ form_row(form.cpf, {'label': false, 'label_attr': {'class' : 'radio-inline','style':'text-align:left;'} }) }}#}
                {#{{ form_row(form.cpf, {'label':false, 'attr': {'class': 'fieldCollection iCheckCollection cpf'}}) }}#}
			{#</div>#}
			{#<div class="form-group">#}
				{#<label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_suivie">Suivies (oui/non) motifs</label>#}
                {#{{ form_row(form.suivie, {'label': false, 'label_attr': {'class' : 'radio-inline',#}
                    {#'style':'text-align:left;'} }) }}#}
			{#</div>#}
			{#<div class="form-group">#}
				{#<label class="control-label col-md-3 col-sm-3 col-xs-12"#}
					   {#for="crep_mj02_motifNonSuivie"></label>#}
                {#{{ form_row(form.motifNonSuivie, {'label': false, 'attr': {'id': 'motifNonSuivie'}}) }}#}
			{#</div>#}
		</td>
	</tr>
{% endblock %}

{% block form_group_class -%}
	{% if label == false %}
		col-md-12 col-sm-12 col-xs-12
	{% else %}
		col-md-9 col-sm-9 col-xs-12
	{% endif %}
{% endblock form_group_class %}

{###################### Fin collecions ################################}

{# Redéfinition du bloc from_errors aligner à gauche les erreurs de
validation, en ajoutant style="text-align: left;" #}
{% block form_errors -%}
	{% if errors|length > 0 -%}
		<div class="has-error">
			{%- for error in errors -%}
				<div class="col-md-12">
					<label class="control-label has-error" style="text-align: left;"
						for="inputError"><i class="fa fa-times-circle"></i> {{ error.message
						}}</label>
				</div>
			{%- endfor -%}
		</div>
	{%- endif %}
{%- endblock form_errors %}

{# Redéfinition du bloc
form_row pour supprimer les marges basses sur les champs en mettant en
place la classe form-group-no-margin #}
{% block form_row -%}
	{% spaceless %}
		{{ form_errors(form) }}
		{% if label != false %}
			<div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
					{{ form_label(form) }}
					<div class="{{ block('form_group_class') }}">
		{% else %}
						<div class="form-group-no-margin{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
							<div class="{{ block('form_group_class') }}">
					{% endif %}
					{{ form_widget(form) }}
					{% if icone is defined %}
						<span class="{{ icone }} form-control-feedback left" aria-hidden="true"></span>
					{% endif %}
				</div>
			</div>
	{% endspaceless %}
{%- endblock form_row %}
