{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_6.html.twig' %}

<div class="row">
    {{ form_row(form.civilite, { 'label': "Civilité" }) }}
</div>

<div class="row">
    {{ form_row(form.prenom, { 'label': "Prénom" }) }}

</div>

<div class="row">
    {{ form_row(form.nomUsage, { 'label': "Nom d'usage" }) }}
    {{ form_row(form.dateNaissance, { 'label': "Date de naissance" }) }}
</div>


<div class="row">
    {{ form_row(form.posteOccupeAgent, { 'label': "Emploi occupé" }) }}
</div>

<div class="row">
    {{ form_row(form.echelon, { 'label': "Echelon" }) }}
</div>
<div class="row">
    {{ form_row(form.direction, { 'label': "Direction/ Service" }) }}
</div>

<div class="row">
    {{ form_row(form.corps, { 'label': "Corps/ cadre d'emplois d'origine" }) }}
</div>

<div class="row">
    {{ form_row(form.grade, { 'label': "Grade d'origine" }) }}
</div>

<div class="row">
    {{ form_row(form.echelonOrigine, { 'label': "Échelon d'origine" }) }}
</div>

<br>

