{% extends "index.base.html.twig" %}
{% import "macro/app.html.twig" as macro %}

{% form_theme recherche_form 'Campagne/Form/App_form_recherche.html.twig' %}

{% block frameTitle %}{{ campagneRlc.libelle }}{% endblock frameTitle %}
{% block pageIcon %}fa fa-circle-o-notch{% endblock pageIcon %}
{% block pageTitle %}{{ campagneRlc.libelle }}{% endblock pageTitle %}

{% set  nbCrep = indicateurs["nbCrep"] %}
{% set  nbCrepSignesShd = indicateurs["nbCrepSignesShd"] %}
{% set  nbCrepVisesAgent = indicateurs["nbCrepVisesAgent"] %}
{% set  nbCrepSignesAh = indicateurs["nbCrepSignesAh"] %}
{% set  nbCrepNotifies = indicateurs["nbCrepNotifies"] %}
{% set  nbRefusNotification = indicateurs["nbCrepRefusNotification"] %}
{% set  nbCrepNonRenseignes = indicateurs["nbCrepNonRenseignes"] %}
{% set  nbCrepModifieShd = indicateurs["nbCrepModifieShd"] %}
{% set  nbCrepRefusVisas = indicateurs["nbCrepRefusVisas"] %}
{% set  nbCrepCasAbsence = indicateurs["nbCrepCasAbsence"] %}
{% set  nbTotalRecours = indicateurs["nbTotalRecours"] %}
{% set  nbRecoursHierarchique = indicateurs["nbRecoursHierarchique"] %}
{% set  nbRecoursEnCAP = indicateurs["nbRecoursEnCAP"] %}
{% set  nbRecoursAuTA = indicateurs["nbRecoursAuTA"] %}
{% set  nbRecoursTraites = nbTotalRecours - nbRecoursHierarchique - nbRecoursEnCAP - nbRecoursAuTA %}
{% set  nbCrepEnRecours = indicateurs["nbCrepEnRecours"] %}


{% block content %}
<!-- page content -->
	
	{% if campagneRlc.perimetresBrhp | length == 0 %}
		<div class="row">
	    	<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-info alert-dismissible fade in" role="alert">
					<strong>Information : </strong> Les périmètres ne sont pas renseignés. Veuillez les compléter, en cliquant sur le bouton  <strong>&laquo; Modifier la campagne &raquo;</strong>, pour ouvrir la campagne.
				</div>
			</div>
		</div>
    {%  endif %} 

	<div class="clearfix"></div>

    {% block indicateurs %}
    	{% include 'Campagne/indicateurs.html.twig' %}
    {% endblock indicateurs %}
    
    {% block filtres %}
        {% include 'campagneRlc/blocsTableauDeBord/filtres.html.twig' %}
    {% endblock filtres %}

	<div class="row">
    	<div class="col-md-6 col-sm-12 col-xs-12">
    	    {% block informationsCampagne %}
    		    {% include 'campagneRlc/blocsTableauDeBord/informationsCampagne.html.twig' %}
    	    {% endblock informationsCampagne %}	
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        	{% block graphiqueAvancement %}
        		{% include 'Campagne/graphiqueAvancement.html.twig' %}
        	{% endblock graphiqueAvancement %}        
    	</div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title">
                    <h2>Population<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
    
                <div class="x_content">
                	<div class="" role="tabpanel" data-example-id="togglable-tabs">
                    	<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        	<li role="presentation" class="active"><a href="#tab_content0" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Ma population</a></li>
                            <li role="presentation" class="" onclick="chargerAgentsSansShd();"><a href="#tab_content1" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">Agents sans N+1</a></li>
                            <li role="presentation" class="" onclick="chargerAgentsSansPerimetre();"><a href="#tab_content2" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Agents sans périmètre</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                        	<div role="tabpanel" class="tab-pane fade active in" id="tab_content0" aria-labelledby="home-tab">
                                {{ block('block_ma_population') }}
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="profile-tab">
                                {{ block('block_agents_sans_shd') }}
                            </div>
							<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                {{ block('block_agents_sans_perimetre_rlc') }}
                            </div>                            
                          </div>
            		</div>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row">
    	
	  	<div class="col-xs-4">
    	    {% if is_granted(constant('AppBundle\\Security\\CampagneRlcVoter::AJOUTER_AGENT'), campagneRlc) %}
    			<a href="{{ path('agent_new_rlc', { 'id': campagneRlc.id }) }}">
    				<button class="btn btn-primary pull-left"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un agent</button>
    			</a>
		    {% endif %}	
		</div>
	
        <div class="col-xs-4 text-center">
    		{% if is_granted(constant('AppBundle\\Security\\CampagneRlcVoter::MODIFIER'), campagneRlc) %}   
        		<a href="{{ path('campagne_rlc_edit', { 'id': campagneRlc.id }) }}">
        			<button type="submit" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Modifier la campagne</button>
        		</a>
        	{% endif %}
    	</div>
          
  
		
		<div class="col-xs-4">
	        {% if is_granted(constant('AppBundle\\Security\\CampagneRlcVoter::OUVRIR'), campagneRlc) %}   	
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_ouvrir"><i class="fa fa-unlock"></i> Ouvrir la campagne</button>
                {{ macro.modal('success', 'modal_ouvrir', "Ouvrir la campagne", "Voulez-vous vraiment <strong>ouvrir</strong> cette campagne aux acteurs de niveau de proximité ?", "fa-unlock", ouvrir_form)}}
			{% elseif is_granted(constant('AppBundle\\Security\\CampagneRlcVoter::ROUVRIR'), campagneRlc) %}
				<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_rouvrir"><i class="fa fa-unlock"></i> Rouvrir la campagne</button>
    			{{ macro.modal('success', 'modal_rouvrir', "Rouvrir la campagne", "Voulez-vous vraiment <strong>rouvrir</strong> cette campagne aux acteurs de niveau de proximité ?<br/><br/> <strong><i class='fa fa-warning'></i> Attention :</strong> Cette action permettra aux acteurs de niveau de proximité (BRHP) d'avoir la possibilité de rouvrir la campagne sur leurs périmètres.", "fa-unlock", rouvrir_form)}} 
            {% endif %}
        </div>
    		
    </div>

<!-- /page content -->
{% endblock content %}

{############## onglets ##############}

{% block block_agents_sans_shd %}
	{% include 'campagneRlc/blocsTableauDeBord/onglets/agentsSansShd.html.twig' %}
{% endblock block_agents_sans_shd %}

{% block block_ma_population %}
	{% include 'campagneRlc/blocsTableauDeBord/onglets/maPopulation.html.twig' %}
{% endblock block_ma_population %}

{% block block_agents_sans_perimetre_rlc %}
	{% include 'campagneRlc/blocsTableauDeBord/onglets/agentsSansPerimetreRlc.html.twig' %}
{% endblock block_agents_sans_perimetre_rlc %}



{% block javascripts %}
    
    {{ parent() }}
    
    {% javascripts 'gentelella-1.3.0/vendors/Chart.js/dist/2.7.1/Chart.min.js' %}
    	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
    <script type="text/javascript">
        <!-- Doughnut Chart -->
        {% if nbCrep==0 %}
            {% set nbCrepNonRenseignes = 1 %}
            {% set nbCrep = 1 %}
        {% endif %}
        
        $(document).ready(function() {
            {{ macro.graphiqueAvancement('canvasDoughnut', nbCrep, nbCrepNonRenseignes, nbCrepModifieShd, nbCrepSignesShd, nbCrepVisesAgent, nbCrepRefusVisas, nbCrepSignesAh, nbCrepNotifies, nbRefusNotification, nbCrepCasAbsence) }}

            {{ macro.historiqueAvancement('canvasLine', historiqueIndicateurs) }}
         });

        
        
        //A chaque change du select on récupère la value du perimetre et on lance l'url
        $('#perimetre_filter select').on('change', function(){
           perimetre = $(this).val();
               
        	if(perimetre > 0){
           	var url = "{{ path('campagne_rlc_show', {'id':campagneRlc.id, 'id_perimetre': 'value'}) }}";
            	url = url.replace("value", perimetre);
        	}else{
           	var url = "{{ path('campagne_rlc_show', {'id':campagneRlc.id}) }}";
           }
            
        	window.location.href = url;
        });

        var agentsSansShdCharges = false;
        var agentsSansPerimetreCharges = false;

        $(document).ready(function() {
            
        var dtable = $('#ma_population').DataTable( {
		    	"oLanguage": oLanguage_fr(),
		        "processing": true,
		        "serverSide": true,
		        "ajax": "{{ path('agent_campagne_rlc_server_processing', { 'campagneRlc': campagneRlc.id, 'evaluable': 2, 'sansShd': 0, 'sansPerimetre':0, 'onglet': 'ma_population' }) }}",
		        "sAjaxDataProp": "data",
		        "pageLength": 10,
		        "searchDelay": 500,
				"order": [[ 0, "asc" ]],
				"columnDefs": [ 
                                { targets: [8, 9], orderable: false },     // colonnes non triables
                ],
				"dom": 'l<"pull-right"<"pull-right"B>>tipr',
		        "buttons": [
		            {
                        extend: 'csv',
                        text: '<i class="fa fa-file-excel-o" title="Exporter la page courante en CSV"></i>',
						title: 'Ma population',
                        fieldSeparator: ';',
                        exportOptions: {
                        	columns: [ 0, 1, 2, 3, 4, 5, 6, 7 ], // colonnes concernées par l'export
                        	modifier: {
                                selected: true
                            },
                            format: {
                                body: function ( data, column, row, node ) {
                                                // Suppression des espaces
                                                data = data.trim();

                                                // Gestion de l'export de la colonne statut de validation
                                                if(column === 6){
                                                	return formatColonneStatutValidation( data, column, row, node );
                                                }

                                                // Gestion de l'export de la colonne statut d'avancement du CREP
                                                if(column === 7){
                                                	return formatColonneStatutAvancement( data, column, row, node );
                                                }
                                                
                                                return data;
                                }
                            }

                            
                        }
                    },
                    {
                    	extend: 'colvis',
                    	text: '<i class="fa fa-columns" title="Afficher / masque des colonnes"></i>',
                    	columns: [ 1, 2, 3, 4, 5, 6, 7, 8 ]  // colonnes pouvant être masquées
                    }
		        ],
		        "columns":[ 
		                   {"data": "agent"}, 
		                   {"data": "perimetreBrhp"},
		                   {"data": "shd"}, 
		                   {"data": "ah"},
		                   {"data": "affectation"},
		                   {"data": "evaluable"},
		                   {"data": "statutValidation"},
		                   {"data": "avancement"},
		                   {"data": "actionShowCrep"},
		                   {"data": "actions"},
		               ] 
		    } );
        setAjaxDataTable("#ma_population", dtable);
      
        });

        function chargerAgentsSansShd(){
        	 if(!agentsSansShdCharges){ // On vérifier si le dataTable a déjà été chargé
		        var dtable = $('#agents_sans_shd').DataTable( {
				    	"oLanguage": oLanguage_fr(),
				        "processing": true,
				        "serverSide": true,
				        "ajax": "{{ path('agent_campagne_rlc_server_processing', { 'campagneRlc': campagneRlc.id, 'evaluable': 2, 'sansShd': 1, 'sansPerimetre':0, 'onglet': 'agents_sans_shd' }) }}",
				        "sAjaxDataProp": "data",
				        "pageLength": 10,
				        "searchDelay": 500,
						"order": [[ 0, "asc" ]],
						"columnDefs": [ 
										{ targets: [5], orderable: false },  // colonnes non triables
                                      ],
	                   "dom": 'l<"pull-right"<"pull-right"B>>tipr',
	                   "buttons": [
		                               {
		                                   extend: 'csv',
		                                   text: '<i class="fa fa-file-excel-o" title="Exporter la page courante en CSV"></i>',
		                                   title: 'Agents sans N+1',
		                                   fieldSeparator: ';',
		                                   exportOptions: {
			                                   columns: [ 0, 1, 2, 3, 4 ], // colonnes concernées par l'export
			                                   modifier: {
				                                   selected: true
				                                   }
		                                   }
	                                   },
	                                   {
		                                   extend: 'colvis',
		                                   text: '<i class="fa fa-columns" title="Afficher / masque des colonnes"></i>',
		                                   columns: [ 1, 2, 3, 4 ]  // colonnes pouvant être masquées
	                                   }
                                  ],
				        "columns":[ 
				                   {"data": "agent"},
				                   {"data": "perimetreBrhp"},
				                   {"data": "affectation"},
				                   {"data": "ah"},
				                   {"data": "evaluable"},
				                   {"data": "actions"},
				               ] 
				    } );
		        setAjaxDataTable("#agents_sans_shd", dtable);
		        agentsSansShdCharges = true;
             }
        }

        function chargerAgentsSansPerimetre(){
            if(!agentsSansPerimetreCharges){ // On vérifier si le dataTable a déjà été chargé
		        var dtable = $('#agents_sans_perimetre_rlc').DataTable( {
				    	"oLanguage": oLanguage_fr(),
				        "processing": true,
				        "serverSide": true,
				        "ajax": "{{ path('agent_sans_perimetre_rlc_server_processing', { 'campagnePnc': campagneRlc.campagnePnc.id, 'campagneRlc': campagneRlc.id }) }}",
				        "sAjaxDataProp": "data",
				        "pageLength": 10,
				        "searchDelay": 500,
						"order": [[ 0, "asc" ]],
						"columnDefs": [ 
                                        { targets: [6], orderable: false } 
                                      ],
	                    "dom": 'l<"pull-right"<"pull-right"B>>tipr',
               	        "buttons": [
	                                   {
	                                       extend: 'csv',
               	                           text: '<i class="fa fa-file-excel-o" title="Exporter la page courante en CSV"></i>',
               	                           title: 'Agents sans périmètre RLC',
               	                           fieldSeparator: ';',
               	                           exportOptions: {
               		                           columns: [ 0, 1, 2, 3, 4, 5 ], // colonnes concernées par l'export
               		                           modifier: {
               			                          selected: true
               			                       }
               	                           }
                                       },
                                       {
               	                           extend: 'colvis',
               	                           text: '<i class="fa fa-columns" title="Afficher / masque des colonnes"></i>',
               	                           columns: [ 1, 2, 3, 4, 5 ]  // colonnes pouvant être masquées
                                       }
                                   ],
				        "columns":[ 
				                   {"data": "agent"}, 
				                   {"data": "uniteOrganisationnelle"},
				                   {"data": "affectation"},
				                   {"data": "shd"}, 
				                   {"data": "ah"},
				                   {"data": "evaluable"},
				                   {"data": "actions"},
				               ] 
				    } );
		        setAjaxDataTable("#agents_sans_perimetre_rlc", dtable);
		        agentsSansPerimetreCharges = true;
             }
        }

        <!-- Select2 -->        
	       $(document).ready(function() {
             // Gestion de l'affichage ou pas de l'icone filtre
             var filtresPerimetresBrhp = document.getElementById("recherche_campagne_rlc_perimetresBrhp").selectedOptions.length;
             var filtresCategories = document.getElementById("recherche_campagne_rlc_categories").selectedOptions.length;
             var filtresAffectations = document.getElementById("recherche_campagne_rlc_affectations").selectedOptions.length;
             var filtresCorps = document.getElementById("recherche_campagne_rlc_corps").selectedOptions.length;

             if(filtresPerimetresBrhp + filtresCategories + filtresAffectations + filtresCorps > 0){
	               document.getElementById('icone_filter').style.display = 'inline-block';
             }
	            // Fin de gestion de l'affichage ou pas de l'icone filtre
        
	            $("#recherche_campagne_rlc_perimetresBrhp").select2({
	                placeholder: "Périmètres BRHP ...",
	                allowClear: true,
	                width: '100%'
	            });
	
	            $("#recherche_campagne_rlc_categories").select2({
	                placeholder: "Catégories ...",
	                allowClear: true,
	                width: '100%'
	            });
	
	            $("#recherche_campagne_rlc_affectations").select2({
	                placeholder: "Affectations ...",
	                allowClear: true,
	                width: '100%'
	            });
	
	            $("#recherche_campagne_rlc_corps").select2({
	                placeholder: "Corps ...",
	                allowClear: true,
	                width: '100%'
	            });
       });
       
     <!-- /Select2 -->
		
    </script>
        
{% endblock javascripts %}