<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 10%" class="text-center">Faibles</th>
                    <th style="width: 10%" class="text-center">Moyennes</th>
                    <th style="width: 10%" class="text-center">Fortes</th>
                    <th style="width: 10%" class="text-center">Très fortes</th>
                    <th style="width: 10%" class="text-center">Non pertinent</th>
                    <th style="width: 25%" class="text-center">Expliciter</th>
                </tr>
            </thead>
            <tbody>
                {% for contraintePoste in crep.contraintesPoste %}
                    <tr>
                        <td>
                            {{ contraintePoste.libelle }}
                        </td>
                        {% for index in 0..4 %}
                        	<td class="text-center">{{ contraintePoste.niveauDifficulte|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                        <td>
                        	{{ contraintePoste.observations|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
                
                {% if crep.autresContraintesPoste is not empty %}
                	<tr>
                		<td colspan="7" style="background-color: #EFEFEF"><strong>Autres</strong></td>
                    </tr>
                    {% for autreContraintePoste in crep.autresContraintesPoste %}
                        <tr>
                            <td>
                                {{ autreContraintePoste.libelle }}
                            </td>
                            {% for index in 0..4 %}
                            	<td class="text-center">{{ autreContraintePoste.niveauDifficulte|iconCheck(loop.index0)|raw }}</td>
                            {% endfor %}
                            <td>
                            	{{ autreContraintePoste.observations|nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
