<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                	<th class="text-center">Priorité</th>
                	<th>Intitulé de la formation</th>
                    <th>Type d’actions de formation</th>
                    <th class="text-center">CPF</th>
                </tr>
            </thead>
            <tbody>
            {% for formationDemandeeAgent in crep.formationsDemandeesAgent %}
                <tr>
                    <td class="text-center">{{ formationDemandeeAgent.priorite }}</td>
                    <td>{{ formationDemandeeAgent.libelle | nl2br }}</td>
                    <td>{{ formationDemandeeAgent.typologie|selectTypologieFormationCrepMinefContract }}</td>
                    <td class="text-center">{{ formationDemandeeAgent.dif|ouiNon }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br/><br/>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Autre (préparation aux concours ou examens professionnels, vae, bilan de compétences)</p>
		<p class="well well-xs">{{ crep.autresBesoinsFormation|nl2br }}</p>
    </div>
</div>

<br/>