<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Typologie</th>
                <th>Libellé de la formation</th>
                <th>Code de la formation</th>
                <th class="text-center">Priorité</th>
                <th class="text-center">Niveau SAME</th>
                <th class="text-center">Objectifs(*)</th>
            </tr>
            </thead>
            <tbody>
            {% for formationDemandeeAdministration in crep.formationsDemandeesAdministration %}
                <tr>
                    <td>{{ formationDemandeeAdministration.typologie|selectTypologieFormationCrepMindef01 }}</td>
                    <td>{{ formationDemandeeAdministration.libelle }}</td>
                    <td>{{ formationDemandeeAdministration.code }}</td>
                    <td class="text-center">{{ formationDemandeeAdministration.priorite }}</td>
                    <td class="text-center">{{ formationDemandeeAdministration.niveauSame|echelleNiveauSameCrepMindef01 }}</td>
                    <td class="text-center">{{ formationDemandeeAdministration.lienAvecObjectifs|ouiNon }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>
