{% form_theme form 'crep/crepMcc02/Form/App_form_crepMcc02_6.html.twig' %}

<br/>

<div class="row">
    {{ form_row(form.prenom, { 'label': "Prénom"}) }}
    {{ form_row(form.nomUsage, { 'label': "Nom" }) }}
</div>

<div class="row">
    {{ form_row(form.dateNaissance, { 'label': "Date de naissance"}) }}
</div>

<div class="row">
    {{ form_row(form.corps, { 'label': "Corps" }) }}
    {{ form_row(form.grade, { 'label': "Grade" }) }}
</div>

<div class="row">
    {{ form_row(form.echelon, { 'label': "Échelon" }) }}
</div>

<div class="row">
    {{ form_row(form.emploiFonctionnel, {'label': "Nommé sur un emploi fonctionnel", 'label_attr': {'class' : 'radio-inline', 'style':'text-align:rigth;'}}) }}
</div>

<div class="row">
    {{ form_row(form.libelleEmploiFonctionnel, { 'label': "Si oui, préciser lequel" } ) }}
</div>

<div class="row">
        <span>{{ form_row(form.groupeEmploiFonctionnel, { 'label': "Et, le cas échéant, son groupe" } ) }}</span>
</div>

<br>
