<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 30%">Intitulé du stage</th>
                <th style="width: 10%" class="text-center">Indice de satisfaction (de 1 à 5*)</th>
                <th style="width: 10%" class="text-center">Commentaires de l’agent</th>
                <th style="width: 10%" class="text-center">Avez-vous utilisé la documentation ? </th>
                <th style="width: 20%" class="text-center">Formations complémentaires à prévoir</th>
                <th style="width: 20%" class="text-center">Avis du supérieur hiérarchique sur l’efficacité de la formation </th>
            </tr>
            </thead>
            <tbody>
            {% if (crep.crepDgacFormationsSuivies is empty) %} {% for index in	0..1 %}
                <tr>
                    <td><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %} {% else %} {% for crepDgacFormationsSuivies in crep.crepDgacFormationsSuivies %}
                <tr>
                    <td>{{ crepDgacFormationsSuivies.libelle }}</td>
                    <td>{{ crepDgacFormationsSuivies.utilisationFormation|nl2br }}</td>
                    <td>{{ crepDgacFormationsSuivies.commentaireAgent|nl2br }}</td>
                    <td>{{ crepDgacFormationsSuivies.utilisationDocumentation|nl2br }}</td>
                    <td>{{ crepDgacFormationsSuivies.formationComplementaire|nl2br }}</td>
                    <td>{{ crepDgacFormationsSuivies.commentaires|nl2br }}</td>
                </tr>
            {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>