<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.prenomShd, { 'label': "Prénom" }) }}
    </div>
    
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.nomUsageShd, { 'label': "Nom" }) }}
    </div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.categorieShd, { 'label': "Catégorie" }) }}
    </div>
    
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.corpsShd, { 'label': "Corps" }) }}
    </div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.gradeShd, { 'label': "Grade" }) }}
    </div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.fonctionExerceeShd, { 'label': "Fonction exercée"}) }}
	</div>
</div>