<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 30%">Compétences professionnelles exclusivement managériales</th>
                    <th style="width: 10%" class="text-center">Exceptionnelle*</th>
                    <th style="width: 10%" class="text-center">Forte</th>
                    <th style="width: 10%" class="text-center">Assez forte</th>
                    <th style="width: 10%" class="text-center">A développer</th>
                    <th style="width: 10%" class="text-center">Non pertinent</th>
                    <th style="width: 20%">Observations</th>
                </tr>
            </thead>
            <tbody>
                {% for competenceManageriale in crep.competencesManageriales %}
                    <tr>
                        <td>
                            {{ competenceManageriale.libelle }}
                        </td>
                        {% for index in 0..4 %}
                        	<td class="text-center">{{ competenceManageriale.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                        <td>
                            {{ competenceManageriale.observations|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
                
                {% if crep.autresCompetencesManageriales is not empty %}
                	<tr>
                		<td colspan="7" style="background-color: #EFEFEF"><strong>Autres compétences éventuellement démontrées par l’agent</strong></td>
                    </tr>
                    {% for autreCompetenceManageriale in crep.autresCompetencesManageriales %}
                        <tr>
                            <td>
                                {{ autreCompetenceManageriale.libelle }}
                            </td>
                            {% for index in 0..4 %}
                            	<td class="text-center">{{ autreCompetenceManageriale.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                            {% endfor %}
                            <td>
                            	{{ autreCompetenceManageriale.observations|nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>