<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Compétences liées à l'action</th>
                    <th class="text-center" width="100px">Exceptionnelle*</th>
                    <th class="text-center" width="100px">Forte</th>
                    <th class="text-center" width="100px">Assez forte</th>
                    <th class="text-center" width="100px">À développer</th>
                    <th class="text-center" width="100px">Non observée</th>
                </tr>
            </thead>
            <tbody>

            {% for key, competence in crep.competencesActions %}
                <tr>
                    <td>{{ competence.libelle }}</td>
                    {% for index in 0..4 %}
                        <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <label>Observations liées à l'action :</label>
        <div class="row form-group project_detail">
                <p class="well well-xs"> {{ crep.observationsCompetencesActions | nl2br }}</p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à la relation</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>

            <tbody>

            {% for key, competence in crep.competencesRelations %}
                <tr>
                    <td>{{ competence.libelle | nl2br }}</td>
                    {% for index in 0..4 %}
                        <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw }}</td>
                    {% endfor %}
                </tr>

            {% endfor %}

            </tbody>

        </table>
        <label>Observations liées à la relation :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.observationsCompetencesRelations | nl2br }}</p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Compétences liées à l’intelligence des situations</th>
                    <th class="text-center" width="100px">Exceptionnelle*</th>
                    <th class="text-center" width="100px">Forte</th>
                    <th class="text-center" width="100px">Assez forte</th>
                    <th class="text-center" width="100px">À développer</th>
                    <th class="text-center" width="100px">Non observée</th>
                </tr>
            </thead>
            <tbody>
            {% for key, competence in crep.competencesSituations %}

                <tr>
                    <td>{{ competence.libelle | nl2br }}</td>
                    {% for index in 0..4 %}
                        <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw }}</td>
                    {% endfor %}
                </tr>

            {% endfor %}

            </tbody>

        </table>

        <label>Observations liées à l’intelligence des situations :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.observationsCompetencesSituations | nl2br }}</p>
        </div>
    </div>
</div>
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>

<br>
