{% set listeNiveauxAction = crep.competencesActions | allNiveauCompetenceCrepMcc02 %}
{% set listeActions = crep.competencesActions %}
<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Compétences professionnelles <br><small>(grille à compléter en intégralité)</small></th>
                    {% for key, niveau in listeNiveauxAction %}
                        <th class="text-center" width="100px">{{ key | capitalize }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            {% for key, competence in crep.competencesActions %}

                <tr>
                    <td>{{ competence.libelle | nl2br }}</td>

                    {% if competence.niveau  is  not null %}

                        {% for keyAction, action in listeActions %}

                            {%  if key ==  keyAction  %}

                                {% for index in listeNiveauxAction %}

                                    {%  if index ==  competence.niveau %}
                                        <td class="text-center"><i class="fa fa-check"></i><br></td>
                                    {% else %}
                                        <td><br></td>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endfor %}

                    {% else %}

                        {% for index in listeNiveauxAction %}
                            <td><br></td>
                        {% endfor %}

                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>
        </table>

        <label>Observations :</label>
        <div class="row form-group project_detail">
                <p class="well well-xs"> {{ crep.observationsCompetencesActions | nl2br }}</p>
        </div>
    </div>
</div>
<br>

{% set listeNiveauxRelation = crep.competencesRelations | allNiveauCompetenceCrepMcc02 %}
{% set listeRelations = crep.competencesRelations %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à la relation</th>
                {%  for key, niveau in listeNiveauxRelation %}
                    <th class="text-center" width="100px">{{ key | capitalize }}</th>
                {%  endfor %}
            </tr>
            </thead>

            <tbody>

            {% for key, competence in crep.competencesRelations %}

                <tr>
                    <td>{{ competence.libelle | nl2br }}</td>

                    {% if competence.niveau  is  not null %}

                        {% for keyRelation, relation in listeRelations %}

                            {%  if key ==  keyRelation  %}

                                {% for index in listeNiveauxRelation %}

                                    {%  if index ==  competence.niveau %}
                                        <td class="text-center"><i class="fa fa-check"></i><br></td>
                                    {% else %}
                                        <td><br></td>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endfor %}

                    {% else %}

                        {% for index in listeNiveauxRelation %}
                            <td><br></td>
                        {% endfor %}

                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>

        </table>
        <label>Observations :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.observationsCompetencesRelations | nl2br }}</p>
        </div>
    </div>
</div>
<br>

{% set listeNiveauxSituation  =  crep.competencesSituations | allNiveauCompetenceCrepMcc02 %}
{% set listeSituations  =  crep.competencesSituations %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Compétences liées à l’intelligence des situations</th>
                    {% for key, niveau in listeNiveauxSituation %}
                        <th class="text-center" width="100px">{{ key | capitalize }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>


            {% for key, competence in crep.competencesSituations %}

                <tr>
                    <td>{{ competence.libelle | nl2br }}</td>

                    {% if competence.niveau  is  not null %}

                        {% for keySituation, situation in listeSituations %}

                            {%  if key ==  keySituation %}

                                {% for index in listeNiveauxSituation %}

                                    {%  if index ==  competence.niveau %}
                                        <td class="text-center"><i class="fa fa-check"></i><br></td>
                                    {% else %}
                                        <td><br></td>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endfor %}

                    {% else %}

                        {% for index in listeNiveauxSituation %}
                            <td><br></td>
                        {% endfor %}

                    {% endif %}

                </tr>

            {% endfor %}



            {#{% for key, competence in crep.competencesSituations %}#}

                {#<tr>#}
                    {#<td>{{ competence.libelle | nl2br }}</td>#}

                    {#{% if competence.niveau  is  not null %}#}

                        {#{% for keySituation, situation in listeRelations %}#}

                            {#{%  if key == keySituation %}#}

                                {#{% for index in listeNiveauxSituation %}#}

                                    {#{%  if index ==  competence.niveau %}#}
                                        {#<td class="text-center"><i class="fa fa-check"></i><br></td>#}
                                    {#{% else %}#}
                                        {#<td><br></td>#}
                                    {#{% endif %}#}

                                {#{% endfor %}#}

                            {#{% endif %}#}

                        {#{% endfor %}}#}

                    {#{% else %}#}

                        {#{% for index in listeNiveauxSituation %}#}
                            {#<td><br></td>#}
                        {#{% endfor %}#}

                    {#{% endif %}#}

                {#</tr>#}
            {#{% endfor %}#}

            </tbody>

        </table>

        <label>Observations :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.observationsCompetencesSituations | nl2br }}</p>
        </div>
    </div>
</div>
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>

<br>
