<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Civilité </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.civilite }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.prenom|title }}
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nomUsage|upper }}
        </div>
    </div>

</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.dateNaissance %}{{ crep.dateNaissance | date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>


<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Emploi occupé </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.posteOccupeAgent }}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Échelon </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.echelon }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Direction/ Service </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.direction }}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corps/ cadre d’emplois d'origine </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.corps }}
        </div>
    </div>

</div>

<div class="row form-group">

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade d’origine </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.grade }}
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Echelon d'origine </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.echelonOrigine }}
        </div>
    </div>
</div>

<br/>