<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 50%">Objectifs d’ordre collectif</th>
                <th style="width: 15%" class="text-center">Réalisation</th>
                <th style="width: 35%">Commentaires</th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in crep.objectifsEvaluesCollectifs %}
                <tr>
                    <td>{{ objectif.libelle|nl2br}}</td>
                    <td>{{ objectif.resultatObtenu|echelleObjectifEvalueCrepAc }}</td>
                    <td>{{ objectif.resultat|nl2br }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 50%">Objectifs d’ordre individuel</th>
                <th style="width: 15%" class="text-center">Réalisation</th>
                <th style="width: 35%">Commentaires</th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in crep.objectifsEvaluesIndividuels %}
                <tr>
                    <td>{{ objectif.libelle|nl2br}}</td>
                    <td>{{ objectif.resultatObtenu|echelleObjectifEvalueCrepAc }}</td>
                    <td>{{ objectif.resultat|nl2br }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>