{% extends 'Brhp/new.html.twig' %}

{% block frameTitle %}BRHP{% endblock frameTitle %}
{% block pageIcon %}fa fa-user{% endblock pageIcon %}
{% block pageTitle %}Bureau RH de proximité (BRHP){% endblock pageTitle %}

{% block content %}
<!-- page content -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel panel_green">
            <div class="x_title">
                <h2>{% block formTitle %}Détail{% endblock formTitle %}<small></small></h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal form-label-left'}})}}
                    {{ form_row(form.civilite, { 'label': "Civilité", 'attr': {'disabled': "disabled", 'readonly': "readonly"} }) }}
                    {{ form_row(form.nom, { 'label': "Nom", 'icone': 'fa fa-user', 'attr': {'readonly': "readonly"} }) }}
                    {{ form_row(form.prenom, { 'label': "Prénom", 'icone': 'fa fa-user', 'attr': {'readonly': "readonly"} }) }}
                    {{ form_row(form.email, { 'label': "Email", 'attr': {'readonly': "readonly"}}) }}
                    {{ form_row(form.perimetresBrhp, { 'label': "Périmètres BRHP", 'attr': {'class': 'select2_multiple', 'disabled': "disabled"}}) }}
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock content%}
