<style>
    
    .text-center {
        text-align: center;
    }
    
    /*.bordered {*/
        /*border: 1px #000000 solid;*/
    /*}*/
    
    .bordered-double {
        border:1px double black;
    }
    .title-crep {
        font-size: 14px;
    }
    .label-crep {
        font-size: 12px;
    }
    .font-small-crep {
        font-size: 11px;
    }
    /*.bg-full {*/
        /*background-color: #E9E9E9;*/
    /*}*/
    
    /*.strong-th {*/
        /*font-weight: bold;*/
    /*}*/
    
    body {
        font-size: 12px;
        font-family: 'Times New Roman',serif;
    }
    
    /*.cl-italic {*/
        /*font-style: italic;*/
    /*}*/
    
    /*table.padding-mcc002 {*/
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
    /*}*/
    
    /*td.padding-mcc002 {*/
        /*padding-bottom: 30px;*/
    /*}*/
    /*.bordered-left-rigth {*/
        /*border-left: 1px #000000 solid;*/
        /*border-right: 1px #000000 solid;*/
    /*}*/
    /*.bordered-left {*/
        /*border-left: 1px #000000 solid;*/
    /*}*/
    /*.bordered-top {*/
        /*border-top: 1px #000000 solid;*/
    /*}*/
    /*.bordered-bottom {*/
        /*border-bottom: 1px #000000 solid;*/
    /*}*/

</style>
<!-- début -->

    <div class="text-center title-crep">
        <strong>DIRECTION DE LA PROTECTION JUDICIAIRE DE LA JEUNESSE</strong><br>
        <strong>_______________________</strong>
        <br><br>
        <strong>COMPTE RENDU D’ENTRETIEN PROFESSIONNEL</strong><br>
        <strong>ANNÉE {% if crep.dateVIsaShd is not empty %} {{ anneeEvaluee }} {% endif %}</strong>
    </div>
    <div>
        <em>(Document à remettre à l’agent au moins 8 jours francs avant la date de l’entretien, <strong>accompagné de la
                fiche de poste</strong>)</em>
    </div>
    <table class="bordered-double">
        <tr>
            <td>
                <table border="0" width="100%">
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>AGENT ÉVALUÉ</strong>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>NOM DE FAMILLE*</strong> : {{ crep.nomNaissance | upper }}
                        </td>
                        <td colspan="2">
                            <strong>NOM MARITAL </strong>: {{ crep.nomMarital | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Prénom* </strong>: {{ crep.prenom | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Situation administrative* </strong>:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if crep.titulaire == 1 and crep.titulaire is not null %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;Titulaire</label>
                        </td>
                        <td>
                            {% if crep.titulaire is not null and crep.titulaire == 0 %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;Non titulaire</label>
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Pour les agents titulaires* </strong> :
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Corps </strong> : {{ crep.corps }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Grade </strong> : {{ crep.grade }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>Fonction*</strong> : {% if crep.posteOccupe %}{{ crep.posteOccupe }}{% endif %}
                        </td>
                        <td colspan="2">
                            <strong>occupée depuis (durée en mois / années)</strong> {% if crep.dateEntreePosteOccupe %}{{ crep.dateEntreePosteOccupe | date('m/Y') }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Activité d’encadrement* </strong>:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if crep.activiteEncadrement == 1 and crep.activiteEncadrement is not null %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;OUI</label>
                        </td>
                        <td>
                            {% if crep.activiteEncadrement is not null and crep.activiteEncadrement == 0 %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;NON</label>
                        </td>
                        <td colspan="2">
                            <u>Nombre total d’agents à encadrer</u> : {{ crep.nbAgentsEncadres }}<br>
                            -dont agents de catégorie A : {{ crep.nbAgentsEncadresA }}<br>
                            -dont agents de catégorie B : {{ crep.nbAgentsEncadresB }}<br>
                            -dont agents de catégorie C : {{ crep.nbAgentsEncadresC }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Affectation* </strong>:
                        </td>
                        <td>
                            &bull; DIR : {{ crep.direction }}<br>
                            &bull; DT : {{ crep.departement }}<br>
                            &bull; Service : {{ crep.service }}
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <em class="font-small-crep">* mentions obligatoires</em>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="bordered-double">
        <tr>
            <td>
                <table class="text-center" border="0" width="100%">
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>ÉVALUATEUR</strong>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td colspan="2">
                            <strong>NOM DE FAMILLE*</strong> : {{ crep.nomNaissanceShd | upper }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>NOM MARITAL </strong>: {{ crep.nomMaritalShd  | upper }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Prénom* </strong>: {{ crep.prenomShd | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>Fonction*</strong> : {% if crep.posteOccupeShd %}{{ crep.posteOccupeShd }}{% endif %}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td>
                            <strong>Affectation* </strong>:
                        </td>
                        <td>
                            &bull; DIR : {{ crep.directionShd  }}<br>
                            &bull; DT : {{ crep.departementShd  }}<br>
                            &bull; Service : {{ crep.serviceShd  }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>*Si l’évaluation ne peut être assurée par le N+1 </strong><em>(indiquer les raisons) :
                            </em>{{ crep.motifAbsenceEntretienShd }}
                        </td>
                    </tr>
                    <tr><td colspan="4"></td></tr>
                    <tr>
                        <td colspan="4">
                            <em class="font-small-crep">* mentions obligatoires</em>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="text-left">
        <<strong>>L’entretien professionnel n’a pu se tenir en raison de la présence insuffisante de l’agent<br>
            au cours de la période de référence (motifs) : </strong>
    </div>
    <br>
    <table>
        <tr>
            <td width="290px">
                {% if crep.typeAbsenceEntretien == 0 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>non activité (durée de l'absence)</label>
            </td>
            <td>
                {% if crep.typeAbsenceEntretien == 1 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>congés</label>
            </td>
            <td colspan="3">
                {% if crep.typeAbsenceEntretien == 2 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>autres</label>
            </td>
        </tr>
        <tr>
            <td colspan="3">{{ crep.motifAbsenceEntretien }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2"><u><stron>Date de l’entretien professionnel</stron></u> :</td>
            <td>{{ crep.dateEntretien | date('d/m/Y') }}</td>
        </tr>
    </table>
    <!-- page 1 -->
    
    <div style="page-break-before:always;"></div>

    {#<table class="bordered-double">#}
        {#<tr>#}
            {#<td>#}
                {#sdfsdfdsfsdf#}
            {#</td>#}
        {#</tr>#}
    {#</table>#}
{#<div class="bordered text-center" style="font-size: 14px;">#}
   {##}
    {##}
    {##}
    {##}
    {##}
    {#<br/>#}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="control-label col-md-3 col-sm-3 col-xs-12">Nom de famille </label>#}
            {#<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">#}
                {#{{ crep.nomNaissanceShd }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="control-label col-md-3 col-sm-3 col-xs-12">Nom marital </label>#}
            {#<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">#}
                {#{{ crep.nomMaritalShd }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom </label>#}
            {#<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">#}
                {#{{ crep.prenomShd | title }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="control-label col-md-3 col-sm-3 col-xs-12">Fonction </label>#}
            {#<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{% if crep.posteOccupeShd %}{{ crep.posteOccupeShd }}{% endif %}</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="text-right col-md-3 col-sm-3 col-xs-12">Affectation </label>#}
            {#<div class="col-md-3 col-sm-3 col-xs-12">#}
                {#<label>&nbsp;&nbsp;DIR :</label>#}
            {#</div>#}
            {#<div class="col-md-6 col-sm-6 col-xs-12 well well-xs">#}
                {#{{ crep.directionShd }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#</div>#}
    {#</div>#}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="text-right col-md-3 col-sm-3 col-xs-12"> </label>#}
            {#<div class="col-md-3 col-sm-3 col-xs-12">#}
                {#<label>&nbsp;&nbsp;DT :</label>#}
            {#</div>#}
            {#<div class="col-md-6 col-sm-6 col-xs-12 well well-xs">#}
                {#{{ crep.departementShd }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#</div>#}
    {#</div>#}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="text-right col-md-3 col-sm-3 col-xs-12"> </label>#}
            {#<div class="col-md-3 col-sm-3 col-xs-12">#}
                {#<label>&nbsp;&nbsp;Service :</label>#}
            {#</div>#}
            {#<div class="col-md-6 col-sm-6 col-xs-12 well well-xs">#}
                {#{{ crep.serviceShd }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
        {#</div>#}
    {#</div>#}
    {##}
    {##}
    {##}
    {##}
    {#<div class="row">#}
        {#<div class="col-md-12 col-sm-12 col-xs-12">#}
            {#<dl class="m-t-md">#}
                {#<dt> Si l’évaluation ne peut être assurée par le N+1 (indiquer les raisons) : </dt>#}
                {#<dd class="well well-xs">#}
                    {#{{ crep.motifAbsenceEntretienShd | nl2br }}#}
                {#</dd>#}
            {#</dl>#}
        {#</div>#}
    {#</div>#}
    {#<div>#}
        {#<div class="col-md-12 col-sm-12 col-xs-12">#}
            {#<span>* mentions obligatoires</span>#}
        {#</div>#}
    {#</div>#}
    {#<br><br>#}
    {##}
    {#<div class="row">#}
        {#<div class="col-md-12 col-sm-12 col-xs-12 pull-left">#}
            {#<label>L’entretien professionnel n’a pu se tenir en raison de la présence insuffisante de l’agent au cours de la période de référence (motifs) :</label>#}
            {#&nbsp;&nbsp;#}
            {#<label>#}
                {#<input type="checkbox" class="flat" disabled="disabled"#}
                        {#{% if crep.motifAbsenceEntretien == 0 and crep.motifAbsenceEntretien is not null %}#}
                            {#checked="checked"#}
                        {#{% endif %}#}
                {#>#}
            {#</label> non activité (durée de l'absence)&nbsp;&nbsp;#}
            {#<label>#}
                {#<input type="checkbox" class="flat" disabled="disabled"#}
                        {#{% if crep.motifAbsenceEntretien == 1 and crep.motifAbsenceEntretien is not null %}#}
                            {#checked="checked"#}
                        {#{% endif %}#}
                {#>#}
            {#</label> congés&nbsp;&nbsp;#}
            {##}
            {#<label>#}
                {#<input type="checkbox" class="flat" disabled="disabled"#}
                        {#{% if crep.motifAbsenceEntretien == 2 and crep.motifAbsenceEntretien is not null %}#}
                            {#checked="checked"#}
                        {#{% endif %}#}
                {#>#}
            {#</label> autres&nbsp;&nbsp;#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<div class="row form-group">#}
        {#<div class="col-md-6 col-sm-6 col-xs-12">#}
            {#<label class="control-label col-md-3 col-sm-3 col-xs-12">Date de l’entretien professionnel </label>#}
            {#<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{% if crep.dateEntretien %}{{ crep.dateEntretien | date('d/m/Y') }}{% endif %}</div>#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<br>#}



{#</div>#}



{#<br/>#}

{#<h4>4. ACQUIS DE L’EXPÉRIENCE PROFESSIONNELLE</h4>#}

{#<table cellpadding="5" style="font-size:10.0pt;">#}
    {#<tr>#}
        {#<td style="border:1px #000000 solid;">#}
            {#{{ crep.acquisExperiencePro | nl2br }}#}
            {#<br/>#}
            {#<br/>#}
        {#</td>#}
    {#</tr>#}
{#</table>#}
