<style>
    
    .text-center {
        text-align: center;
    }
    
    .bordered {
        border: 1px #000000 solid;
    }
    
    .bordered-double {
        border:1px double black;
    }
    .title-crep {
        font-size: 14px;
    }
    .label-crep {
        font-size: 12px;
    }
    .font-small-crep {
        font-size: 11px;
    }
    .bg-full {
        background-color: #E9E9E9;
    }
    
    .strong-th {
        font-weight: bold;
    }
    
    body {
        font-size: 12px;
        font-family: 'Times New Roman',serif;
    }
    
    /*.cl-italic {*/
        /*font-style: italic;*/
    /*}*/
    
    /*table.padding-mcc002 {*/
        /*padding-top: 5px;*/
        /*padding-bottom: 5px;*/
    /*}*/
    
    /*td.padding-mcc002 {*/
        /*padding-bottom: 30px;*/
    /*}*/
    .bordered-left-rigth {
        border-left: 1px #000000 solid;
        border-right: 1px #000000 solid;
    }
    .bordered-left {
        border-left: 1px #000000 solid;
    }
    .bordered-top {
        border-top: 1px #000000 solid;
    }
    .bordered-bottom {
        border-bottom: 1px #000000 solid;
    }
    .bordered-rigth {
        border-right: 1px #000000 solid;
    }
    
</style>
    <!-- Page 01 -->

    <div class="text-center title-crep">
        <strong>DIRECTION DE LA PROTECTION JUDICIAIRE DE LA JEUNESSE</strong><br>
        <strong>_______________________</strong>
        <br><br>
        <strong>COMPTE RENDU D’ENTRETIEN PROFESSIONNEL</strong><br>
        <strong>ANNÉE  {{ anneeEvaluee }} </strong>
    </div>
    <div>
        <em>(Document à remettre à l’agent au moins 8 jours francs avant la date de l’entretien, <strong>accompagné de la
                fiche de poste</strong>)</em>
    </div>
    <table class="bordered-double">
        <tr>
            <td>
                <table border="0" width="100%">
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>AGENT ÉVALUÉ</strong>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>NOM DE FAMILLE*</strong> : {{ crep.nomNaissance | upper }}
                        </td>
                        <td colspan="2">
                            <strong>NOM MARITAL </strong>: {{ crep.nomMarital | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Prénom* </strong>: {{ crep.prenom | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Situation administrative* </strong>:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if crep.titulaire == 1 and crep.titulaire is not null %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;Titulaire</label>
                        </td>
                        <td>
                            {% if crep.titulaire is not null and crep.titulaire == 0 %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;Non titulaire</label>
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Pour les agents titulaires* </strong> :
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Corps </strong> : {{ crep.corps }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Grade </strong> : {{ crep.grade }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>Fonction*</strong> : {% if crep.posteOccupe %}{{ crep.posteOccupe }}{% endif %}
                        </td>
                        <td colspan="2">
                            <strong>occupée depuis (durée en mois / années)</strong> {% if crep.dateEntreePosteOccupe %}{{ crep.dateEntreePosteOccupe | date('m/Y') }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>Activité d’encadrement* </strong>:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if crep.activiteEncadrement == 1 and crep.activiteEncadrement is not null %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;OUI</label>
                        </td>
                        <td>
                            {% if crep.activiteEncadrement is not null and crep.activiteEncadrement == 0 %}
                                &#9745;
                            {% else %}
                                &#9744;
                            {% endif %}
                            <label>&nbsp;&nbsp;NON</label>
                        </td>
                        <td colspan="2">
                            <u>Nombre total d’agents à encadrer</u> : {{ crep.nbAgentsEncadres }}<br>
                            -dont agents de catégorie A : {{ crep.nbAgentsEncadresA }}<br>
                            -dont agents de catégorie B : {{ crep.nbAgentsEncadresB }}<br>
                            -dont agents de catégorie C : {{ crep.nbAgentsEncadresC }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Affectation* </strong>:
                        </td>
                        <td>
                            &bull; DIR : {{ crep.direction }}<br>
                            &bull; DT : {{ crep.departement }}<br>
                            &bull; Service : {{ crep.service }}
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <em class="font-small-crep">* mentions obligatoires</em>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="bordered-double">
        <tr>
            <td>
                <table class="text-center" border="0" width="100%">
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>ÉVALUATEUR</strong>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td colspan="2">
                            <strong>NOM DE FAMILLE*</strong> : {{ crep.nomNaissanceShd | upper }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>NOM MARITAL </strong>: {{ crep.nomMaritalShd  | upper }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="4">
                            <strong>Prénom* </strong>: {{ crep.prenomShd | upper }}
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td colspan="2">
                            <strong>Fonction*</strong> : {% if crep.posteOccupeShd %}{{ crep.posteOccupeShd }}{% endif %}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr><td colspan="4"><br></td></tr>
                    <tr>
                        <td>
                            <strong>Affectation* </strong>:
                        </td>
                        <td>
                            &bull; DIR : {{ crep.directionShd  }}<br>
                            &bull; DT : {{ crep.departementShd  }}<br>
                            &bull; Service : {{ crep.serviceShd  }}
                        </td>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <strong>*Si l’évaluation ne peut être assurée par le N+1 </strong><em>(indiquer les raisons) :
                            </em>{{ crep.motifAbsenceEntretienShd }}
                        </td>
                    </tr>
                    <tr><td colspan="4"></td></tr>
                    <tr>
                        <td colspan="4">
                            <em class="font-small-crep">* mentions obligatoires</em>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="text-left">
        <<strong>>L’entretien professionnel n’a pu se tenir en raison de la présence insuffisante de l’agent<br>
            au cours de la période de référence (motifs) : </strong>
    </div>
    <br>
    <table>
        <tr>
            <td width="290px">
                {% if crep.typeAbsenceEntretien == 0 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>non activité (durée de l'absence)</label>
            </td>
            <td>
                {% if crep.typeAbsenceEntretien == 1 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>congés</label>
            </td>
            <td colspan="3">
                {% if crep.typeAbsenceEntretien == 2 and crep.typeAbsenceEntretien is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <label>autres</label>
            </td>
        </tr>
        <tr>
            <td colspan="3">{{ crep.motifAbsenceEntretien }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2"><u><stron>Date de l’entretien professionnel</stron></u> :</td>
            <td>{{ crep.dateEntretien | date('d/m/Y') }}</td>
        </tr>
    </table>

    <!-- page 02 -->
    <div style="page-break-before:always;"></div>

    <div class="text-center title-crep">
        <strong>1. APPRÉCIATION DES RÉSULTATS PROFESSIONNELS</strong><br>

        <br>
        <strong>1.1 Bilan des objectifs de l’année écoulée</strong><br>
    </div>



    <table cellpadding="5" style="font-size: 11px;">
        <tr class="text-center">
            <th class="bordered bg-full strong-th" width="37%">Rappel de l’objectif de l’année écoulée assigné à l’agent</th>
            <th colspan="2" class="bordered bg-full strong-th" width="28%">Degré de réalisation de cet  objectif</th>
            <th class="bordered bg-full strong-th" width="35%">Commentaires</th>
        </tr>

        {% if crep.objectifsEvalues | length > 0 %}

            {% for key, objectif in crep.objectifsEvalues %}
                <tr>
                    <td rowspan="2" class="bordered" width="37%">{{ objectif.libelle | nl2br }}</td>
                    <td rowspan="2" class="bordered" width="28%">
                        
                        <table class="text-left" cellpadding="2">
                            <tr>
                                <td>
                                    {% if objectif.resultatObtenu == 0 %}
                                        &#9745;
                                    {% else %}
                                        &#9744;
                                    {% endif %}
                                    atteint
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if objectif.resultatObtenu == 1 %}
                                        &#9745;
                                    {% else %}
                                        &#9744;
                                    {% endif %}
                                    partiellement atteint
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if objectif.resultatObtenu == 2 %}
                                        &#9745;
                                    {% else %}
                                        &#9744;
                                    {% endif %}
                                    non atteint
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if objectif.resultatObtenu == 3 %}
                                        &#9745;
                                    {% else %}
                                        &#9744;
                                    {% endif %}
                                    devenu sans objet
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="bordered" width="35%">
                        <table>
                            <tr>
                                <td class="text-left">
                                    <label>selon l’agent</label> :
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    {{ objectif.indicateurs | nl2br }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="bordered" width="35%">
                        <table>
                            <tr>
                                <td class="text-left">
                                    <label>selon le supérieur</label> :
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    {{ objectif.resultat | nl2br }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}

        {% else %}
            {% for i in 0..2 %}
                <tr>
                    <td rowspan="2" class="bordered" width="37%"></td>
                    <td rowspan="2" width="28%" class="bordered-bottom bordered-top bordered-rigth">
                        <table class="text-left" cellpadding="2">
                            <tr><td>&nbsp;&#9744;&nbsp;atteint</td></tr>
                            <tr><td>&nbsp;&#9744;&nbsp;partiellement atteint</td></tr>
                            <tr><td>&nbsp;&#9744;&nbsp;non atteint</td></tr>
                            <tr><td>&nbsp;&#9744;&nbsp;devenu sans objet</td></tr>
                        </table>
                    </td>
                    <td class="bordered" width="35%">
                        selon l’agent :
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="bordered" width="35%">
                        selon le supérieur :
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    <div class="text-center title-crep">
        <br>
        <strong>1.2 Appréciation globale sur la réalisation des objectifs de l’année écoulée</strong><br>
    </div>

    <table cellpadding="5" style="font-size: 11px;" class="bordered">
        <tr>
            <td colspan="4">
                <u>Globalement, les objectifs sont</u> :
            </td>
        </tr>
        <tr>
            <td>
                {% if crep.contexteResultats == '0' and crep.contexteResultats is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <span>atteints</span>
            </td>
            <td>
                {% if crep.contexteResultats == '1' and crep.contexteResultats is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <span>partiellement</span>
            </td>
            <td>
                {% if crep.contexteResultats == '2' and crep.contexteResultats is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <span>non atteints</span>
            </td>
            <td>
                {% if crep.contexteResultats == '3' and crep.contexteResultats is not null %}
                    &#9745;
                {% else %}
                    &#9744;
                {% endif %}
                <span>devenus sans objet</span>
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
    </table>
    <br><br>
    <div class="text-center title-crep bordered-top">
        <strong>2. CRITÈRES D’APPRÉCIATION DE LA VALEUR PROFESSIONNELLE DE L’AGENT</strong><br>
        
        <br>
        <strong>2.1 Critères généraux d’appréciation des agents de la protection judicaire de la jeunesse</strong><br>
        <em>Dans quelle mesure l’agent a-t-il satisfait aux exigences suivantes ? </em>
    </div>

    <!-- page 3 -->
    <div style="page-break-before:always;"></div>

    <table cellpadding="3" style="font-size: 11px;">
        <tr class="text-center">
            <th class="bordered strong-th" width="37%" ><em>Niveau d'appréciation</em></th>
            <th class="bordered strong-th" width="10%">Excellent</th>
            <th class="bordered strong-th" width="8%">Très bon</th>
            <th class="bordered strong-th text-center" width="8%">Bon</th>
            <th class="bordered strong-th" width="13%">Convenable</th>
            <th class="bordered strong-th" width="12%">Insuffisant</th>
            <th class="bordered strong-th" width="12%">Très insuffisant</th>
        </tr>
        {% for key, competence in crep.competencesJudiciaires %}
            <tr class="text-center">
                <td class="bordered" style="text-align: left">{{ competence.libelle }}</td>
                {% for index in 0..5 %}
                    {% set niveauAcquis = competence.niveauAcquis|iconCheckReverse(loop.revindex0, 5)|raw %}
                    {% if niveauAcquis is not empty %}
                        <td class="bordered">X</td>
                    {% else %}
                        <td class="bordered"><br></td>
                    {% endif %}
                {% endfor %}
                {% if key == 0 %}
                    <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 5)|raw }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="text-center title-crep">
        <strong>2.2 Critères d’appréciation propres aux agents ayant des fonctions d’encadrement</strong>
    </div>
    <br>
    <table cellpadding="3" style="font-size: 11px;">
        <tr class="text-center">
            <th class="bordered strong-th" width="37%" ><em>Niveau d'appréciation</em></th>
            <th class="bordered strong-th" width="10%">Excellent</th>
            <th class="bordered strong-th" width="8%">Très bon</th>
            <th class="bordered strong-th text-center" width="8%">Bon</th>
            <th class="bordered strong-th" width="13%">Convenable</th>
            <th class="bordered strong-th" width="12%">Insuffisant</th>
            <th class="bordered strong-th" width="12%">Très insuffisant</th>
        </tr>
        {% for key, competence in crep.competencesEncadrements %}
            <tr class="text-center">
                <td class="bordered" style="text-align: left">{{ competence.libelle }}</td>
                {% for index in 0..5 %}
                    {% set niveauAcquis = competence.niveauAcquis|iconCheckReverse(loop.revindex0, 5)|raw %}
                    {% if niveauAcquis is not empty %}
                        <td class="bordered">X</td>
                    {% else %}
                        <td class="bordered"><br></td>
                    {% endif %}
                {% endfor %}
                {% if key == 0 %}
                    <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 5)|raw }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="text-center title-crep">
        <strong>2.3 Observations sur l’ensemble des critères évalués au 2.1 et/ou 2.2</strong>
    </div>
    <br>

    <table cellpadding="2" style="font-size: 11px;" class="bordered">
        <tr>
            <td>
                <u>Observations éventuelles du supérieur hiérarchique direct :</u> :
            </td>
        </tr>
        <tr>
            <td style="text-align: left">
                {% if crep.observationsShd is not null %}
                    {{ crep.observationsShd | nl2br }}
                {% else %}
                    <em>(obligatoires en cas de niveau insuffisant/très insuffisant ou de baisse du niveau d’appréciation)</em>
                    <br><br><br><br>
                {% endif %}
            </td>
        </tr>
    </table>
    <table cellpadding="2" style="font-size: 11px;" class="bordered">
        <tr>
            <td>
                <u>Observations éventuelles de l’agent :</u> :
            </td>
        </tr>
        <tr>
            <td>
                {% if crep.observationsAgentNotif is not null %}
                    {{ crep.observationsAgentNotif | nl2br }}
                {% else %}
                    <br><br><br><br><br>
                {% endif %}
            </td>
        </tr>
    </table>

    <!-- page 4 -->
    <div style="page-break-before:always;"></div>

    <div class="text-center title-crep bordered-top">
        <strong>3. OBJECTIFS ASSIGNÉS À L’AGENT POUR L’ANNÉE À VENIR</strong><br>
        <br>
    </div>
    <br>
    <table cellpadding="2" style="font-size: 11px;" class="bordered">
        <tr>
            <td>
                <strong><u>Rappel des principaux objectifs du service pour l'année à venir </u> (en lien avec le projet de service) :</strong>
            </td>
        </tr>
        <tr>
            <td>
                {% if crep.objectifsService is not null %}
                    {{ crep.objectifsService | nl2br }}
                {% else %}
                    <br><br><br><br><br>
                {% endif %}
            </td>
        </tr>
    </table>
    <br><br><br>
    <table cellpadding="5" style="font-size: 11px;">
        <tr class="text-center">
            <th class="bordered strong-th" width="42%">DESCRIPTION DES<br>OBJECTIFS</th>
            <th class="bordered strong-th" width="24%">DÉLAIS DE RÉALISATION</th>
            <th class="bordered strong-th" width="34%">MOYENS MIS A DISPOSITION<br>DE L’AGENT</th>
        </tr>
        {% if crep.objectifsFuturs is empty %}
            {% for index in 0..2 %}
                <tr class="text-left">
                    <td class="bordered"><br><br><br><br></td>
                    <td class="bordered"></td>
                    <td class="bordered"></td>
                </tr>
            {% endfor %}
        {% else %}
            {% for objectif in crep.objectifsFuturs %}
                <tr class="text-left">
                    <td class="bordered">{{ objectif.libelle | nl2br }}</td>
                    <td class="bordered">{{ objectif.echeance | nl2br  }}</td>
                    <td class="bordered">{{ objectif.indicateurs | nl2br  }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br><br>
    <div class="text-center title-crep bordered-top">
        <strong>4. ACQUIS DE L’EXPÉRIENCE PROFESSIONNELLE</strong><br>
    </div>
    <div class="text-left">
        <em>Ils sont appréciés, notamment, par rapport à la fiche de poste et au répertoire des métiers et
            des<br>compétences.</em>
    </div>
    <br>
    <table cellpadding="2" style="font-size: 11px;" class="bordered">
        <tr>
            <td>
                <u>Les compétences et connaissances acquises sur le poste</u> :
            </td>
        </tr>
        <tr>
            <td>
                {% if crep.acquisExperiencePro is not null %}
                    {{ crep.acquisExperiencePro | nl2br }}
                {% else %}
                    <br><br><br><br><br>
                {% endif %}
            </td>
        </tr>
    </table>