{% extends "crep/crepMj02/mj02.base.html.twig" %}

{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}

{% block content %}

{% if errors| length > 0 %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <strong>Le formulaire de CREP n'est pas valide.</strong><br>
        Veuillez rectifier votre saisie.
    </div>
{% endif %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
    {{ parent() }}
    {{ block('bouton_enregistrer') }}
    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
{% endblock content %}

{% block i01 %}
    {% include 'crep/crepMj02/_include/edit/0/1.html.twig' %}
{% endblock i01 %}

{% block i02 %}
    {% include 'crep/crepMj02/_include/edit/0/2.html.twig' %}
{% endblock i02 %}

{% block i03 %}
    {% include 'crep/crepMj02/_include/edit/0/3.html.twig' %}
{% endblock i03 %}




{% block javascripts %}
    {{ parent() }}
    <!-- chained -->
    <script src="{{ asset('js/chained.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            // Agent titulaire et agent non titulaire
            var libelleCorps = $("#crep_mj02_corps");
            var libelleGrade = $("#crep_mj02_grade");

            isCacheBloc(libelleCorps, libelleGrade);

            if ($("#crep_mj02_titulaire_0") && $("#crep_mj02_titulaire_1")) {
                if ($("#crep_mj02_titulaire_0").attr('checked')) {
                    isCacheBloc(libelleCorps, libelleGrade, false);
                }
            }

            $("#crep_mj02_titulaire_0").on('ifChanged', function(){
                isCacheBloc(libelleCorps, libelleGrade, false);
            });

            $("#crep_mj02_titulaire_1").on('ifChanged', function(){
                isCacheBloc(libelleCorps, libelleGrade);
                libelleCorps.val('');
                libelleGrade.val('');
            });

            // Activité d'encdrement
            var nbEncadres = $("#crep_mj02_nbAgentsEncadres");
            var nbEncadresA = $("#crep_mj02_nbAgentsEncadresA");
            var nbEncadresB = $("#crep_mj02_nbAgentsEncadresB");
            var nbEncadresC = $("#crep_mj02_nbAgentsEncadresC");

            isCacheBloc(nbEncadres, nbEncadresA);
            isCacheBloc(nbEncadresB, nbEncadresC);

            if ($("#crep_mj02_activiteEncadrement_0") && $("#crep_mj02_activiteEncadrement_1")) {
                if ($("#crep_mj02_activiteEncadrement_0").attr('checked')) {
                    isCacheBloc(nbEncadres, nbEncadresA, false);
                    isCacheBloc(nbEncadresB, nbEncadresC, false);
                }
            }

            $("#crep_mj02_activiteEncadrement_0").on('ifChanged', function(){
                isCacheBloc(nbEncadres, nbEncadresA, false);
                isCacheBloc(nbEncadresB, nbEncadresC, false);
            });

            $("#crep_mj02_activiteEncadrement_1").on('ifChanged', function(){
                isCacheBloc(nbEncadres, nbEncadresA);
                isCacheBloc(nbEncadresB, nbEncadresC);
                nbEncadres.val('');
                nbEncadresA.val('');
                nbEncadresB.val('');
                nbEncadresC.val('');
            });

        });

        //Fonction permettant de cacher ou non un bloc selon un choix de button radio
        function isCacheBloc(id1, id2 = false, isHide = true){
            var label1 = id1.parent().parent().find('label');
            if (id2) {
                var label2 = id2.parent().parent().find('label');
            }

            if (isHide) {
                label1.hide();
                id1.hide();
                if (id2) {
                    label2.hide();
                    id2.hide();
                }
            }else {
                label1.show();
                id1.show();
                if (id2) {
                    label2.show();
                    id2.show();
                }
            }
        }


    </script>
{% endblock javascripts %}
