{% extends "crep/crepMj02/mj02.base.html.twig" %}
{% block accueil %} {% endblock %}
{% block campagne %} active {% endblock %}
{% block content %}

    {{ block('alertAhNonIdentifie') }}
    {{ block('alertDebutEntretien') }}
    {{ block('alertRefusVisa') }}
    {{ block('alertRecours') }}
    {{ block('alertRefusNotification') }}
    {{ block('renvoyerAh') }}
    {{ block('renvoyerAgent') }}

    <div class="form-horizontal">
        {{ parent() }}
	</div>
    {{ block('boutons_actions') }}
{% endblock content %}

{% block i01 %}
    {% include 'crep/crepMj02/_include/show/0/1.html.twig' %}
{% endblock i01 %}

{% block i02 %}
    {% include 'crep/crepMj02/_include/show/0/2.html.twig' %}
{% endblock i02 %}

{% block i03 %}
    {% include 'crep/crepMj02/_include/show/0/3.html.twig' %}
{% endblock i03 %}

{% block i1 %}
    {% include 'crep/crepMj02/_include/show/i/1.html.twig' %}
{% endblock i1 %}

{% block i2 %}
    {% include 'crep/crepMj02/_include/show/i/2.html.twig' %}
{% endblock i2 %}

{% block ii1 %}
    {% include 'crep/crepMj02/_include/show/ii/1.html.twig' %}
{% endblock ii1 %}

{% block ii2 %}
    {% include 'crep/crepMj02/_include/show/ii/2.html.twig' %}
{% endblock ii2 %}

{% block ii3 %}
    {% include 'crep/crepMj02/_include/show/ii/3.html.twig' %}
{% endblock ii3 %}

{% block iii1 %}
    {% include 'crep/crepMj02/_include/show/iii/1.html.twig' %}
{% endblock iii1 %}

{% block iii2 %}
    {% include 'crep/crepMj02/_include/show/iii/2.html.twig' %}
{% endblock iii2 %}

{% block iv1 %}
    {% include 'crep/crepMj02/_include/show/iv/1.html.twig' %}
{% endblock iv1 %}

{% block iv2 %}
    {% include 'crep/crepMj02/_include/show/iv/2.html.twig' %}
{% endblock iv2 %}

{% block v1 %}
    {% include 'crep/crepMj02/_include/show/v/1.html.twig' %}
{% endblock v1 %}

{% block v2 %}
    {% include 'crep/crepMj02/_include/show/v/2.html.twig' %}
{% endblock v2 %}

{% block v3 %}
    {% include 'crep/crepMj02/_include/show/v/3.html.twig' %}
{% endblock v3 %}

{% block vi1 %}
    {% include 'crep/crepMj02/_include/show/vi/1.html.twig' %}
{% endblock vi1 %}

{% block vi2 %}
    {% include 'crep/crepMj02/_include/show/vi/2.html.twig' %}
{% endblock vi2 %}

{% block vi3 %}
    {% include 'crep/crepMj02/_include/show/vi/3.html.twig' %}
{% endblock vi3 %}

{% block vi4 %}
    {% include 'crep/crepMj02/_include/show/vi/4.html.twig' %}
{% endblock vi4 %}

{% block vii1 %}
    {% include 'crep/crepMj02/_include/show/vii/1.html.twig' %}
{% endblock vii1 %}

{% block vii2 %}
    {% include 'crep/crepMj02/_include/show/vii/2.html.twig' %}
{% endblock vii2 %}

{% block viii1 %}
    {% include 'crep/crepMj02/_include/show/viii/1.html.twig' %}
{% endblock viii1 %}

