<br/>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.prenom | title }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.nomUsage | upper }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {% if crep.dateNaissance %}{{ crep.dateNaissance | date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Corps </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.corps | nl2br }}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.grade }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Échelon </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.echelon }}
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nommé sur un emploi fonctionnel : </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.emploiFonctionnel == true %}checked="checked"{% endif %}
                >
            </label> Oui<label class="control-label">&nbsp;</label>
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                       {% if crep.emploiFonctionnel == false %}checked="checked"{% endif %}
                >
            </label> Non
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Si oui, préciser lequel</label>
        {% if crep.emploiFonctionnel %}
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.libelleEmploiFonctionnel }}
        </div>
        {% endif %}
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Et, le cas échéant, son groupe</label>
        {% if crep.emploiFonctionnel %}
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">
            {{ crep.groupeEmploiFonctionnel }}
        </div>
        {% endif %}
    </div>
</div>

<br>
