<style>
    .text-center {
        text-align: center;
    }

    .bordered {
        border: 1px #000000 solid;
    }

    .bg-full {
        background-color: #E9E9E9;
    }

    ul.demo {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    table {
        border: 1px #000000 solid;
    }

    th {
        border: 1px #000000 solid;
        font-size: 10px;
    }

    .radiobuttonchecked {
        width: 5px;
        height: 50px;
        border: 1px yellow solid;
        /*background-color:#880000;color:white;*/
    }

    td {
        font-size: 8px;
    }

    .fullbordered {
        border-left: 1px #000000 solid;
        border-right: 1px #000000 solid;
        border-top: 1px #000000 solid;
        border-bottom: 1px #000000 solid;
    }

    .bordered-left {
        border-left: 1px #000000 solid;
    }

    .bordered-top {
        border-top: 1px #000000 solid;
    }

    .bordered-bottom {
        border-bottom: 1px #000000 solid;
    }

    .bordered-right {
        border-right: 1px #000000 solid;
    }

</style>


<!-- page 1 -->
<br><br><br>
<table>
    <tr>
        <th colspan="2">AGENT</th>
        <th colspan="2">SUPERIEUR HIERARCHIQUE</th>
    </tr>
    <tr>
        <td width="15%">Nom :</td>
        <td width="35%" class="bordered-right">{{ crep.nomUsage | upper }}</td>
        <td width="15%">Nom :</td>
        <td width="35%">{{ crep.nomUsageShd | upper }}</td>
    </tr>
    <tr>
        <td>Prénom :</td>
        <td class="bordered-right">{{ crep.prenom | title }}</td>
        <td>Prénom :</td>
        <td>{{ crep.prenomShd | title }}</td>
    </tr>
    <tr>
        <td>Corps :</td>
        <td class="bordered-right">{{ crep.corps | title }}</td>
        <td>Fonction :</td>
        <td>{{ crep.fonctionExerceeShd | title }}</td>
    </tr>
    <tr>
        <td>Grade :</td>
        <td class="bordered-right">{{ crep.grade | title }}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Matricule :</td>
        <td class="bordered-right">{{ crep.matricule | title }}</td>
        <td></td>
        <td></td>
    </tr>
</table><br><br>


<div style="font-size: 18px" class="text-center">
    <strong>
        DIRECTION GENERALE DE L'AVIATION CIVILE<br>
    </strong>
    <br>
    <strong>
        COMPTE-RENDU DE L’ENTRETIEN PROFESSIONNEL<br>
        REGARDS SUR L'ANNÉE ÉVALUÉE
    </strong>
    <div style="font-size: 14px">ANNEE : {{ crep.agent.campagnePnc.anneeEvaluee }}</div>
</div>
<br><br>

<div class="col-md-6 col-sm-6 col-xs-12">
    Date de l'entretien :{% if crep.dateEntretien %}{{ crep.dateEntretien | date('d/m/Y') }}{% endif %}<br><br>
    <strong style="font-size: 10px">Nom du Service :</strong> {{ crep.service }}<br>
    <strong style="font-size: 10px">Intitulé du poste :</strong> {{ crep.posteOccupe }}<br>
</div>


<table>
    <tr>
        <td><strong style="font-size: 12px">LE CONTEXTE</strong><i>(politique, environnement, organisation, moyens,
                coopération interne ou
                externe,
                etc...)</i></td>
    </tr>
    <tr>
        <td>{{ crep.contexteAnneeEcoulee|nl2br }}<br><br><br><br></td>
    </tr>
</table>
<br><br>

<table>
    <tr>
        <th class="text-center"><strong>MISSIONS ET ACTIVITÉS</strong></th>
        <th class="text-center"><strong>ÉLÉMENTS OBSERVÉS</strong></th>
    </tr>
    <tr>
        <td class="bordered-right">➔ Quelles sont les principales contributions attendues sur le poste ?<br>
            {{ crep.descriptionPosteMission|nl2br }}</td>
        <td><u>Par le supérieur hiérarchique :</u><br>
            <i>La fiche de poste reflète-t-elle cette réalité ? Le contenu du poste a-t-il subi des modifications
                depuis le dernier entretien ? Contraintes liées au poste, à l'organisation, etc...</i><br>
            {{ crep.elementsObservesShd|nl2br }}<br><br><u>Par l'agent :</u><br><i>La fiche de poste reflète-t-elle
                cette réalité ? Le contenu du poste a-t-il
                subi des modifications depuis le dernier entretien ? Contraintes liées au poste, à l'organisation,
                etc...</i><br>
            {{ crep.elementsObservesAgent|nl2br }}</td>
        <br><br>
    </tr>
</table>
<br><br>

{#<font size="+1">#}
<u><strong>COMPOSANTES DU POSTE :</strong></u>
{#</font>#}
<br><br>

<table cellpadding="5">
    <tr>
        <th class="text-center" width="25%"><strong>COMPOSANTES</strong></th>
        <th class="text-center" width="15%"><strong>COMPOSANTE FAIBLE</strong></th>
        <th class="text-center" width="15%"><strong>COMPOSANTE MOYENNE</strong></th>
        <th class="text-center" width="15%"><strong>COMPOSANTE DOMINANTE</strong></th>
        <th class="text-center" width="30%"><strong>OBSERVATIONS</strong></th>
    </tr>

    {% for index, composantePoste in crep.composantesPostes %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ composantePoste.libelle }}</td> {% for index in 0..2 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if composantePoste.niveauRequis is not null and composantePoste.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;">{{ composantePoste.appreciation|nl2br }}</td>
        </tr>
    {% endfor %}

    {% for index, autreComposantePoste in crep.autresComposantesPostes %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ autreComposantePoste.libelle }}</td> {% for index in 0..2 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if autreComposantePoste.niveauRequis is not null and autreComposantePoste.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;">{{ autreComposantePoste.appreciation|nl2br }}</td>
        </tr>
    {% endfor %}
</table>

<!-- page 2 -->

<div style="page-break-before:always;"></div>

<table>
    <tr>
        <th style="font-size: 14px"><i>A - ATTEINTE DES OBJECTIFS ET ACTIONS CONDUITES</i></th>
    </tr>
</table><br><br>

<table>
    <tr>
        <th class="text-center"><strong>ÉLÉMENTS PRÉVUS</strong></th>
        <th class="text-center"><strong>ÉLÉMENTS OBSERVÉS</strong></th>
    </tr>
    <tr>
        <td height="100%" class="bordered-right"><strong>Objectifs
                permanents</strong><br><br>{{ crep.elementsPermanents|nl2br }}
            <br><br><strong>Objectifs particuliers</strong><br><br>{{ crep.elementsParticuliers|nl2br }}</td>
        <td class="bordered-bottom"><u>Par le supérieur hiérarchique :</u><br>Quels sont les réalisations et les
            résultats obtenus par l'agent ?<br>{{ crep.resultatsObtenusParAgent|nl2br }}
            <br><br>Y a-t-il des dossiers marquants non définis initialement (dans les objectifs de l'année écoulée
            et/ou dans
            la fiche de poste) dans lesquels l'agent s'est investi ?<br>{{ crep.resultatAutresActivites|nl2br }}<br><br><i>Difficultés
                particulières (éventuelles)</i><br>{{ crep.obsShdObjectifsEvalues|nl2br }}<br><br></td>
    </tr>
    <tr>
        <td height="0%" class="bordered-right"></td>
        <td><u>Par l'agent :</u><br>Quels sont les réalisations et les résultats obtenus par l'agent
            ?<br>{{ crep.resultatsObtenusParAgent|nl2br }}
            <br><br>Y a-t-il des dossiers marquants non définis initialement (dans les objectifs de l'année écoulée
            et/ou dans
            la fiche de poste) dans lesquels l'agent s'est investi ?<br>{{ crep.resultatAutresActivites|nl2br }}<br><br><i>Difficultés
                particulières (éventuelles)</i><br>{{ crep.obsShdObjectifsEvalues|nl2br }}<br><br></td>
    </tr>
</table>

<!-- page 3 -->

<div style="page-break-before:always;"></div>

<table>
    <tr>
        <th style="font-size: 14px"><i>B - CONTRIBUTIONS AUX COMPETENCES COLLECTIVES ET AU FONCTIONNEMENT DU SERVICE</i>
        </th>
    </tr>
</table><br>

<div style="font-size: 9px">Formation reçue/donnée, participation au développement des compétences et connaissances,
    capacité à créer une
    dynamique de groupe, capacité à s’insérer dans un groupe
    (cf. guides de l’évalué ou du compte rendu) , force de proposition, communication, participation à des groupes de
    travail stratégiques, vie sociale, intérim…
</div>
<br><br>
<table>
    <tr>
        <th class="text-center"><strong>ÉLÉMENTS PRÉVUS</strong></th>
        <th class="text-center"><strong>ÉLÉMENTS OBSERVÉS</strong></th>
    </tr>
    <tr>
        <td height="100%" class="bordered-right">{{ crep.obsCompetencesRequises|nl2br }}<br></td>
        <td><u>Par le supérieur hiérarchique :</u><br>{{ crep.elementsObsCompShd|nl2br }}<br><br></td>
    </tr>
    <tr>
        <td height="0%" class="bordered-right"></td>
        <td><u>Par l'agent :</u>{{ crep.elementsObsCompAgent|nl2br }}<br><br></td>
    </tr>
</table><br><br>

Commentaires éventuels de l'agent et/ou du supérieur hiérarchique :<br>


<!-- page 4 -->

<div style="page-break-before:always;"></div>

<table>
    <tr>
        <th style="font-size: 14px"><i>C – APPRÉCIATION DES CONNAISSANCES ET COMPÉTENCES PROFESSIONNELLES</i></th>
    </tr>
</table><br><br>

<u>Degré d'acquisitions au regard des besoins sur le poste :</u><br><br>

<table cellpadding="5">
    <tr>
        <th class="text-center" width="25%"><strong>COMPOSANTES</strong></th>
        <th class="text-center" width="15%"><strong>À DÉVELOPPER</strong></th>
        <th class="text-center" width="15%"><strong>EN COURS D'ACQUISITION</strong></th>
        <th class="text-center" width="15%"><strong>MAITRISÉE</strong></th>
        <th class="text-center" width="30%"><strong>OBSERVATIONS</strong></th>
    </tr>

    {% for index, competenceProfessionnelle in crep.competencesProfessionnelles %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ competenceProfessionnelle.libelle }}</td>
            {% for index in 0..2 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if competenceProfessionnelle.niveauRequis is not null and competenceProfessionnelle.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;"> {{ competenceProfessionnelle.appreciation|nl2br }} </td>
        </tr>
    {% endfor %}

    {% for index, autreCompetenceProfessionnelle in crep.autresCompetencesProfessionnelles %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ autreCompetenceProfessionnelle.libelle }}</td> {% for index in 0..2 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if autreCompetenceProfessionnelle.niveauRequis is not null and autreCompetenceProfessionnelle.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;">{{ autreCompetenceProfessionnelle.appreciation|nl2br }}</td>
        </tr>
    {% endfor %}
</table><br><br>

<u>Pour les agents en situation de management :</u><br><br>

<table cellpadding="5">
    <tr>
        <th width="25%"></th>
        <th class="text-center" width="21%">À DÉVELOPPER</th>
        <th class="text-center" width="21%">MAÎTRISÉ</th>
        <th class="text-center" width="33%">OBSERVATIONS</th>
    </tr>
    {% for index, competenceManageriale in crep.competencesManageriales %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ competenceManageriale.libelle }}</td>
            {% for index in 0..1 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if competenceManageriale.niveauRequis is not null and competenceManageriale.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;"> {{ competenceManageriale.appreciation|nl2br }} </td>
        </tr>
    {% endfor %}
</table><br><br>

<u>Synthèse sur la manière de servir :</u><br><br>

<table cellpadding="5">
    <tr>
        <th class="text-center" width="14%"></th>
        <th class="text-center" width="14%"><strong>FAIBLE</strong></th>
        <th class="text-center" width="14%"><strong>MOYEN</strong></th>
        <th class="text-center" width="14%"><strong>FORT</strong></th>
        <th class="text-center" width="14%"><strong>EXCELLENT</strong></th>
        <th class="text-center" width="30%"><strong>OBSERVATIONS</strong></th>
    </tr>
    {% for index, competenceSynthese in crep.competencesSyntheses %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ competenceSynthese.libelle }}</td>
            {% for index in 0..3 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if competenceSynthese.niveauRequis is not null and competenceSynthese.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;"> {{ competenceSynthese.appreciation|nl2br }} </td>
        </tr>
    {% endfor %}

    {% for index, autreCompetenceSynthese in crep.autresCompetencesSyntheses %}
        <tr>
            <td style="border: 1px #000000 solid;">{{ autreCompetenceSynthese.libelle }}</td> {% for index in 0..2 %}
                <td style="border: 1px #000000 solid;" class="text-center">
                    {% if autreCompetenceSynthese.niveauRequis is not null and autreCompetenceSynthese.niveauRequis == index %} X {% else %} {% endif %}</td>
            {% endfor %}
            <td style="border: 1px #000000 solid;">{{ autreCompetenceSynthese.appreciation|nl2br }}</td>
        </tr>
    {% endfor %}
</table><br><br>

<table>
    <tr>
        <th>Appréciaton générale :{{ crep.appreciationGenerale|nl2br }}</th>
    </tr>
</table><br><br>

<table>
    <tr>
        <th colspan="2">AGENT</th>
        <th colspan="2">SUPERIEUR HIERARCHIQUE</th>
    </tr>
    <tr>
        <td width="15%">Nom :</td>
        <td width="35%" class="bordered-right">{{ crep.nomUsage | upper }}</td>
        <td width="15%">Nom :</td>
        <td width="35%">{{ crep.nomUsageShd | upper }}</td>
    </tr>
    <tr>
        <td>Prénom :</td>
        <td class="bordered-right">{{ crep.prenom | title }}</td>
        <td>Prénom :</td>
        <td>{{ crep.prenomShd | title }}</td>
    </tr>
    <tr>
        <td>Corps :</td>
        <td class="bordered-right">{{ crep.corps | title }}</td>
        <td>Fonction :</td>
        <td>{{ crep.fonctionExerceeShd | title }}</td>
    </tr>
    <tr>
        <td>Grade :</td>
        <td class="bordered-right">{{ crep.grade | title }}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Matricule :</td>
        <td class="bordered-right">{{ crep.matricule | title }}</td>
        <td></td>
        <td></td>
    </tr>
</table><br><br>

<!-- page 5 -->

<div style="page-break-before:always;"></div>

<font size="+2" class="text-center">
    ENTRETIEN PROFESSIONNEL ANNEE {{ crep.agent.campagnePnc.anneeEvaluee }}<br>
    <strong>POUR L’ANNEE SUIVANTE 2018</strong>
</font><br><br>

<div class="col-md-6 col-sm-6 col-xs-12">
    Date de l'entretien :{% if crep.dateEntretien %}{{ crep.dateEntretien | date('d/m/Y') }}{% endif %}<br><br>
    Nom du Service : {{ crep.service }}<br>
    Intitulé du poste : {{ crep.posteOccupe }}<br>
</div><br>

<table>
    <tr>
        <th>CONTEXTE PRÉVISIBLE DE L'ANNÉE SUIVANTE<span style="font-size: 8px"><i>(politique, environnement, organisation, moyens, coopération interne
                    ou externe, etc)</i></span>
        </th>
    </tr>
    <tr>
        <td>{{ crep.contextePrevisibleAnnee|nl2br }}<br><br></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th style="font-size: 14px"><i>A - OBJECTIFS</i></th>
    </tr>
</table><br><br>

<table>
    <tr>
        <th class="text-center">RÉSULTATS ATTENDUS</th>
    </tr>
    <tr>
        <td class="bordered-bottom">Objectifs permanents :<br><br>{{ crep.objectifsPermanentsAvenir|nl2br }}<br></td>
    </tr>
    <tr>
        <td>Objectifs particuliers :<br><br>{{ crep.objectifsParticuliersAvenir|nl2br }}<br></td>
    </tr>
</table>

<!-- page 6 -->

<div style="page-break-before:always;"></div>

<table>
    <tr>
        <th style="font-size: 14px"><i>B - CONTRIBUTIONS AUX COMPÉTENCES COLLECTIVES</i></th>
    </tr>
</table><br>

<font size="8px">Pour les formations à recevoir, remplir obligatoirement la feuille prévue à cet effet (page
    annexe).</font><br><br>

<table>
    <tr>
        <th class="text-center">CONTRIBUTIONS PRÉVUES</th>
    </tr>
    <tr>
        <td>{{ crep.contributionsCompPrevues|nl2br }}<br><br><br></td>
    </tr>
    <tr>
        <td><strong><u>PERSPECTIVES D'ÉVOLUTION PROFESSIONNELLE :</u></strong><br><br></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <td class="bordered-right"><strong>Avis du supérieur hiérarchique sur les perspectives d'évolution<br><br><u>Mobilité
                    professionnelle
                    et/ou géographique :</u></strong><br>{{ crep.mobilite|nl2br }}<br><br><strong><u>Aptitude constatée
                    à exercer des
                    responsabilités supérieures :</u></strong><br>{{ crep.priseDeResponsabilites|nl2br }}<br><br></td>
        <td><strong>Souhaits de l'agent sur les perspectives
                d'évolution</strong><br>{{ crep.typeEvolutionCarriere|nl2br }}</td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th colspan="13">Mobilité souhaitée par l'agent</th>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="15"></td>
        <td width="3%"></td>
        <td width="26.6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="16%"></td>
        <td width="3%"></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%" style="font-size: 8px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center"></span>{% if crep.souhaitMobilite is not null and crep.souhaitMobilite == true %} X{% endif %}
        </td>
        <td width="6%" class="bordered-right">&nbsp;Oui</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.demarrageMobiliteSouhaitee is not null and crep.demarrageMobiliteSouhaitee == 0 %} X{% endif %}</span>
        </td>
        <td width="15%">&nbsp;Dès que possible</td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.demarrageMobiliteSouhaitee is not null and crep.demarrageMobiliteSouhaitee == 2 %} X{% endif %}</span>
        </td>
        <td width="14%" class="bordered-right">&nbsp;Dans 2 ans</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.memeService %} X{% endif %}</span>
        </td>
        <td width="16%">&nbsp;Au sein du service</td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.dansLeDepartement %} X{% endif %}</span>
        </td>
        <td width="25%" class="bordered-right">&nbsp;Dans le département (DDE, SN…)</td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="15"></td>
        <td width="3%"></td>
        <td width="26.6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="16%"></td>
        <td width="3%"></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.souhaitMobilite is not null and crep.souhaitMobilite  == false %} X{% endif %}</span>
        </td>
        <td width="6%" class="bordered-right">&nbsp;Non</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.demarrageMobiliteSouhaitee is not null and crep.demarrageMobiliteSouhaitee == 1 %} X{% endif %}</span>
        </td>
        <td width="15%">&nbsp;Dans 1 an</td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.demarrageMobiliteSouhaitee is not null and crep.demarrageMobiliteSouhaitee == 3 %} X{% endif %}</span>
        </td>
        <td width="14%" class="bordered-right">&nbsp;Dans 3 ans ou +</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.horsInterRegion %} X{% endif %}</span>
        </td>
        <td width="16%">&nbsp;Hors inter région</td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.dansInterRegion %} X{% endif %}</span>
        </td>
        <td width="25%" class="bordered-right">&nbsp;Dans inter région (CIFP…)</td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="15"></td>
        <td width="3%"></td>
        <td width="26.6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="16%"></td>
        <td width="3%"></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="15"></td>
        <td width="3%"></td>
        <td width="26.6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.region %} X{% endif %}</span>
        </td>
        <td width="16%">&nbsp;Région</td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.mobilitePoste is not null and crep.mobilitePoste.international %} X{% endif %}</span>
        </td>
        <td width="25%" class="bordered-right">&nbsp;International</td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="15"></td>
        <td width="3%"></td>
        <td width="26.6%" class="bordered-right"></td>
        <td width="3%"></td>
        <td width="3%"></td>
        <td width="16%"></td>
        <td width="3%"></td>
        <td></td>
    </tr>
</table><br><br>

NB : Il est rappelé que les agents qui le souhaitent peuvent évoquer ces questions en rencontrant un conseiller mobilité carrière.
<i>(Plus d'informations sur Bravo Victor/vie pratique/mobilité)</i><br><br>

Perspectives :<br>
<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.tempsPartiel %} X{% endif %}</span>
        </td>
        <td width="21%">&nbsp;Temps partiel</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center"> {% if crep.perspectives is not null and crep.perspectives.disponibilite %} X{% endif %}</span>
        </td>
        <td width="20%">&nbsp;Disponibilité</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.detachement %} X{% endif %}</span>
        </td>
        <td width="20%">&nbsp;Détachement</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.congesFormation %} X{% endif %}</span>
        </td>
        <td width="21%">&nbsp;Congés de formation</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.concours %} X{% endif %}</span>
        </td>
        <td width="20%">&nbsp;Concours</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.cpa %} X{% endif %}</span>
        </td>
        <td width="20%">&nbsp;CPA</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.retraite %} X{% endif %}</span>
        </td>
        <td width="21%">&nbsp;Retraite</td>
        <td width="3%"></td>
        <td width="3%" style="font-size: 4px" class="fullbordered"><span
                    style="font-size: 8px"
                    class="text-center">{% if crep.perspectives is not null and crep.perspectives.autres %} X{% endif %}</span>
        </td>
        <td width="20%">&nbsp;Autres</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <td style="font-size: 10px">Compte rendu notifié* à l'agent le
            : {{ crep.dateNotification | date('d/m/Y H:i') }}</td>
    </tr>
</table><br><br>

<div class="text-center" style="font-size: 14px">
    <strong>OBSERVATIONS ET SIGNATURES</strong>
</div>
<div style="font-size: 8px">(*l'agent dispose d'un délai de 10 jours à partir de la notification de ce compte rendu pour
    mettre ses observations et le signer)
</div>
<br><br>

<table>
    <tr>
        <th style="font-size: 11px"><strong>Observations de l'agent</strong></th>
    </tr>
</table><br><br>

<table>
    <tr>
        <th>{{ crep.observationsNotifAgent|nl2br }}</th>
    </tr>
</table><br><br>

<table>
    <tr>
        <th style="font-size: 11px"><strong>Signatures</strong></th>
    </tr>
</table><br><br>

Date : {{ crep.dateVisaAgent|date('d/m/Y H:i') }}<br>
Agent : {{ crep.agent.civilite|capitalize }} {{ crep.prenom|title }} {{ crep.nomUsage|capitalize }}<br><br>

Date : {{ crep.dateVisaShd | date('d/m/Y à H:i') }}<br>
Supérieur hiérarchique direct (N+1) :{% if crep.shdSignataire is not null %} {{ crep.shdSignataire | identite }} {% endif %}
<br><br>_____________________________________________________________________________________________________
Date : {{ crep.dateVisaAh|date('d/m/Y H:i') }}<br>
Autorité hiérarchique :{% if crep.ahSignataire is not null %} {{ crep.ahSignataire | identite }} {% endif %}<br><br>

<!-- page 7 -->

<div style="page-break-before:always">
    <table style="border: black 1px solid" width="100%">
        <tr>
            <td rowspan="2" width="8%">
                <div><img src="{{ asset('images/dgac2.png') }}" width="18px"></div>
            </td>
            <td width="5%"></td>
            <td width="87%" height="22px"
                style="font-size: 10px; border-left: black 2px solid; border-bottom: black 2px solid">ENTRETIEN
                PROFESSIONNEL - PARTIE FORMATION - ANNÉE {{ crep.agent.campagnePnc.anneeEvaluee }}
            </td>
        </tr>
        <tr>
            <td width="5%"><img src="{{ asset('images/dgac.png') }}" alt="DGAC" width="50px"
                                style="text-align : right"></td>
            <td width="87%" height="25px" style="font-size: 12px; border-left: black 2px solid">FICHE D'ÉVALUATION DES
                FORMATIONS MÉTIER SUIVIES EN {{ crep.agent.campagnePnc.anneeEvaluee }}
            </td>
        </tr>
    </table>
</div>

<strong style="font-size: 10px">L'Agent</strong><br><br>

<table>
    <tr>
        <td>
            Nom : {{ crep.nomUsage | upper }}<br>
            Corps : {{ crep.corps | title }}<br>
            Affectation : {{ crep.affectation | title }}<br>
        </td>
    </tr>
</table><br><br>

<strong style="font-size: 10px">Le Supérieur Hiérarchique</strong><br><br>

<table>
    <tr>
        <td>NOM et Prénom : {% if crep.ahSignataire is not null %} {{ crep.ahSignataire | identite }} {% endif %}<br>
        </td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th class="text-center"><strong>ÉVALUATION DES FORMATIONS LORS DE L'ANNÉE ÉCOULÉE</strong></th>
    </tr>
</table><br><br>

<table>
    <tr>
        <td class="text-center fullbordered" width="14%">Intitulé du stage</td>
        <td class="text-center fullbordered" width="9%">Indice de satisfaction (de 1 à 5)</td>
        <td class="text-center fullbordered" width="9%">Avez-vous utilisé cette formation (Oui/Non)</td>
        <td class="text-center fullbordered" width="18%">Commentaires de l'agent</td>
        <td class="text-center fullbordered" width="12%">&nbsp;Avez-vous utilisé la documentation ?</td>
        <td class="text-center fullbordered" width="13%">Formations complémentaires à prévoir</td>
        <td class="text-center fullbordered" width="25%">Avis du supérieur hiérarchique sur l'efficacité de la
            formation
        </td>
    </tr>
    {% if (crep.crepDgacFormationsSuivies is empty) %}
        {% for index in    0..1 %}
            <tr>
                <td class="text-center fullbordered"><br></td>
                <td class="text-center fullbordered"></td>
                <td class="text-center fullbordered"></td>
                <td class="text-center fullbordered"></td>
                <td class="text-center fullbordered"></td>
                <td class="text-center fullbordered"></td>
                <td class="text-center fullbordered"></td>
            </tr>
        {% endfor %}
    {% else %}
        {% for crepDgacFormationsSuivies in crep.crepDgacFormationsSuivies %}
            <tr>
                <td class="text-center fullbordered">{% if crep.crepDgacFormationsSuivies is not null %} {{ crepDgacFormationsSuivies.libelle }} {% endif %}</td>
                <td class="text-center fullbordered">{% if crep.crepDgacFormationsSuivies is not null %} {{ crepDgacFormationsSuivies.satisfaction }} {% endif %}</td>
                <td class="text-center fullbordered">
                    {% if crepDgacFormationsSuivies.utilisationFormation == 0 %} Oui
                    {% elseif crepDgacFormationsSuivies.utilisationFormation == 1 %} Non
                    {% endif %}
                </td>
                <td class="text-center fullbordered">{% if crep.crepDgacFormationsSuivies is not null %} {{ crepDgacFormationsSuivies.commentaireAgent|nl2br }} {% endif %}</td>
                <td class="text-center fullbordered">
                    {% if crepDgacFormationsSuivies.utilisationDocumentation == 0 %} Oui
                    {% elseif crepDgacFormationsSuivies.utilisationDocumentation == 1 %} Non
                    {% endif %}
                </td>
                <td class="text-center fullbordered">{% if crep.crepDgacFormationsSuivies is not null %} {{ crepDgacFormationsSuivies.formationComplementaire|nl2br }} {% endif %}</td>
                <td class="text-center fullbordered">{% if crep.crepDgacFormationsSuivies is not null %} {{ crepDgacFormationsSuivies.commentaires|nl2br }} {% endif %}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table><br>
<strong><i>* Indice 5 correspond à excellent</i></strong>
<br>

<!-- page 8 -->

<div style="page-break-before:always">
    <table style="border: black 1px solid" width="100%">
        <tr>
            <td rowspan="2" width="8%">
                <div><img src="{{ asset('images/dgac2.png') }}" width="18px"></div>
            </td>
            <td width="5%"></td>
            <td width="87%" height="22px"
                style="font-size: 10px; border-left: black 2px solid; border-bottom: black 2px solid">ENTRETIEN
                PROFESSIONNEL - PARTIE FORMATION - ANNÉE {{ crep.agent.campagnePnc.anneeEvaluee }}
            </td>
        </tr>
        <tr>
            <td width="5%"><img src="{{ asset('images/dgac.png') }}" alt="DGAC" width="50px"
                                style="text-align : right"></td>
            <td width="87%" height="25px" style="font-size: 12px; border-left: black 2px solid">FICHE D'ÉVALUATION DES
                FORMATIONS MÉTIER SUIVIES EN {{ crep.agent.campagnePnc.anneeEvaluee }}
            </td>
        </tr>
    </table>
</div>

<strong class="text-center" style="font-size: 12px">BESOINS EN FORMATION DE L'ANNÉE 2018</strong><br><br>

<table>
    <tr>
        <th>CONNAISSANCES TECHNIQUES À ACQUÉRIR</th>
    </tr>
    <tr>
        <td>- À la demande de l'agent :<br><br><br></td>
    </tr>
    <tr>
        <td>- À la demande de la hiérarchie :<br><br><br></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th>COMPÉTENCES PROFESSIONNELLES À DÉVELOPPER</th>
    </tr>
    <tr>
        <td>- À la demande de l'agent :<br><br><br></td>
    </tr>
    <tr>
        <td>- À la demande de la hiérarchie :<br><br><br></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th>PRÉPARATION AUX EXAMENTS ET CONCOURS POUR L'ANNÉE À VENIR</th>
    </tr>
    <tr>
        <td><br><br><br><br><br><br></td>
    </tr>
</table><br><br>

<table>
    <tr>
        <th>SOUHAITS DE FORMATIONS POUR LE DÉVELOPPEMENT PERSONNEL</th>
    </tr>
    <tr>
        <td><br><br><br><br><br><br></td>
    </tr>
</table><br><br>