{% use "Form/App_bootstrap_3_horizontal_layout.html.twig" %}

{% block _crep_mj02_objectifsEvalues_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {
                'label': false,
                'attr': {
                    'class': 'fieldCollection',
                    'style': 'width: 200%; min-height: 130px;'}
                })
            }}
        </td>
        <td>{{ form_row(form.resultatObtenu, {
                'label': false,
                'attr': {'class': 'fieldCollection', 'style': 'min-width: 165px;'},
                'required': false})
            }}
        </td>
        <td>
            {{ form_label(form.indicateurs, 'selon l\’agent :', {
                'label_attr': {'style': 'width: 158%;text-align: left;'},
                'required': false
            }) }}
            {{ form_row(form.indicateurs, {
                'attr': {'class': 'fieldCollection', 'style': 'width: 225%; min-height: 70px;'},
                'required': false})
            }}
            {{ form_label(form.indicateurs, 'selon le supérieur :', {
                'label_attr': {'style': 'width: 158%;text-align: left;'},
                'required': false
            }) }}
            {{ form_row(form.resultat, {
                'attr': {'class': 'fieldCollection', 'style': 'width: 225%; min-height: 70px;'},
                'required': false})
            }}
        </td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}

{% block _crep_mj02_competencesJudiciaires_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mj02_competencesEncadrements_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mj02_appreciationsGenerales_entry_widget %}
    {%  for child in form.niveauAcquis.children %}
        <td class="text-center">{{ form_row(child, {'label': false, 'attr': {'class': 'iCheckCollection'}}) }}</td>
    {% endfor %}
{% endblock %}

{% block _crep_mj02_objectifsFuturs_entry_widget %}
    <tr>
        <td>{{ form_row(form.libelle, {
                'label': false,
                'attr': {
                    'class': 'fieldCollection',
                    'style': 'width: 200%;'}
                })
            }}
        </td>
        <td>{{ form_row(form.echeance, {
                'label': false,
                'attr': {'class': 'fieldCollection'}}) }}
        </td>
        <td>{{ form_row(form.indicateurs, {
                'label': false,
                'attr': {
                    'class': 'fieldCollection',
                    'style': 'width: 200%;'}
                })
            }}
        </td>
        <td class="text-center"><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
    </tr>
{% endblock %}


{% block _crep_mj02_formationsAnneeEcoulee_entry_widget %}
    <tr>
        <td>
            <div class="text-right">
                <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_libelle">Intitulé ou thématique de la formation<span style="color:red;"> *</span></label>
                {{ form_row(form.libelle, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_objectif">Objet de la formation</label>
                {{ form_row(form.objectif, {'label': false}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_duree">Durée de la formation</label>
                {{ form_row(form.duree, {'label': false}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_cpf">Mobilisation du DIF (Oui/Non)</label>
                {{ form_row(form.cpf, {'label': false, 'label_attr': {'class' : 'radio-inline',
                        'style':'text-align:left;'} }) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_typologie">Cadre de la formation T1, T2 ou T3</label>
                {{ form_row(form.typologie, {'label': false}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_suivie">Suivies (oui/non) motifs</label>
                {{ form_row(form.suivie, {'label': false, 'label_attr': {'class' : 'radio-inline',
                        'style':'text-align:left;'} }) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                       for="crep_mj02_motifNonSuivie"></label>
                {{ form_row(form.motifNonSuivie, {'label': false, 'attr': {'id': 'motifNonSuivie'}}) }}
            </div>
        </td>
    </tr>
{% endblock %}


{% block _crep_mj02_formationsAnneeAvenir_entry_widget %}
    <tr>
        <td>
            <div class="text-right">
                <button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_libelle">Intitulé ou
                    thématique de la formation<span style="color:red;"> *</span></label>
                {{ form_row(form.libelle, {'label': false}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_objectif">Objet de la formation</label>
                {{ form_row(form.objectif, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_duree">Durée de la formation</label>
                {{ form_row(form.duree, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_cpf">Mobilisation du DIF (Oui/Non)</label>
                {{ form_row(form.cpf, {'label': false, 'label_attr': {'class' : 'radio-inline',
                        'style':'text-align:left;'} }) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_typologie">Cadre de la formation T1, T2 ou T3</label>
                {{ form_row(form.typologie, {'label': false, 'attr': {'class': 'formation-autocomplete'}}) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="crep_mj02_suivie">Suivies (oui/non) motifs</label>
                {{ form_row(form.suivie, {'label': false, 'label_attr': {'class' : 'radio-inline',
                        'style':'text-align:left;'} }) }}
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                       for="crep_mj02_motifNonSuivie"></label>
                {{ form_row(form.motifNonSuivie, {'label': false, 'attr': {'class': 'formation-autocomplete',
                        'id': 'motifNonSuivie'}}) }}
            </div>
        </td>
    </tr>
{% endblock %}

{# Fin collecions #}

{# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            {%- for error in errors -%}
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError"><i class="fa fa-times-circle"></i> {{ error.message }}</label>
                </div>
            {%- endfor -%}
        </div>

    {%- endif %}
{%- endblock form_errors %}
