<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Formations liées à l'adaptation immédiate<br>au poste de travail (T1)</th>
                    <th style="width: 15%" class="text-center">Sur demande de l'agent <sup>1</sup></th>
                    <th style="width: 15%" class="text-center">Avis du responsable hiérarchique <sup>1</sup></th>
                    <th style="width: 15%" class="text-center">Sur demande du responsable hiérarchique <sup>1</sup></th>
                    <th style="width: 15%" class="text-center">Échéance</th>
                </tr>
            </thead>
            <tbody>
                {% if  crep.formationsT1 is empty %}
                    {% for i in 0..2 %}
                        <tr>
                            <td><br></td><td></td><td></td><td></td><td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for formation in crep.formationsT1 %}
                        <tr>
                            <td>
                                {{ formation.libelle | nl2br }}
                            </td>
                            <td class="text-center">
                                {{ formation.demandeeAgent | iconCheck(true) | raw }}
                            </td>
                            <td class="text-center">
                                {{ formation.avisShd | iconCheck(true) | raw }}
                            </td>
                            <td class="text-center">
                                {{ formation.propositionAh | iconCheck(true) | raw  }}
                            </td>
                            <td class="text-center">
                                {{ formation.echeance | nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
