<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Formations liées au développement des qualifications<br>ou l’acquisition de nouvelles qualifications (T3)</th>
                <th style="width: 10%" class="text-center">Sur demande de l'agent<sup>1</sup></th>
                <th style="width: 15%" class="text-center">Avis du responsable hiérarchique<sup>1</sup></th>
                <th style="width: 15%" class="text-center">Sur demande du responsable hiérarchique<sup>1</sup></th>
                <th style="width: 10%" class="text-center">Recours au CPF<sup>2</sup></th>
                <th style="width: 10%" class="text-center">Échéance</th>
            </tr>
            </thead>
            <tbody>
            {% if  crep.formationsT3 is empty %}
                {% for i in 0..2 %}
                    <tr>
                        <td><br></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for formation in crep.formationsT3 %}
                    <tr>
                        <td>
                            {{ formation.libelle }}
                        </td>
                       	<td class="text-center">
                       		{{ formation.demandeeAgent | iconCheck(true) | raw }}
                       	</td>
                       	<td class="text-center">
                       		{{ formation.avisShd | iconCheck(true) | raw }}
                       	</td>
                       	<td class="text-center">
                       		{{ formation.propositionAh | iconCheck(true) | raw }}
                       	</td>
                       	<td class="text-center">
                       		{{ formation.cpf | iconCheck(true) | raw }}
                       	</td>
                       	<td class="text-center">
                            {{ formation.echeance }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
