<div class="row form-group">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Nom</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{
			crep.nomUsage|upper }}</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Prénom</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{
			crep.prenom|title }}</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Corps</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{ crep.corps }}
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Grade</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{ crep.grade }}
		</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Matricule</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{
			crep.matricule }}</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Nom de
			service</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{ crep.service
			}}</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">Intitulé du
			poste</label>
		<div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{{
			crep.posteOccupe }}</div>
	</div>
</div>
<br>